/**
* mainSearch styles
*/

@mixin mainSearch(){

  .mainSearch {
      &__form{
         
      }
    &__content {
       //   height:100%;
       // position:relative;
        padding:7px; 
        border-radius: 3px;
        background: cs('foreground');
    }
    &__input[type=text]{
        display: inline-block;
        margin: 0;
        padding: 0;
        width:91%;
        border:none;
        outline: none;
        font-size:0.8em;
        color: darken(cs('font-l'),8%);
        border-right: solid 1px silver; 
    }  
    &__submit[type=submit]{
        display: inline-block;
        border:none;
        background:none;
        margin: 0;
        padding: 0;
        width:8%;
        height:$line_height_ratio; 
        border-left: solid 1px; 
        opacity:0;
    }
    &__icon{
        position: absolute;
        width:8%;
        text-align: center;  
        top:0;
        height:100%;
    }
    &__result{
        position:absolute;
        padding: 0 .8em;
        left:0;
        right:0;
       // bottom:0;
        width: 100%;
       // margin-top:vr-block(1); 
        z-index: 33333;
        //background: #fff;
        //border: solid 1px cs('primary');
        //border-top:solid 1px cs('background-d');
        //margin: .5em auto 0 auto; 
       // padding: vr-block(.2);
        .productInline__content{
            margin-top: -1px;
             font-size: .8em;
             position: relative;
             padding: vr-block(.2);
             border: solid 1px cs('background-d');
             &:first-child{
                 border-top-style:dashed;
             }
             &:last-child{
                 border-bottom-left-radius: 6px;
                 border-bottom-right-radius: 6px;
                 border-bottom: solid 3px cs('background-d2');
             }
        }
    }
  }

}


////////////////////////////////////////
@include mainSearch();