/**
* mainSearch styles
*/

@mixin mainSearch(){

  .mainSearch {
      &__form{
         
      }
    &__content {
        height:100%;
        //position:relative;
        padding:7px; 
        border-radius: 3px;
        background: cs('foreground');
    }
    &__input[type=text]{
        display: inline-block;
        margin: 0;
        padding: 0;
        width:91%;
        border:none;
        outline: none;
        font-size:0.8em;
        color: darken(cs('font-l'),8%);
        border-right: solid 1px silver; 
    }  
    &__submit[type=submit]{
        display: inline-block;
        border:none;
        background:none;
        margin: 0;
        padding: 0;
        width:8%;
        height:$line_height_ratio; 
        border-left: solid 1px; 
        opacity:0;
    }
    &__icon{
        position: absolute;
        width:8%;
        text-align: center;  
        top:0;
        height:100%;
    }
    &__result{
        position:absolute;
        left:0;
        right:0;
        top:100%;
        width: 100%;
        z-index: 33333;
        background: #fff;
        border: solid 1px cs('primary');
        border-top-color: cs('background-d');
        margin-top: -1px;
       // margin: -2px -1px 0 -1px;
        padding: vr-block(.2);
        .productInline{
         
        }
    }
  }

}


////////////////////////////////////////
@include mainSearch();