@import "functions";
@mixin helpers() {
  .fadeIn{
    opacity: 1;
  }
  .fadeOut{
    opacity: 0;
  }
  .visible{
    display: block;
  }
  .hidden{
    display: none;
  }

  .f-left {
    float: left;
  }
  .f-right {
    float: right;
  }
  .clearfix {
    &:before,
    &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }
}