mixin MODULE-support()
	<!-- split modules/support -->
	.support__content(data-qcontent='module__support')
		section.support__section
			h3.support__sectionTitle Ваш менеджер
		section.support__section
			h3.support__sectionTitle Тех поддержка
		section.support__section
			h3.support__sectionTitle Настройки