/**
* support styles
*/

@mixin support(){

  .support {
    &__content {
        width:100%;
        font-size:0;
    }
    &__section {
        font-size: 1rem;
        width: 33.3333%;
        display:inline-block;
        padding: 30px 20px;
        border-right: 1px solid lighten(silver,15%);
        min-height: 500px;
        &:last-child{ 
            border:none};
    }
    &__sectionTitle{
        text-align: center;
    }
  }

}


////////////////////////////////////////
@include support();