mixin dashBoardElement(icon,text,className,type)
	-if (!className) className ='' 
	li.col.col-2-tl.dashBoardElement--active(class=''+className  data-qcontent='element__ICON-TITLE-TEXTS__dashBoardElement')
		-if (!type)
			a
				span.iconWrapper
					svg(class=' ' + classModifier)
						use(xlink:href="#" + icon)
				span.dashBoardElement__title=text  
		-if(type=='switcher')//mop_row 
			span.dashBoardElement__title.dashBoardElement__switcher='Режим ТЗ'
			+B-switcher()
		-if(type=='noticer')
			span.iconWrapper.loading-button(data-notice='12')
				svg(class=' ' + classModifier)
					use(xlink:href="#" + icon)
			span.dashBoardElement__title=text
		-if(type=='orderList')
			span.iconWrapper.iconWrapper--pickup
				svg(class=' ' + classModifier) 
					use(xlink:href="#" + icon)
			a(href'/').dashBoardElement__arr Пункт выдачи
		-if(type=='orderList')
			span.iconWrapper.iconWrapper--orderList(data-order='15')  
				svg(class=' ' + classModifier) 
					use(xlink:href="#" + icon)
			span.dashBoardElement__pricer='100 000р   '    
			a(href'/').dashBoardElement__arr Оформить заявку!!
			
			

