.dashBoardElement{
    vertical-align: middle;
    font-size:16px; 
    a{
        text-decoration:none;
        color: #fff;
        font-weight: bold;
        &:visited{
            color: #fff;
        font-weight: bold;
        }
    }
    //position: relative;
  &.dashBoardElement--active{  
       background:  cs('background'); 
     a{ color: cs('font-d2') !important;
          
      }  
       &:hover{
           background:cs('background');   
       }
   } 
    margin: 0;
    @include for-size(tablet-l-up){
        border-right: 1px solid cs('font-d2');
        border-bottom: none;
    }
    border-bottom: 1px solid cs('font-d2'); 
    cursor: pointer;
    transition: background .15s linear;
    display: inline-block;
     width:100%;

    width: 100%;
    height: 3em; 
    background: cs('font-d');  
    color: #fff;
    display: inline-block;
    padding: .4em .7em;
    text-align:left;
    &:hover{
        background: cs('font-d2');
    }
    #test{
        
    }
  .iconWrapper{
      width:10%; 
      height: 100%;
      margin-right: 3%;
      @include for-size(phone-only){
          margin-right: 10%;
      }
      display: inline-block;
      vertical-align:middle;
      text-align:center;
      //float:left; 
      @include for-size(tablet-p-up){
            width:5%;
      }
            @include for-size(tablet-l-up){
            width:20%;
      }
      svg{
          fill: cs('accent');
          width:80%;
          height :100%;
          @include for-size(tablet-p-up){
              width:30%;
          }
          @include for-size(tablet-l-up){
            width:40%;
      }
          
      }
     &--orderList{
         //width:70%; 
         position: relative;
         margin-right: 0;
         svg{
             fill:cs('succes');
         }
         &:after{ 
            content: attr(data-order);
            position: absolute;
            top:0;
            right:-20px;
            display:inline-block;
            width: 21px;
            height: 21px;
            padding-top:1px;
           //text-shadow: 1px 1px 0 #000;
            line-height:21px;
            text-align: center;
            border-radius: 50%;
            background:cs('succes-d2');
        }
         &:before{ 
            content: attr(data-price);
            position: absolute;
            bottom:0;
            right:-160%;
            display:inline-block;
           //text-shadow: 1px 1px 0 #000;
            line-height:20px;
            border-radius: 50%;  
           
        }
     }
  }
   &__title{  
       font-size: .8em;
       vertical-align: middle;
        display:inline-block;
        width:75%;
         text-align: left; 
        //line-height:3.2em;
        &--oreder{
             width:initial;
        }
        @include for-size(tablet-l-up){
            line-height:$line_height_ratio;
            
            &--oreder{
               
            }
          
        }
      }
    &__switcher {
      text-align:left;
      padding-left:vr-block(.5);
      width:65%;
      float:left;
    }
    &--notice{
        .iconWrapper{
            //position:absolute;
        }
        .iconWrapper:after{
            content: attr(data-notice);
           position: absolute;
           @include for-size(tablet-l-up){
                top:5% ;
                left:12%;
           }
            background: cs('font-d2');
            display:block;
            width: vr-block(1);
            height: vr-block(1);
            border-radius: 50%;
            border:solid 1px #fff;
            color:cs('accent-l');
        }
    }

   &__pricer{
       vertical-align:bottom;
   }
   &__arr{
       float:right;
       width:40%; 
      margin-top:.4em;
      display:inline-block;
       line-height:1.3;
       text-align: center;
       background: cs('succes-d2');
       padding: 2px 2px; 
       vertical-align:middle;
       border-radius: 5px;
       border:solid 1px cs('succes-l2');
       font-size:smaller;
       &:hover{
           background: cs('succes-l');     
       }
       &:active{
           background: darken(cs('succes-d2'),5%);
       } 
       @include for-size(phone-only){
           padding:.9em;  
           margin-top:.25em;  
       }
       @include a-set-frame(heart, 1.5s,  3s,infinity,linear,$frames:( 
            0:(transform:translate(0px,0px)),
            .3:(transform:translate(100px,50px)),
            .6:(transform:translateX(-100px)),
            1:(transform:translateX(0px)) 
    ));
   }

}