mixin dashBoardElement(icon,text,className,type)
	-if (!className) className =''
	li(class=''+className  data-qcontent='element__ICON-TITLE-TEXTS__dashBoardElement')
		-if (!type)
			span.iconWrapper
				svg(class=' ' + classModifier)
					use(xlink:href="#" + icon)
			span.dashBoardElement__title=text
		-if(type=='switcher')//mop_row
			span.dashBoardElement__title.dashBoardElement__switcher=text
			+B-switcher()
		-if(type=='noticer')
			span.iconWrapper(data-notice='1')
				svg(class=' ' + classModifier)
					use(xlink:href="#" + icon)
			span.dashBoardElement__title=text 
		-if(type=='orderList')
			span.iconWrapper.iconWrapper--orderList(data-order='10')
				svg(class=' ' + classModifier) 
					use(xlink:href="#" + icon)
			span.dashBoardElement__pricer='100 000р'
			a(href'/').dashBoardElement__arr Оформить заявку
			
			

