$bkgColor__b1:cs('accent');
$bkgColor__b1-hover:cs('accent-l2');
$color__b1-hover:cs('accent-d');
$color__b1:darken(cs('accent-d2'),10%);

.b1 {
    display: inline-block;
	position: relative;
	background-color: $bkgColor__b1;
	color: $color__b1;
	text-transform: uppercase;
	transition: background .2s linear;
	border: 2px solid cs('accent-d2');
	line-height: 1.7;
	border-radius: 5px; 
		&:hover, &:focus, &:active {      
		background-color: $bkgColor__b1-hover;
		border: 2px solid cs('accent-d2');
		}
		&:focus {
			outline: none;
		}
		&:hover, &:active {
			outline: none;
	}
}