/**
* priceAndStock styles
*/

@mixin priceAndStock(){

  .priceAndStock {
      .productCol__card &{
           height: vr-block(2);
      }
      .productCol__stock{
          &--out{
              color: cs('erorr');
          }
      }
      .productCol__lock{
          color: cs('erorr-d');
          font-weight: normal;
      }
    &__content {
        
    }
    &--sale{
        .productCol__price {
            line-height: 1.3;
        }
        .productCol__oldPrice{
            font-weight: normal;
            //text-align: left;
            line-height: 1;
           
            color: cs('font');
            display: block;
            font-size: .8em;
            text-decoration: line-through;
        }
    }
    &--part{
        line-height: 1.2;
    }
    .productInfo &--sale{
        .productCol__price {
            line-height: 1.7;
        }
         .productCol__oldPrice{
              margin-top: vr-block(.4);      
              font-size: .7em;  
         }
        
    }
  }    
  .productCol__mrcPrice{  
      display:block;
      font-size: 1rem;    
      color: cs('font-d');
      &:before{
          content: 'Мрц:';
          color: cs('font');
          font-size: .8em;
          margin-right: .2em;
      }
  }

}


////////////////////////////////////////
@include priceAndStock();