mixin C-priceAndStock(type,empty)
	-if(!type)
		.priceAndStock(data-qcontent='component__priceAndStock')
			span.productCol__price 14 300
				span.icon-ruble
			-if(!empty)
				span.productCol__stock.icon-tick В наличии
			-else
				span.productCol__stock.productCol__stock--out Нет В наличии
	-if(type == 'sale')
		.priceAndStock.priceAndStock--sale(data-qcontent='component__priceAndStock')
			span.productCol__price
				span.productCol__oldPrice 17 300
					span.icon-ruble
				| 14 300
				span.icon-ruble
			-if(!empty)
				span.productCol__stock.icon-tick В наличии
			-else
				span.productCol__stock.productCol__stock--out Нет В наличии
	-if(type == 'part')
		.priceAndStock.priceAndStock--sale(data-qcontent='component__priceAndStock')
			span.productCol__price
				span.productCol__mrcPrice 17 300
					span.icon-ruble
				| 14 300
				span.icon-ruble
			-if(!empty)
				span.productCol__stock.icon-tick В наличии
			-else
				span.productCol__stock.productCol__stock--out Нет В наличии