/**
* priceAndStock styles
*/

@mixin priceAndStock(){

  .priceAndStock {
      .productCol__card &{
           height: vr-block(2);
      }
      .productCol__stock{
          &--out{
              color: cs('erorr');
          }
      }
     
    &__content {
        
    }
    &--sale{
        .productCol__price {
            line-height: 1.3;
        }
        .productCol__oldPrice{
            font-weight: normal;
            //text-align: left;
            line-height: 1;
           
            color: cs('font');
            display: block;
            font-size: .8em;
            text-decoration: line-through;
        }
    }
    .productInfo &--sale{
        .productCol__price {
            line-height: 1.7;
        }
         .productCol__oldPrice{
              margin-top: vr-block(.4);
              font-size: .7em;
         }
        
    }
  }
  .productCol__mrcPrice{
      display:block;
      font-size: 1.4rem;
      color: cs('succes-d2');
      &:before{
          content: 'Мрц:';
          color: cs('font');
          font-size: .8em;
          margin-right: .65em;
      }
  }

}


////////////////////////////////////////
@include priceAndStock();