$color__material:cs('primary');
$color__material-visited:cs('primary');
$color__material-hover:cs('primary-l2');

a.material {    
	color: $color__material;  
	text-decoration: none;
	font-size: .9em; 

	&:visited {
		color: $color__material-visited;
	}
	&:hover,
	&:focus,  
	&:active {
		color: $color__material-hover; 
	     
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
	outline: none;
	}
}