@mixin owlSlider(){
	
.owlSlider{
}   
  .owl-dots{
    margin-top: vr-block(.4);
    text-align: center;
    .owl-dot{
      display: inline-block;
      width: .9em;
      height: .9em;
      border-radius: 50%;
      margin-right: vr-block(.2);
      background-color: cs('primary-d');


      &.active{
        background-color: cs('accent');
      }
    }

  }

}
@include owlSlider()