mixin owlSlider()
	<!-- split modules/owlSlider -->
	.owlSlider(data-qcontent='module__owlSlider')
		.ove-mainSlider.owl-carousel
				img(src='/source/images/slider/SL1.png')
				img(src='/source/images/slider/SL2.png')
				img(src='/source/images/slider/SL3.png')
	.sliderTitles
		ul.sliderTitles__list.group#js_sliderTitles
				li.sliderTitles__item.active.col.col-4-tl.col-4-m
					+I('discount','sliderTitle ib')
					h6.sliderTitles__title.ib Супер акция на ванны Монтерей1
				li.sliderTitles__item.col.col-4-tl.col-4-m
					+I('new1','sliderTitle ib')
					h6.sliderTitles__title.ib Супер акция на ванны Монтерей2
				li.sliderTitles__item.col.col-4-tl.col-4-m
					+I('new1','sliderTitle ib')
					h6.sliderTitles__title.ib Супер акция на ванны Монтерей3  