mixin owlSlider()
	<!-- split modules/owlSlider -->
	.owlSlider
		.ove-mainSlider.owl-carousel
			+holder('carousel','100px300')  
			+holder('carousel','100px300')  
			+holder('carousel','100px300')  