mixin owlSlider()
	<!-- split modules/owlSlider -->
	.owlSlider(data-qcontent='module__owlSlider')
		.ove-mainSlider.owl-carousel
			img(src='https://c.dns-shop.ru/original/st4/22163a4b24330492b9600e2cbc425e9f/6e2e2fad9eb49310bcdc204532ea30a3efb48a426896b3f26455636cc1e8e918.jpg')  
			img(src='https://c.dns-shop.ru/original/st4/8a1ec680aaa82691fd08a30930c5e100/7f6b5d80c2d0e14cdd42e2e4ebe39949cb113f3d5a7edbaf682bcfc4576eddcf.jpg')    
			img(src='https://c.dns-shop.ru/original/st4/b0409b63bd07c058211ec0ca2e217442/24b3088fe64f65c3755f2ce79afe7a6e3ea9278e25830ba58af2a1c4218732fa.jpg')
			img(src='https://www.onlinetrade.ru/img/actions/honor_894x293px_v3_894.jpg')