@mixin owlSlider(){
	
.owlSlider{
    //background: cs('background-d2');
    @include for-size(phone-only){
        margin-left: -1rem;
        margin-right: -1rem;  
    }
    //margin-bottom: vr-block(.8);
    position: relative;
    margin-top: -1.2rem;
    @include for-size(tablet-l-up){
        padding-top: vr-block(.8);
        margin-top: 0;
    }
    
} 
  .owl-dots{
    position:absolute;
    z-index:10000;
    bottom:0;
    left: vr-block(.8);
    text-align: center;  
    background-color: rgba(255,255,255,.5);
    padding: 0 vr-block(.2);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    @include for-size(phone-only){  
        display:none;
    }   
    .owl-dot{   
      display: none;
      width: .9em;
      height: .9em;
      border-radius: 50%;
      margin-right: vr-block(.2);
      background-color: cs('primary-d');
          &:last-child{
              margin-right: 0;
          }


      &.active{
        background-color: cs('accent');
      }
    }

  }
    
    .sliderTitles{
        &__list {
            
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
              border-bottom: solid 4px cs('background-d2');
        }
        &__item{
            background-color: cs('primary');
            border-right: solid 1px cs('background-d');
            padding: vr-block(.4) vr-block(.4);
            height: vr-block(2.80);
          
            //overflow: hidden;
            &:last-child{
                border-right: none;
            }
            .icon{
                fill: #fff;
            }
            &.active{
                position:relative;
                background: #fff;
              
                border-bottom-left-radius:6px;
                border-bottom-right-radius: 6px;
                & .icon{
                    fill:cs('primary');
                }
                 &:before{
                    content:'';
                    //width: 100%;  
                    display:block;
                    background: #9481ad;
                    height:6px;
                    position:absolute;
                    top:-6px;      
                    right:-1px;  
                    left:-1px;
                    z-index: 1;  
                    
                } 
                  
            }
        }
        &__title{
            cursor:pointer;
            color: #fff;  
            width: 73%;
              font-weight: normal;
            margin-left: 5%;
            vertical-align:middle;
            .active &{
                color: cs('primary');
                  font-weight: bold; 
            }
        }
    }







}
@include owlSlider()