mixin owlSlider()
	<!-- split modules/owlSlider -->
	.owlSlider(data-qcontent='module__owlSlider')
		.ove-mainSlider.owl-carousel
			+loop(3)
				img(src='https://www.onlinetrade.ru/img/actions/honor_894x293px_v3_894.jpg')
	.sliderTitles
		ul.sliderTitles__list.group#js_sliderTitles
				li.sliderTitles__item.active.col.col-4-tl
					+I('discount','sliderTitle ib')
					h6.sliderTitles__title.ib Супер акция на ванны Монтерей
				li.sliderTitles__item.col.col-4-tl
					+I('discount','sliderTitle ib')
					h6.sliderTitles__title.ib Супер акция на ванны Монтерей
				li.sliderTitles__item.col.col-4-tl
					+I('discount','sliderTitle ib')
					h6.sliderTitles__title.ib Супер акция на ванны Монтерей