.productBadge{
    
    padding: 0 vr-block(.4);   
    border: 1px solid ;
    line-height: 1.5;
    font-weight: bold;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 1px #000;
     .icon{
         height: 1rem;
         width: 1rem;
        
     }
    
    &--new {
       
        background: cs('succes-d');
        border-color: cs('succes-l');
        
    }
    &--sale {
       
        background: #fd7a76;
        border-color: cs('erorr-l');
    }
    &--hit {
       
        background: cs('accent');
        border-color: cs('accent-d');
    }
    &--discount{
            background: #cc0000;
            border-color: #cc0000;
            color: #ffffff;
    }
    &--recommending {
        //vertical-align: bottom;
        background: cs('primary');
        border-color: cs('primary-l'); 
        .icon{
            margin-right: .32em;
            vertical-align: middle;  
        }
         
        svg{
            fill:#fff;
            padding-bottom:3px; 
            
        }
    }
    
    
}