/* page STYLE */

.page {  

    &__content {

    }
    &__title {
        font-size: 1.7rem;
        margin-bottom: vr-block(.2);
        padding-left: vr-block(.5);
        //line-height: 1;
    }
    
        &--product{
        .page__content {
  
        }
        .page__title {
            font-size: 1.7rem;  
            //margin-top: vr-block(.4);
            margin-bottom:vr-block(.8);;
            //line-height: 1;
        }
    }
}