mixin LEVEL-page(title)
		.page(class = 'page--'+page.slug)
			.page__content(class = 'page__content'+ className data-qcontent="level__page")
				-if(page.slug != 'main')
					.group
						.col.col-12-tl
							h1.page__title=title    
				if block
					block