/* page STYLE */

.page {   

    &__content {  

    } 
    &__title {
        font-size: 1.7rem;   
        margin-bottom: vr-block(.2);
       // padding-left: vr-block(.5);   
        //line-height: 1;
       // margin-top: vr-block(1);
       
        @include for-size(phone-only){   
            text-align: center;
        }
    }  
    
        &--product{
        .page__content {
   
        }
        .page__title {
            font-size: 1.7rem; 
            color:cs('primary');
            @include for-size(phone-only){
                   padding: 0;
                   text-align: left;
                   font-size: 1.4em;
                   margin-bottom: vr-block(1)
               }
            margin-bottom:vr-block(.8);
            //line-height: 1; 
        }
       
    } &--text{ 
            padding: vr-block(1);
            background: cs('foreground');
            border-radius: 6px;
            border-bottom: solid 4px cs('background-d');
            margin-bottom: vr-block(1.5);
        }
}