@mixin projectBoard(){
  .pr {
    background-color: cs('primary');}
  .sc {
    background-color: cs('secondary');
  }
  .ac { background-color: cs('accent');}
  .bg { background-color: cs('bground');}
  .fg { background-color: cs('fground');}
  .cl { background-color: cs('font');}

  .cpr {
    color: cs('primary');}
  .csc {
    color: cs('secondary');}

  .cac { color: cs('accent');}
  .cbg { color: cs('background');}
  .cfg { color: cs('foreground');}
  .ccl { color: cs('font');}

  .pb-projectBoard {
    background: white;
  }
  .pb-section {
    border-bottom: 1px solid #ededed;
    @include space('module','tb','');
  }
  .pb-elementHeader{
    display:block;
  }
  .pb-element{
    @include space('element','r','');
  }
  .pb-colorBox{
    width: 90px;
    height: 90px;
    @include space('element','','t');
  }
  @each $role,$value in $colors-map{
    .pb-colorBox--#{$role}{
      background-color: $value;
    }
  }
  .pb-colorMaket section {
    font-size: 10px;
    @include space('block','','tb');
  }
  .pb-colorMaket {
    position: relative;
    border: solid;
    background-color: cs('bground');
    &:before{
      position: absolute;
      content: 'Background Color';
      top:5%;
      font-style: italic;
    }
  }
  .pb-colorMaket__ctn{
    position: relative;
    width: 80%;
    background-color: cs('fground');
    @include space('block','trbl','');
    margin: 0 auto;
    &:before{
      position: absolute;
      content: 'Foreground Color';
      top:2%;
      font-style: italic;
    }
  }
  .pb-colorMaket__header{
    height: 60px;
  }
  .pb-colorMaket__header__primary{
    @include space('component','trbl','');
    background-color: cs('primary');
    width: 70%;
  }
  .pb-colorMaket__header__secondary{
    @include space('component','trbl','');
    background-color: cs('secondary');
    width: 30%;
  }
  .pb-colorMaket__header__accent{
    width: 100%;
    @include space('component','trbl','');
    background-color: cs('accent');
  }
  .pb-colorMaket__body{
    @include space('component','trbl','');
  }
  .pb-colorMaket__body__section{
    @include space('block','tb','');
    background-color: cs('primary');
    &:first-child{
    }
  }
  .pb-colorMaket__body__section__header{
    @include space('element','tlbr','');
    background-color: cs('secondary');
  }
  .pb-colorMaket__body__section__accent{
    @include space('element','tlbr','tb');
    width: 45%;
    background-color: cs('accent');
  }
  .pb-colorMaket__footer {
    @include space('component','tlbr','');
    background-color: cs('primary');
  }
  .pb-colorMaket__hero{
    width: 30%;
    @include space('element','','r');
    float: left;
    font-size:16px;
    @include space('block','rl','');
    @include space('element','','b');
    color: cs('secondary');
    //border-bottom: solid 4em cs('secondary');
    button {
      border: none;
    }
  }
  .hierarchy{
    font-size: 1rem;
  }
  .hl1 {@extend %hierarhiLevel-1}
  .hl2 {@extend %hierarhiLevel-2}
  .hl3 {@extend %hierarhiLevel-3}
  .hl4 {@extend %hierarhiLevel-4}
  .hl-1 {@extend %hierarhiLevel--1}
  .hl-2 {@extend %hierarhiLevel--2}

  .lh {
    background-color: rgba(199, 61, 96, 0.63);
    color: #fff;
    text-shadow: 1px 1px rgb(6, 19, 25);
    @include space('element','l','');
    display: inline-block;
    width: 100%;

  }
  .fontSelector {
    @include space('component','','b');

    button {
      @include space('element','','t')
    }

  }
  
  .spacer{
    min-height: 1em;
    width: 100%;
    //margin-top:1em;
    span {
      text-shadow: 1px 1px rgb(6, 19, 25);
      @include space-i('element','-','trbl','tl');
      box-shadow: 2px 2px 2px silver;
      color:#fff;
      display: inline-block;
    }

  }
  .element-i {
    span{background: #1cfd6f !important;}

    background-image:
            linear-gradient(#1cff70 1px, transparent 1px),
            linear-gradient(90deg, #1cff70 1px, transparent 1px)!important;

    background-size: #{$line-height-ratio*$element_space_i}em #{$line-height-ratio*$element_space_i}em;

    height: size(4,'ei');

  }
  .element-o {
    span{
      background: #19cd63 !important;
    }

    background-image:
            linear-gradient(#19cd63 1px, transparent 1px),
            linear-gradient(90deg, #19cb62 1px, transparent 1px)!important;

    background-size: #{$line-height-ratio*$element_space_o}em #{$line-height-ratio*$element_space_o}em;
    height: size(3,'eo');

  }
  .component-i{
    span{
      background: #2d377a !important;
    }

    background-image:
            linear-gradient(#2d377b 1px, transparent 1px),
            linear-gradient(90deg, #2d377a 1px, transparent 1px)!important;

    background-size: #{$line-height-ratio*$component_space_i}em #{$line-height-ratio*$component_space_i}em;
    height: size(3,'ci');

  }
  .component-o{
    span {
      background: #2a2a55 !important;
    }

    background-image:
            linear-gradient(#282855 1px, transparent 1px),
            linear-gradient(90deg, #282854 1px, transparent 1px)!important;

    background-size: #{$line-height-ratio*$component_space_o}em #{$line-height-ratio*$component_space_o}em;
    height: size(3,'co');

  }

  .module-i{
    span{
      background: #fc4f1f !important;
    }

    background-image:
            linear-gradient(#fb4f1f 1px, transparent 1px),
            linear-gradient(90deg, #f94e1f 1px, transparent 1px)!important;

    background-size: #{$line-height-ratio*$module_space_i}em #{$line-height-ratio*$module_space_i}em;
    height: size(2,'mi');

  }
  .module-o{
    span {
      background: #ce441f !important;
    }

    background-image:
            linear-gradient(#cc431f 1px, transparent 1px),
            linear-gradient(90deg, #ca421f 1px, transparent 1px)!important;

    background-size: #{$line-height-ratio*$module_space_o}em #{$line-height-ratio*$module_space_o}em;
    height: size(2,'mo');

  }

  .block-i{
    span {
      background: #c82064 !important;
    }

    background-image:
            linear-gradient(#c72064 1px, transparent 1px),
            linear-gradient(90deg, #c62064 1px, transparent 1px)!important;

    background-size: #{$line-height-ratio*$block_space_i}em #{$line-height-ratio*$block_space_i}em;
    height: size(1,'bi');

  }
  .block-o{
    span{
      background: #9a214d !important;
    }

    background-image:
            linear-gradient(#99214c 1px, transparent 1px),
            linear-gradient(90deg, #99214c 1px, transparent 1px)!important;

    background-size: #{$line-height-ratio*$block_space_o}em #{$line-height-ratio*$block_space_o}em;
    height: size(1,'bo');

  }


  .pb-projectBoard .row>div{
    position: relative;
    background-color: rgba(86, 12, 12, 0.36);
    border-left: $gutter-width/2 solid #ff6547;
    border-right: $gutter-width/2 solid #ff6547;
    height: size(10,bi);
    text-align: center;
    color: #fff;
    padding-top: 40px;
    &:after{
      content: '';
      width: .07em;
      position: absolute;
      right: - $gutter-width/2 ;
      bottom: 0;
      top: 0;
      background-color: darken(#b43304,15%);
    }
  }
  .grid{
    h3{
      text-align: center;
    }
  }
#ball {
  width:100%;
}


}