/* modalWindow STYLE */

.modalWindow {

    &__content {
        width:100%;
        top:30px; 
        @include for-size(tablet-l-up){
             width: 40%;
             top:126px; 
            left:50%;
            margin-left:-20%;
        }
        position: fixed;
        
        background: cs('foreground'); 
        padding: 2.4em; 
  
    }
    &--hide{
        display:none;
        opacity:0; 
        margin-top:-25px;
    }
    
    &--hidden{
        display:none;
        opacity:0;
    }
    
    
    &__close {
        cursor: pointer;
        position:absolute;
        top:1em;
        right:1em;
        width: 1.4em;
        height: 1.4em;
    }
}