/* modalWindow STYLE */

.modalWindow {
     .toOrder{
            margin-top: vr-block(.8);
        }
    &__content {
        width:100%;
        @include for-size(tablet-l-up){
             margin: 0 auto;
             width: 400px;
            left:0;
            right:0;
        }
        position: fixed;
        
        background: cs('foreground'); 
        padding: 2.4em; 
  
    }
    &__title{ 
        margin-bottom: vr-block(.4);
        border-bottom: dashed 1px cs('background-d2')
    }
    &--hide{
        display:none;
        opacity:0; 
        margin-top:-25px;
    }
    
    &--hidden{
        display:none;
        opacity:0;
    }
    &--login{
        .modalWindow__content{  

            
        }
          
            input{
           
                width: 100%;
        }
       
    }
        &--signUp{

            input{
           
                width: 90%;  
        }
       
    }
    
    
    &__close {
        cursor: pointer;
        position:absolute;
        top:1em;
        right:1em;
        width: 1.4em;
        height: 1.4em;
    }
    &--searchm{
        
        .modalWindow__content{
            height: 100px;  
        }
    }
    .contactUs{
        display: block;
        padding: vr-block(.8);
        border: solid 1px cs('background-d');
        border-radius: 3px;
        margin-bottom: vr-block(.2); 
        &:hover{
            border-color: cs('primary');
        }
        
        
        
        
        
        
        
        
        
        
    }
}