ul.infoElement__container {

}
.infoElement{
  line-height:60px;

  .iconWrapper,h5,span{
    @include space-i('element','=','rl','');
    display: inline-block;
    //vertical-align: top;
  }
  .infoElement__icon{
    width: 60px;
    height: 60px;
    fill: cs('accent');
    vertical-align: top;
  }


}