@mixin debug-elem($db-color) {
  outline-style: dashed;
  outline-color: invert;
  outline-offset: -1px;
  outline-width: 1px;
  background-image: linear-gradient(to bottom, $db-color 0%, $db-color 100%), linear-gradient(to bottom, lighten($db-color, 10%) 0%, lighten($db-color, 10%));
  background-clip: content-box, padding-box;
  & ~ .debug-margins {
    position: absolute;
    font-weight: 900;
    color: #fff;
    background-color: $db-color;
    font-size: 12px;
    line-height: 1.1;
    border-radius: 20%;
  }
}

@mixin debug() {
$panel:#3c3f41;
$panel-inner:#2d2d2d;
$active: #e74c3c;

  $zBody: 0;
$zElement: 10;
$zInstrument: 100;
$zOverElement: 102;
$zGrid: 103px;
$zNotEdit: 1000;

  $db-headers-color: #e74c3c;
  $db-block-color: #8e44ad;
  $db-body-color: #312034;
  $db-p-color: #ffc114;
  $db-ul-color: #27ae60;
  $db-li-color: #2980b9;
  $db-col-color: #9e9b95;
  $db-ctn-color: #f39c12;
  $db-row-color: #f1c40f;
  $db-button-color: #5b7686;
  $db-link-color: #000786;
  $db-span-color: #86432c;
  $db-img-color: #d8ff00;
  $db-div-color: #401515;
  $db-main-color: #6168c1;
  $db-nav-color: #6bdabd;
  $db-tbl-color: #717171;
  $db-header-color:#f79b77;
  $db-footer-color:#4b4345;
  $db-article-color: #ee000a;
  $db-dl-color: #31142b;
  $db-dt-color: #581a52;
  $db-dd-color: #7a2273;
  $db-figure-color: #857506;
  $db-figcaption-color: #484200;
  $db-blockquote-color: #9bb6bd;
  $db-aside-color:#c6538c;
  $db-section-color: #dceb20;
  $db-form-color: #fc5c00;
  $db-i-color: #fc5c00;
  $db-tr-color: #292929;
  $db-th-color: #3a3a3a;
  $db-td-color: #555555;
  $db-input-color: #1d5548;
  $db-cite-color: #41535a;
  $db-label-color: #342f2a;
  $db-select-color: #3e552c;
  $db-textarea-color: #a78884;
  // container, row, clearfix, hide,

  // div-ctn-row-3div
  //ul-3li
  //dl-(3dt-dd)
  //div-span
  //a-div
  //form-3input-inputSubmit
  //div-form-input

  #ball {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 30%;
  }
  .debug main * {
    //background: none;
  }
  .debugElement {
    z-index: $zElement;
    opacity: .8;
    &:before {
      content: '';
      left: -.5em;
      position: absolute;
      width: 1em;
      margin-top: -.5em;
      top: 50%;
      height: 1em;
      background-color: purple;
      border-radius: 50%;
    }
    &:after {
      content: '';
      position: absolute;
      right: -.5em;
      top: 50%;
      margin-top: -.5em;
      width: 1em;
      height: 1em;
      background-color: purple;
      border-radius: 50%;
    }
  }

  @include grid-overlay(#0800f3);

  body.debug {
    background-color: $db-body-color;
  }
  .debug div:not(.colors div) {
    @include debug-elem($db-div-color);
  }

  .notEdit .div {
    background: $db-div-color !important;
  }
  .debug h1, .debug h2, .debug h3, .debug h4, .debug h5, .debug h6, .headers {
    @include debug-elem($db-headers-color);
  }
  .notEdit .headers {
   background-color: $db-headers-color !important;
  }
  .debug p {
    @include debug-elem($db-p-color);
  }
  .debug nav {
    @include debug-elem($db-nav-color);
  }
  .debug header {
    @include debug-elem($db-header-color);
  }
  .notEdit .header {
    background: $db-header-color !important;
  }
  .debug footer {
    @include debug-elem($db-footer-color);
  }
  .notEdit .footer {
    background: $db-footer-color !important;
  }
  .debug article {
    @include debug-elem($db-article-color);
  }
  .notEdit .article {
    background: $db-article-color !important;
  }
  .debug blockquote {
    @include debug-elem($db-blockquote-color);
  }
  .notEdit .blockquote {
    background: $db-blockquote-color !important;
  }
  .debug aside {
    @include debug-elem($db-aside-color);
  }
  .notEdit .aside {
    background: $db-aside-color !important;
  }

  .debug cite {
    @include debug-elem($db-cite-color);
  }
  .notEdit .cite {
    background: $db-cite-color !important;
  }
  .debug aside {
    @include debug-elem($db-label-color);
  }
  .notEdit .label {
    background: $db-label-color !important;
  }
  .debug select {
    @include debug-elem($db-select-color);
  }
  .notEdit .select {
    background: $db-select-color !important;
  }
  .debug textarea {
    @include debug-elem($db-textarea-color);
  }
  .notEdit .textarea {
    background: $db-textarea-color !important;
  }

  .debug section {
    @include debug-elem($db-section-color);
  }
  .notEdit .section {
    background: $db-section-color !important;
  }
  .debug input {
    @include debug-elem($db-input-color);
  }
  .notEdit .input {
    background: $db-input-color !important;
  }
  .debug form {
    @include debug-elem($db-form-color);
  }
  .notEdit .form {
    background: $db-form-color !important;
  }


  .notEdit .nav {
    background: $db-nav-color !important;
  }
  .notEdit .prgrph {
    background: $db-p-color !important;
  }
  .debug ul {
       @include debug-elem($db-ul-color);
     }
  .notEdit .ul {
    background: $db-ul-color !important;

  }
  .debug table {
    @include debug-elem($db-tbl-color);
  }
  .notEdit .tbl {
    background: $db-tbl-color !important;

  }
  .debug li {
    @include debug-elem($db-li-color);
  }
  .notEdit .li {
    background: $db-li-color !important;
  }
  .debug main {
    @include debug-elem($db-main-color);
  }
  .notEdit .main {
    background: $db-main-color !important;
  }
  ///
  .debug dl {
    @include debug-elem($db-dl-color);
  }
  .notEdit .dl {
    background: $db-dl-color !important;
  }
  .debug dt {
    @include debug-elem($db-dt-color);
  }
  .notEdit .dt {
    background: $db-dt-color !important;
  }
  .debug dd {
    @include debug-elem($db-dd-color);
  }
  .notEdit .dd {
    background: $db-dd-color !important;
  }
  .debug figure {
    @include debug-elem($db-figure-color);
  }
  .notEdit .figure {
    background: $db-figure-color !important;
  }

  .debug figcaption {
    @include debug-elem($db-figcaption-color);
  }
  .notEdit .figcaption {
    background: $db-figcaption-color !important;
  }
  .debug *[class^="col-"] {
    @include debug-elem($db-col-color);
  }

  .debug .container {
    @include debug-elem($db-ctn-color);
  }
  .debug .row {
    @include debug-elem($db-row-color);
  }
  .debug .block {
    @include debug-elem($db-block-color);
  }
  .debug a {
    @include debug-elem($db-link-color);
  }
  .notEdit .link {
   background: $db-link-color !important;
  }
  .debug button {
    @include debug-elem($db-button-color);
  }
  .notEdit .button {
    background: $db-button-color !important;
  }
  .debug span {
    @include debug-elem($db-span-color);
  }
  .debug .notEdit span {
   background: none;
    outline: none;
  }
  .debug i {
    @include debug-elem($db-i-color);
  }
  .notEdit .i {
    background: $db-i-color !important;

  }
  .debug tr {
    @include debug-elem($db-tr-color);
  }
  .notEdit .tr {
    background: $db-tr-color !important;

  }
  .debug td {
    @include debug-elem($db-td-color);
  }
  .notEdit .td {
    background: $db-td-color !important;

  }
  .debug th {
    @include debug-elem($db-th-color);
  }
  .notEdit .th {
    background: $db-th-color !important;

  }


  .notEdit .span {
    background: $db-span-color !important;
  }
  .debug img, .debug svg {
    @include debug-elem($db-img-color);
  }

  .debugPannel__wrapper {

    background: #3c3f41 !important;
    box-shadow: 2px -1px 0px 0px #2f2d2d;
    border-top: solid 1px #b19e9e;
    position: fixed !important;
    z-index: $zNotEdit;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: size(3, mo);
    @include space-i('component', '-', 'tb', '');
    @include space-i('component', '|', 'rl', '');
    * {
      outline: none !important;
      color: #fff;
    }
  }
  .debugPannel {
    background: #3c3f41 !important;
  }
  .debugPannel__section {
    &:last-child {
      width: 18%;
    }
     button {
      font-size: 10px !important;
      border: none;
      background:#006eb7 !important;
      margin: 0;
      &:hover {
        background-color: darken(#006eb7, 5%) !important;
      }
      &:active {
        background-color: darken(#006eb7, 15%) !important;
      }
      &.on {
        background-color: darken(#006eb7, 30%) !important;
        border-bottom: 2px solid #006eb7;
      }

    }
    background: #3c3f41 !important;
    ul.debugPannel__colorSpecific {
      background: #3c3f41 !important;
    }
  }

  .debugPannel__colorSpecific li {
    display: inline-block;
    vert-align: top;
    text-align: center;
    //margin-left: -4px;
    //background: #fff !important;
    max-height: $line-height-ratio+em;
    overflow: hidden;
    cursor: pointer;
  }
  .ui-resizable-handle {
    background: transparent !important;
  }
  .notifyjs-tagClassInfo-base {
    background: #ffff00 !important;
    @include space-i('element', '-', 'trbl', '');
    z-index: $zOverElement;
    position: absolute;
    line-height: 1.7rem !important;
    span {
      background: transparent !important;
    }
  }
  .mod {
    position: absolute;
    top: 0;
    left: 0;

  }
  .rect {
    width: 200px;
    height: 200px;
    background: #ffef8f;
  }
  .prgph {
    overflow: hidden;
    max-width: 60em;
  }
  .debugPannel button {
    display: inline-block;
  }
  .grid--debug {
    position: fixed;
    pointer-events: none;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $zGrid;
    opacity: .5;
    .container, .row, div[class^='col-'] {
      height: 100%;
    }
    div[class^='col-'] {

    }

  }
  .editorsContainer,.notEdit{
    z-index: $zNotEdit;
  }
  .debug .pb-colorBox {
    width: 12px;
    height: 12px;
    div {
    }
  }
  .colors {
    .pb-element:first-child {
      padding-right: 50px;
    }
  }
  .colors * {

    color: #000000 !important;
    .pb-colorBox {
      margin-top: .45em;
    }
  }
  .htmlToPug {
    position: fixed;
    top: 0;
    bottom: 0;
  }
  .tagChecker {
    position: absolute;
    font-size: 10px;
    top: 5px;
    line-height: 1rem;
    background-color: tomato;
    color: #fff;
  }
  .eventLock {
    pointer-events: none;
    &:before {
      content: 'Lock';
      position: absolute;
      top: 10px;
      left: 0;
    }
  }
  .debug-Pannel-Right {
    position: fixed;
    top: 0;
    width: 10%;
    right: 0;
    bottom: 0;
    background-color: #fff;
    display: none;
  }

  .mediaMap {
    position: fixed !important;
    width: 100%;
    top: 0px;
    background-color: #d2cfd2;
    .icon {
      width: 2em;
      height: 2em;
      background: transparent !important;
    }
    span {
      color: #fff;
      font-size: 11px;
      margin-left: -15px;
    }
    li {
      display: inline-block;
      background: none !important;
    }
  }
  .mediaMap__bounder {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    border-left: 4px solid;
    border-right: 4px solid;
    &.tp {
      color: #444386;
      span {
        background-color: #444386;
      }
    }
    &.tl {
      color: #862e28;
      span {
        background-color: #862e28;
      }
    }
    &.d {
      color: #a45b13;
      span {
        background-color: #a45b13;
      }
    }
  }
  .mediaMap__container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    bottom: 0;
    &.tp {
      background: #4b4f86;
      span {
        background-color: #444386;
      }
    }
    &.tl {
      background: #86242a;
      span {
        background-color: #86242a;
      }
    }
    &.d {
      background: #a46417;
      span {
        background-color: #a46417;
      }
    }
  }
  .icon-breakpoits {
    margin-top: -30px;
  }
  .iframeWrapper {

  }
  #project-debug {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    .debugPannel {
      display: none;

    }
  }
  #viewpr-list {
    position: fixed;
    top: 0;
    left: 0;
  }
  .modPannel {
    position: absolute;
    background: #fff;
    box-shadow: 3px 3px 2px silver;
  }
  .editorsContainer {
    background:$panel;
    padding-top: 30px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 450px;
    background: #3c3f41 !important;
    box-shadow: 2px -1px 0px 0px #2f2d2d;
    border-top: solid 1px #b19e9e;
  }
  body.debug {
    padding-top: 50px;
  }
  .editor {
    width: 32.5%;
    margin-right: 1.25%;
    height: 400px;
    float: left;
    &:last-child {
      margin: 0;
    }
  }
  #editorPug {
    .ace_gutter {
      background: #a86454;
    }
  }
  #editorScss {
    .ace_gutter {
      background: #c6538c;
    }
  }
  #editorJs {
    .ace_gutter {
      background: #E1AF25;
    }
  }
  #getCode{
    line-height: 1;
    font-size: 12px;
    padding: 5px;
    background-color: darkred;
    color: #fff;
  }
  .panellInner,.ui-tabs {
    background: $panel-inner !important;
    border:none !important;
  }
  ul.panellInner{
    border:none !important;
  }
  .notEdit {
    a,li,ul,div,h1,h2,h3,h4,h5,h6,p,span,button,.col-1-tp,.row{
      background: none;
    }
    .tabAnchr {
      border-radius: 0%;
      background: $panel;
      padding: .2em !important;
      font-size: 14px !important;
    }
  }
  .ui-tabs .ui-tabs-panel{
    padding: 0.3em 0.2em !important;
  }
  li.ui-state-default{
    border:none !important;
  }
  li.ui-tabs-active{
    background:$active !important;
    color:#fff !important;
  }
  .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color:#fff !important;
  }
  .ui-state-default a{
    color: #c3c3c3 !important;
  }
  .tabList.elAdder{
    font-size: 12px !important;
  }

  .ace-tomorrow-night-eighties {
    background-color: #2D2D2D !important}

  .elAdder {
    .clearfix {
      margin-top: 4px;
    }
  }
  .mChacker{

    line-height: 1;
    font-size: 50%;
    color: azure;
    padding-top: 3%;
    overflow: hidden;

    background: repeating-linear-gradient(
                    45deg,
                    #606dbc,
                    #606dbc 10px,
                    #465298 10px,
                    #465298 20px
    );

  }
}