@mixin debug-elem($db-color) {
  outline-style: dashed;
  outline-color: invert;
  outline-offset: -1px;
  outline-width: 1px;
  background-image: linear-gradient(to bottom, $db-color 0%, $db-color 100%), linear-gradient(to bottom, lighten($db-color, 10%) 0%, lighten($db-color, 10%));
  background-clip: content-box, padding-box;
  & ~ .debug-margins {
    position: absolute;
    font-weight: 900;
    color: #fff;
    background-color: $db-color;
    font-size: 12px;
    line-height: 1.1;
    border-radius: 20%;
  }
}

@mixin debug() {

  $db-headers-color: #e74c3c;
  $db-block-color: #8e44ad;
  $db-body-color: #312034;
  $db-p-color: #ffc114;
  $db-ul-color: #27ae60;
  $db-li-color: #2980b9;
  $db-col-color: #9e9b95;
  $db-ctn-color: #f39c12;
  $db-row-color: #f1c40f;
  $db-button-color: #5b7686;
  $db-link-color: #000786;
  $db-span-color: #86432c;
  $db-img-color: #d8ff00;
  $db-div-color: #401515;
  #ball {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 30%;
  }
  .debug main * {
    background: none;
  }
  .debugElement {
    text-align: center;
    z-index: 100000000;
    opacity: .7;
  }

  @include grid-overlay(#0800f3);

  body.debug {
    background-color: $db-body-color;
  }
  .debug div {
    @include debug-elem($db-div-color);
  }
  .debug h1, .debug h2, .debug h3, .debug h4, .debug h5, .debug h6, .headers {
    @include debug-elem($db-headers-color);
  }
  .debug p {
    @include debug-elem($db-p-color);
  }
  .debug ul {
    @include debug-elem($db-ul-color);
  }
  .debug li {
    @include debug-elem($db-li-color);
  }
  .debug *[class^="col-"] {
    @include debug-elem($db-col-color);
  }

  .debug .container {
    @include debug-elem($db-ctn-color);
  }
  .debug .row {
    @include debug-elem($db-row-color);
  }
  .debug .block {
    @include debug-elem($db-block-color);
  }
  .debug a {
    @include debug-elem($db-link-color);
  }
  .debug button {
    @include debug-elem($db-button-color);
  }
  .debug span:not([class^="lh"]) {
    @include debug-elem($db-span-color);
  }
  .debug img, .debug svg {
    @include debug-elem($db-img-color);
  }

  .debugPannel__wrapper {
    position: fixed !important;
    background: #fff !important;
    z-index: 100000000;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: size(2, mo);
    box-shadow: -2px 3px 20px 0px #000000;
    @include space-i('component', '-', 'tb', '');
    @include space-i('component', '|', 'rl', '');
    * {
      outline: none !important;
      color: #fff;
    }
  }
  .debugPannel {
    background: #fff !important;
  }
  .debugPannel__section {
    width: 33%;
    background: #fff !important;
    ul.debugPannel__colorSpecific {
      background: #fff !important;
    }
  }

  .debugPannel__colorSpecific li {
    display: inline-block;
    vert-align: top;
    width: 10%;
    text-align: center;
    margin-left: -4px;
    //background: #fff !important;
  }
  .ui-resizable-handle {
    background: transparent !important;
  }
  .notifyjs-tagClassInfo-base {
    background: #ffff00 !important;
    @include space-i('element','-','trbl','');
    z-index: 1111111111111111111111;
    position: absolute;
    line-height: 1.7rem !important;
    span {
      background: transparent !important;
    }
  }
  .mod {
    position: absolute;
    top:0;
    left:0;

  }
  .rect{
    width: 200px;
    height: 200px;
    background: #ffef8f;
  }
  .prgph {
    overflow: hidden;
    max-width: 60em;
  }
  .debugPannel button {
    display: inline-block;
  }
  .grid--debug{
    position: fixed;
    pointer-events: none;
    padding:0;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 9999999999999999999999999999999999;
    opacity: .5;
    .container,.row,div[class^='col-']{
      height: 100%;
    }
    div[class^='col-']{
     // background: brown !important;
    }

  }
}
