@mixin debug-elem($db-color) {
  outline-style: dashed;
  outline-color: invert;
  outline-offset: -1px;
  outline-width: 1px;
  background-image: linear-gradient(to bottom, $db-color 0%, $db-color 100%), linear-gradient(to bottom, lighten($db-color, 10%) 0%, lighten($db-color, 10%));
  background-clip: content-box, padding-box;
  & ~ .debug-margins {
    position: absolute;
    font-weight: 900;
    color: #fff;
    background-color: $db-color;
    font-size: 12px;
    line-height: 1.1;
    border-radius: 20%;
  }
}

@mixin debug() {






$panel:#3c3f41;
$panel-inner: rgb(43, 43, 43);
$active: #e74c3c;
$activeButton: #00b3ee;
  $activeButtonHover: #005f9e;
  $zBody: 0;
$zElement: 10;
$zInstrument: 100;
$zOverElement: 102;
$zGrid: 103px;
$zNotEdit: 1000;
.starter {
  width: 100%;
  height: 100%;
  background-color: #2a2a55;
  z-index: $zGrid;
}
  .quant {
    background: #2b2b2b !important;
    color: $activeButton;
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    margin-bottom: 32px;
    padding-left: 39px;
    span {
      padding-left: 7px;
      font-size: 37px;
      color: #fff;
    }
    .ver {
      float: right;
      padding: 24px;
      font-size: 12px;
      color: #fc9627;
    }
  }
  $db-headers-color: #f1443d;
  $db-block-color: #8e44ad;
  $db-body-color: #312034;
  $db-p-color: #e52464;
  $db-ul-color: #27ae60;
  $db-li-color: #2980b9;
  $db-col-color: #9e9b95;
  $db-ctn-color: #f39c12;
  $db-row-color: #f1c40f;
  $db-button-color: #5b7686;
  $db-link-color: #000786;
  $db-span-color: #86432c;
  $db-img-color: #d8ff00;
  $db-div-color: #401515;
  $db-main-color: #6168c1;
  $db-nav-color: #6bdabd;
  $db-tbl-color: #717171;
  $db-header-color:#f79b77;
  $db-footer-color:#4b4345;
  $db-article-color: #ee000a;
  $db-dl-color: #31142b;
  $db-dt-color: #581a52;
  $db-dd-color: #7a2273;
  $db-figure-color: #857506;
  $db-figcaption-color: #484200;
  $db-blockquote-color: #fc9627;
  $db-aside-color:#c6538c;
  $db-section-color: #dceb20;
  $db-form-color: #fc5c00;
  $db-i-color: #fc5c00;
  $db-tr-color: #292929;
  $db-th-color: #3a3a3a;
  $db-td-color: #555555;
  $db-input-color: #1d5548;
  $db-cite-color: #41535a;
  $db-label-color: #342f2a;
  $db-select-color: #3e552c;
  $db-textarea-color: #a78884;
  // container, row, clearfix, hide,

  // div-ctn-row-3di
  //ul-3li
  //dl-(3dt-dd)
  //div-span
  //a-div
  //form-3input-inputSubmit
  //div-form-input

  #ball {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 30%;
  }
  .debug main * {
    //background: none;
  }
  .debugElement {
    z-index: $zElement;
    opacity: .8;
    cursor: move;
    &:before {
      content: '';
      left: -.5em;
      font-size: 1rem !important;
      position: absolute;
      width: 1em;
      margin-top: -.5em;
      top: 50%;
      height: 1em;
      background-color: purple;
      border-radius: 50%;
    }
    &:after {
      content: '';
      position: absolute;
      font-size: 1rem !important;
      right: -.5em;
      top: 50%;
      margin-top: -.5em;
      width: 1em;
      height: 1em;
      background-color: purple;
      border-radius: 50%;
    }
  }

//  @include grid-overlay(#0800f3);

  body.debug {
   // background-color: $db-body-color;
    cursor: crosshair;
    margin-top: 40px;
    background-color: #2b2b2b;
    background-image: //linear-gradient(white 2px, transparent 2px),
            //linear-gradient(90deg, white 2px, transparent 2px);
            linear-gradient(rgba(60, 63, 65, 0.3) 1px, transparent 1px),
            linear-gradient(90deg, rgba(60, 63, 65, 0.3) 1px, transparent 1px),
            linear-gradient(#4a4e4f 1px, transparent 1px),
            linear-gradient(90deg, #4a4e4f 1px, transparent 1px);
    background-size: 1rem 1rem, 1rem 1rem,
    5rem 5rem, 5rem 5rem;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -7px;
  }
  .canvas__border{
  }
  .canvas__blueprint{

  }
  .canvas{
    position: absolute;
  }






  .debug div:not(.colors div) {
    @include debug-elem($db-div-color);
  }

  .notEdit .div {
    background: $db-div-color !important;
  }
  .debug h1, .debug h2, .debug h3, .debug h4, .debug h5, .debug h6, .headers {
    @include debug-elem($db-headers-color);
  }
  .notEdit .headers {
   background-color: $db-headers-color !important;
  }
  .debug p {
    @include debug-elem($db-p-color);
  }
  .debug nav {
    @include debug-elem($db-nav-color);
  }
  .debug header {
    @include debug-elem($db-header-color);
  }
  .notEdit .header {
    background: $db-header-color !important;
  }
  .debug footer {
    @include debug-elem($db-footer-color);
  }
  .notEdit .footer {
    background: $db-footer-color !important;
  }
  .debug article {
    @include debug-elem($db-article-color);
  }
  .notEdit .article {
    background: $db-article-color !important;
  }
  .debug blockquote {
    @include debug-elem($db-blockquote-color);
  }
  .notEdit .blockquote {
    background: $db-blockquote-color !important;
  }
  .debug aside {
    @include debug-elem($db-aside-color);
  }
  .notEdit .aside {
    background: $db-aside-color !important;
  }

  .debug cite {
    @include debug-elem($db-cite-color);
  }
  .notEdit .cite {
    background: $db-cite-color !important;
  }
  .debug aside {
    @include debug-elem($db-label-color);
  }
  .notEdit .label {
    background: $db-label-color !important;
  }
  .debug select {
    @include debug-elem($db-select-color);
  }
  .notEdit .select {
    background: $db-select-color !important;
  }
  .debug textarea {
    @include debug-elem($db-textarea-color);
  }
  .notEdit .textarea {
    background: $db-textarea-color !important;
  }

  .debug section {
    @include debug-elem($db-section-color);
  }
  .notEdit .section {
    background: $db-section-color !important;
  }
  .debug input {
    @include debug-elem($db-input-color);
  }
  .notEdit .input {
    background: $db-input-color !important;
  }
  .debug form {
    @include debug-elem($db-form-color);
  }
  .notEdit .form {
    background: $db-form-color !important;
  }


  .notEdit .nav {
    background: $db-nav-color !important;
  }
  .notEdit .prgrph {
    background: $db-p-color !important;
  }
  .debug ul {
       @include debug-elem($db-ul-color);
     }
  .notEdit .ul {
    background: $db-ul-color !important;

  }
  .debug table {
    @include debug-elem($db-tbl-color);
  }
  .notEdit .tbl {
    background: $db-tbl-color !important;

  }
  .debug li {
    @include debug-elem($db-li-color);
  }
  .notEdit .li {
    background: $db-li-color !important;
  }
  .debug main {
    //@include debug-elem($db-main-color);
  }
  .notEdit .main {
    background: $db-main-color !important;
  }
  ///
  .debug dl {
    @include debug-elem($db-dl-color);
  }
  .notEdit .dl {
    background: $db-dl-color !important;
  }
  .debug dt {
    @include debug-elem($db-dt-color);
  }
  .notEdit .dt {
    background: $db-dt-color !important;
  }
  .debug dd {
    @include debug-elem($db-dd-color);
  }
  .notEdit .dd {
    background: $db-dd-color !important;
  }
  .debug figure {
    @include debug-elem($db-figure-color);
  }
  .notEdit .figure {
    background: $db-figure-color !important;
  }

  .debug figcaption {
    @include debug-elem($db-figcaption-color);
  }
  .notEdit .figcaption {
    background: $db-figcaption-color !important;
  }
  .debug *[class^="col-"] {
    @include debug-elem($db-col-color);
  }

  .debug .container {
    @include debug-elem($db-ctn-color);
  }
  .debug .row {
    @include debug-elem($db-row-color);
  }
  .debug .block {
    @include debug-elem($db-block-color);
  }
  .debug a {
    @include debug-elem($db-link-color);
  }
  .notEdit .link {
   background: $db-link-color !important;
  }
  .debug button {
    @include debug-elem($db-button-color);
  }
  .notEdit .button {
    background: $db-button-color !important;
  }
  .debug span {
    @include debug-elem($db-span-color);
  }
  .debug .notEdit span {
   background: none;
    outline: none;
  }
  .debug i {
    @include debug-elem($db-i-color);
  }
  .notEdit {
    .i {background: $db-i-color !important;}
    i{
      background: none !important;
      outline: none;
    }
  }
  .debug tr {
    @include debug-elem($db-tr-color);
  }
  .notEdit .tr {
    background: $db-tr-color !important;

  }
  .debug td {
    @include debug-elem($db-td-color);
  }
  .notEdit .td {
    background: $db-td-color !important;

  }
  .debug th {
    @include debug-elem($db-th-color);
  }
  .notEdit .th {
    background: $db-th-color !important;

  }


  .notEdit .span {
    background: $db-span-color !important;
  }
  .debug img, .debug svg {
    @include debug-elem($db-img-color);
  }

  .debugPannel__wrapper {

    background: #3c3f41 !important;
    box-shadow: 2px -1px 0px 0px #2f2d2d;
    border-top: solid 1px #b19e9e;
    z-index: $zNotEdit;
    width: 100%;
    height: size(3, mo);
    @include space-i('component', '-', 'tb', '');
    @include space-i('component', '|', 'rl', '');
    * {
      outline: none !important;
      color: #fff;
    }
  }
  .debugPannel {
    background: #3c3f41 !important;


  }
  .debugPannel__section,.debug-Pannel-Right-content {
    *[class^="col-"],row,input,select{
      background: none;
      outline: none;
    }
    label,select{color:#fff;
    font-size:12px;

    }
    svg{
      background: none;
      outline: none;
      height: 1.4em;
      margin-bottom: 10px;
    }
    select{
      border-color: #0086b3;
      width: 100%;
    }
    option{
      background: #3c3f41;
      color: #00b3ee;
    }
    input[type='text']{

      background: #3c3f41;
      border: none;
      border-radius: 4px;
      color:#00b3ee;
      padding-left: .3em;
    }

    h6{
      outline: none;
      font-size: .6em !important;
      color: #fff;
      margin: 0;
      padding: 0;
      border-radius: 0% !important;
      border: none !important;
      border-bottom: 2px solid $panel !important;

    }
    .ui-accordion-content {
      padding: .5em .4em}
    hr{
      overflow: visible;
      background: #3c3f41;
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #2b2b2b;
      margin: 1em 0;
      padding: 0;
    }
    .ui-accordion-header-active {
      background-color: #0086b3;
      .icon {
        height: 1.8em !important;
        background: none;
      }
    }
    .ui-widget-content{
    border:none;
      border-bottom: 2px solid $panel !important;
    }

     button {
       color:#fff;
       outline: none !important;
      font-size: 10px !important;
      border: none;
      background:#006eb7 !important;
      margin: 0;
      &:hover {
        background-color: darken(#006eb7, 5%) !important;
      }
      &:active {
        background-color: darken(#006eb7, 15%) !important;
      }
      &.on {
        background-color: darken(#006eb7, 30%) !important;
        border-bottom: 2px solid #006eb7;
      }

    }
    background: #3c3f41 !important;
    ul.debugPannel__colorSpecific {
      background: #3c3f41 !important;
    }
  }

  .debugPannel__colorSpecific li {
    display: inline-block;
    vert-align: top;
    text-align: center;
    //margin-left: -4px;
    //background: #fff !important;
    max-height: $line-height-ratio+em;
    overflow: hidden;
    cursor: pointer;
  }
  .ui-resizable-handle {
    background: transparent !important;
  }
  .notifyjs-tagClassInfo-base {
    background: #ffff00 !important;
    @include space-i('element', '-', 'trbl', '');
    z-index: $zOverElement;
    position: absolute;
    line-height: 1.7rem !important;
    span {
      background: transparent !important;
    }
  }
  .mod {
    position: absolute;
    top: 0;
    left: 0;

  }
  .rect {
    width: 200px;
    height: 200px;
    background: #ffef8f;
  }
  .prgph {
    overflow: hidden;
    max-width: 60em;
  }
  .debugPannel button {
    display: inline-block;
  }
  .grid--debug {
    position: fixed;
    pointer-events: none;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $zGrid;
    opacity: .5;
    .container, .row, div[class^='col-'] {
      height: 100%;
    }
    div[class^='col-'] {

    }

  }
  .editorsContainer,.notEdit{
    z-index: $zNotEdit;
  }
  .debug .pb-colorBox {
    width: 12px;
    height: 12px;
    div {
    }
  }
  .colors {
    .pb-element:first-child {
      padding-right: 50px;
    }
  }
  .colors * {

    color: #000000 !important;
    .pb-colorBox {
      margin-top: .45em;
    }
  }
  .htmlToPug {
    position: fixed;
    top: 0;
    bottom: 0;
  }
  .tagChecker {
    position: absolute;
    font-size: 10px;
    top: 5px;
    line-height: 1rem;
    background-color: tomato;
    color: #fff;
  }
  .eventLock {
    pointer-events: none;
    &:before {
      content: 'Lock';
      position: absolute;
      top: 10px;
      left: 0;
    }
  }
  .debug-Pannel-Right {


    width: 100%;
    background-color: #fff;
    background: $panel;
   // display: none;
  }

  .mediaMap {
    width: 100%;
    display: none;
    background-color: #d2cfd2;
    .icon {
      width: 2em;
      height: 2em;
      background: transparent !important;
    }
    span {
      color: #fff;
      font-size: 11px;
      margin-left: -15px;
    }
    li {
      display: inline-block;
      background: none !important;
    }
  }
  .mediaMap__bounder {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    border-left: 4px solid;
    border-right: 4px solid;
    &.tp {
      color: #444386;
      span {
        background-color: #444386;
      }
    }
    &.tl {
      color: #862e28;
      span {
        background-color: #862e28;
      }
    }
    &.d {
      color: #a45b13;
      span {
        background-color: #a45b13;
      }
    }
  }
  .mediaMap__container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    bottom: 0;
    &.tp {
      background: #4b4f86;
      span {
        background-color: #444386;
      }
    }
    &.tl {
      background: #86242a;
      span {
        background-color: #86242a;
      }
    }
    &.d {
      background: #a46417;
      span {
        background-color: #a46417;
      }
    }
  }
  .icon-breakpoits {
    margin-top: -30px;
  }
  .iframeWrapper {

  }
  #project-debug {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    .debugPannel {
      display: none;

    }
  }
  #viewpr-list {
    position: fixed;
    top: 0;
    left: 0;
  }
  .modPannel {
    position: absolute;
    background: #fff;
    box-shadow: 3px 3px 2px silver;
  }
  .editorsContainer {
    background:$panel;
    padding-top: 5px;
    height: 257px;
    background: #3c3f41 !important;
    box-shadow: 2px -1px 0px 0px #2f2d2d;
    border-top: solid 1px #b19e9e;
  }
  .resizable-helper {
    position: absolute;
    right:0;
    top: 0;

  }
  body.debug {
   // padding-top: 50px;
  }
  .editorWrapper {
    width: 98%;
    margin: 0px auto;
    height: 100%;
  }
  .editor {
    width: 32.5%;
    margin-right: 1.2%;
    height: 100%;
    float: left;
    &:last-child {
      margin-right: 0 !important;
    }
  }
  #editorPug {
    .ace_gutter {
      background: #a86454;
    }
  }
  #editorScss {
    .ace_gutter {
      background: #c6538c;
    }
  }
  #editorJs {
    margin: 0;
    .ace_gutter {
      background: #E1AF25;
    }
  }
  #getCode{
    line-height: 1;
    font-size: 12px;
    padding: 5px;
    background-color: darkred;
    color: #fff;
    cursor: pointer;
  }
  .panellInner,.ui-tabs {
    background: $panel-inner !important;
    border:none !important;
  }
  ul.panellInner{
    border:none !important;
  }
  .notEdit {
    a,li,ul,div,h1,h2,h3,h4,h5,h6,p,span,button,.col-1-tp,.row{
      background: none;
    }
    .tabAnchr {
      border-radius: 0%;
      background: $panel;
      padding: .2em !important;
      font-size: 14px !important;
    }
  }
  .ui-tabs .ui-tabs-panel{
    padding: 0.3em 0.2em !important;
  }
  li.ui-state-default{
    border:none !important;
  }
  li.ui-tabs-active{
    background:$active !important;
    color:#fff !important;
  }
  .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color:#fff !important;
  }
  .ui-state-default a{
    color: #c3c3c3 !important;
  }
  .tabList.elAdder{
    font-size: 12px !important;
  }

  .ace-tomorrow-night-eighties {
    background-color: #2D2D2D !important}

  .elAdder {
    .clearfix {
      margin-top: 4px;
    }
  }
  .mChacker{

    line-height: 1;
    font-size: 50%;
    color: azure;
    padding-top: 3%;
    overflow: hidden;

    background: repeating-linear-gradient(
                    45deg,
                    #606dbc,
                    #606dbc 10px,
                    #465298 10px,
                    #465298 20px
    );

  }
  .ruler {
    background: $panel-inner !important;
    cursor: grab;
    position: fixed !important;
     .h .milestone {
       border-left-color: #fff;
       margin-left: 1rem;

     }
  }
  .ruler.h span.milestone {
    position: relative !important;
    border-left: solid 1px #fff !important;
    height: 17px !important;
    margin-left: $line-height-ratio+rem !important;
    outline: none;

  }
  .ruler.v span.milestone {
    position: relative !important;
    border-bottom: solid 1px #fff !important;
  //  height: 17px;
    margin-bottom: $line-height-ratio+rem !important;
    outline: none !important;

  }
  .ruler.v {
    border-right: solid 1px #00e7ff !important;
    padding-left: 0;
    width: 34px !important;
  }
  .ruler.h {
    border-bottom: solid 1px #00e7ff !important;
  }




  .rg-overlay {
    pointer-events: none;
    z-index: $zOverElement;
    span{
      background: none !important;
    }
  }
 .guide.h.draggable-r {
    border-bottom: solid 1px #00e7ff !important;
    pointer-events: all !important;
  }
  .guide.v.draggable-r {
    border-right: solid 1px #00e7ff !important;
    pointer-events: all !important;
  }
.grid *[class^="col-"]{
  background-image: linear-gradient(to bottom, #9e9b95 0%, #9e9b95 100%), linear-gradient(to bottom, #b6b4b0 0%, #b6b4b0);
  background-clip: content-box, padding-box;
}
  #currentSelectorWay {
    &>div{
      padding: 12px;
    }
    span{
      font-size: .8em;
      background-color: #3c3f41;
      margin-right:12px;
      padding: 8px;
    }
    i{
      font-size: .8em;
      padding: 0 8px;
      color: #006eb7;
    }
  }
  input[type="range"]{
    outline: none;
  }
  .debug-Pannel-Right{
    padding: 15px;
  }
  .debug-Pannel-Right-content{
    background: $panel-inner !important;
    width: 100%;
  }
  .createTitle {
    cursor: pointer;
    &.active{
      background: #0086b3 !important;
    }
    font-size: .9em !important;
    color: #fff;
    width: 100%;
    border: 1px solid #0086b3;
    padding: 7px 16px;
    border-left: 10px solid;
    border-left-color: #0086b3;
    margin-bottom: 10px;
  }


  .createTitle:hover{

    background-color: #0086b3;
    
  }
  .ui-dialog {
    border:none !important;
    border-radius: 0 !important;
  }
  .ui-dialog *{
    outline: none !important;

  }
  .ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: -4px !important;
    top: 6px !important;
    width: 55px !important;
    height: 30px !important;
  }
  .ui-button {
    background: #0086b3 !important;
    padding: 12px 21px !important;
    outline: none !important;
    border: none !important;
    border-radius: 0 !important;
  }

  .ui-widget-header {
    background: #3c3f41 !important;
border: none !important;
    span{
      background: transparent !important;
    }
  }

.ui-dialog-titlebar{background: #3c3f41 !important;}
  .ui-dialog-title {
  color:#fff;
   font-size: 1.6em;
  }
.ui-dialog{ background-color: #3c3f41 !important;min-width:850px !important;
  top:5% !important;
  left:18% !important;
  border-top: 4px solid rgb(0, 134, 179) !important;}
.debog-Dialog-Close {

}
.debug-Dialog-content {

  padding: 20px;
  background: #2b2b2b !important;

}
  .createTitle {

    .icon{
      height: 1.7em;
      background: none;
      margin-right: 20px;
    }

  }
  .ui-widget-overlay {
    background-color: #0a0a0a !important;
    opacity: .8;
  }
  .debug-registrator {
    label label label {
      padding: 0;
    }

    font-size: .7em;
    button {
      border:none;
      color: #fff;
      background-color: #fc9627;
      padding: 10px 20px;
    }
    label{display:block;
      color: #fff;
      background: transparent;
      padding-bottom: 10px;
      padding-left: 35px;
      padding-right: 35px;
      padding-top: 20px;
    input,select{
      width: 50%;
      color: #0086b3;
      padding-left:.3em;
      background: #313335;
      float: right;
      border:none;
      border-radius: 4%;


      }
    .icon {
      position: absolute;
      top: -30px;
      right:0;
    }
    }
  }
  .debug-Dialog-start {



    .ui-dialog  {


    }
  }

  .starter_dialog{
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 400000 !important;
    background-image: url("str.jpg");
    background-size: cover;
    .ui-dialog-titlebar {
      display: none !important;
    }
    .debug-Dialog-content {
      padding: 40px;
      &+ .ui-widget-overlay{
        background-color: #00A000 !important;
        opacity: 1 !important;
      }
    }
  }

  .debug-Dialog-start .createTitle {



    font-size: 1.2em !important;
    padding: 12px 19px;
  }

  ////////// HUD
  body.hud{
    background-color: #2b2b2b;
  }
  .hud-wrapper{
    position: fixed;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  .top-panel-content{
    width: 100%;
    height: 40px;
    background: $panel-inner;
  }
  .hud-content {
    margin-top:20px;
      float:left;
    width: 75%;
    iframe {
      border-width: 3px;
      border-color: dodgerblue;
      display: block;
      margin: 0 auto;


    }
  }
  .wrapperid {
    margin: 0 auto;
  }
  .quant.hud {
    font-size: 27px !important;
    padding-left: 10px;
    padding-right: 10px;
    background: #181818 !important;
    span{
      font-size: 18px
    }
  }
  .hud-content{
    position: relative;
  }
  .window:before{
    position: absolute;
    top: -26px;
    left: 0;
    content: attr(window);
    color: #fff;
    padding: 0px 10px 0px;
    background-color: #006eb7;
    border-top-left-radius: 3px;
    font-size: 16px;
    text-shadow: 1px 1px 1px #2b2b2b;
  }
  .hud-rightPanel{
       width:15%;
    min-height: 1px;
    float: left;
    float: left;
     }
  .hud-leftPanel{
       width:10%;
    float:left;
    min-height: 1px;
     }
  div[class*='Panel']{
    background-color: $panel;
  }

  .hud-bottom{
    position: absolute;
    bottom: 0;
  }
  .rg-menu{
    background: $panel;
    outline: none;
    span,a,li {
      background: $panel;
      outline: none;
    }
  }
  .pb-colorBox {
    width:20px;
    height: 20px;
  }
.editorsContainer{
  display: none;
}
}

