@mixin draft(){
  body{
    @include i-gradient(180,(cs('accent'), #ee4e4a),(100%));
  }
  .container {
    background-color: rgb(243, 243, 243);
  }
.mainHeader {
  background-color: cs('primary');

}
  .logo{
    height: s-growWrap('block',2,s-growLines(2));
    background-color: #fff;
    @include i-bkg-ctr('images/vrig.svg',85%);
    @include media('md')  {
    background-size: contain;
  }
  }
  .mainFooter{
    background-color: cs('primary');
    color:#fff;
    @include space('module','trbl','');
    @include media('md'){
      text-align: center;
    }
  }
  .pageTitle{
    line-height: 1.7;
    @include space('element','','tb');
    @include space('block','','rl');
    text-transform: uppercase;
    @include media('md'){
      @include space('block','','t');
      text-align: center;
    }
  }
  .product{
    @include space('block','tlbr','');
    background-color: #fff;
  }
  .product__image_ctn, .product__info{
    @include space('component','tlbr','')
  }
  .product__image_ctn {
    width: 100%;
    height: 450px;
    @include i-bkg-ctr('images/HG800312.jpg');
  }
  .product__info {
    background-color: cs('bground-l');
    dl{
      @include space('component','tbrl','');
      background-color: #fff;

    }
    dd,dt {
      @include space('element','brtl','');
    }
    dt {
      font-weight: 900;
      font-family: $header-font;
    }

  }
  .product__info__list_line {
    border-bottom: solid 1px #ff00c6;
  }
}
