@font-face {
  font-family: "Icons";
  src: url('fonts/icons/Icons.eot');
  src: url('fonts/icons/Icons.eot?#iefix') format('eot'),
  url('fonts/icons/Icons.woff') format('woff'),
  url('fonts/icons/Icons.ttf') format('truetype'),
  url('fonts/icons/Icons.svg#Icons') format('svg');
}

@mixin icon-styles {
  font-family: "Icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles; 
}

@function icon-char($filename) {
  $char: "";

  @if $filename == cellphone {
  $char: "\E001";
}
  @if $filename == clock {
  $char: "\E002";
}
  @if $filename == clock1 {
  $char: "\E003";
}
  @if $filename == cu_telegram {
  $char: "\E004";
}
  @if $filename == down {
  $char: "\E005";
}
  @if $filename == email {
  $char: "\E006";
}
  @if $filename == eye {
  $char: "\E007";
}
  @if $filename == left {
  $char: "\E008";
}
  @if $filename == locked {
  $char: "\E009";
}
  @if $filename == login {
  $char: "\E00A";
}
  @if $filename == padlock {
  $char: "\E00B";
}
  @if $filename == placeholder {
  $char: "\E00C";
}
  @if $filename == right {
  $char: "\E00D";
}
  @if $filename == ruble {
  $char: "\E00E";
}
  @if $filename == tick {
  $char: "\E00F";
}
  @if $filename == to-left {
  $char: "\E010";
}
  @if $filename == to-right {
  $char: "\E011";
}
  @if $filename == to-up {
  $char: "\E012";
}

@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
&:#{$insert} {
  @if $extend {
    @extend %icon;
  } @else {
    @include icon-styles;
  }
  content: icon-char($filename);
}
}

.icon-cellphone {
  @include icon(cellphone);
}
.icon-clock {
  @include icon(clock);
}
.icon-clock1 {
  @include icon(clock1);
}
.icon-cu_telegram {
  @include icon(cu_telegram);
}
.icon-down {
  @include icon(down);
}
.icon-email {
  @include icon(email);
}
.icon-eye {
  @include icon(eye);
}
.icon-left {
  @include icon(left);
}
.icon-locked {
  @include icon(locked);
}
.icon-login {
  @include icon(login);
}
.icon-padlock {
  @include icon(padlock);
}
.icon-placeholder {
  @include icon(placeholder);
}
.icon-right {
  @include icon(right);
}
.icon-ruble {
  @include icon(ruble);
}
.icon-tick {
  @include icon(tick);
}
.icon-to-left {
  @include icon(to-left);
}
.icon-to-right {
  @include icon(to-right);
}
.icon-to-up {
  @include icon(to-up);
}

