//PROJECT SCSS

/*
Header
*/
.ove-topNavigation {
  display: none;
  @include for-size(tablet-l-up) {
    display: block;
  }
  @include for-size(desktop-up) {
    @include space('element', '', 'b');
  }
}

.ove-topNavigation li.ove-topNavigation__eshopMark {
  display: none;
  @include for-size(desktop-up) {
    display: inline-block;
  }
}

.ove-topNavigation li {
  display: inline-block;
}

.ove-desctopControlPanel {
  display: none;
  @include for-size(desktop-up) {
    display: block;
    @include space('element', '', 'b');
  }
}

.ove-subControlPanel__wrapper {
  //@include space('element', 'a', '');
  background-color: cs('primary');
  border-bottom: 3px solid cs('primary-d');
}

.ove-subControlPanel--mobile {
  @include space('element', 'tb', '');
  @include for-size(desktop-up) {
    display: none;
  }
}

.ove-subControlPanel--desktop {
  display: none;
+ for-size(desktop-up) {
  display: block;
}
}

/*
logo
*/
.ove-logo--mobile {
@include for-size(tablet-p-up) {
  text-align: left;
}
}

.ove-logo--mobile img {
  height: s-height(1, 'module');
  width: auto;

}