@mixin pagination(){
	
.pagination{
  @include space('component','trl','');
  @include space('block','b','');
  background-color: #fff;

}
  .pagination__ctn{
    padding: 0;
    text-align: center;
  }
  .pagination__ctn__button {
    list-style: none;
    display: inline-block;
    @include space('element','tb','r');
    @include space('component','rl','');
    background-color: cs('primary');
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    @include a-hover('background-color',(from:false,to:cs('primary-d')),.3s,ease)
  }
  .pagination__ctn__button--current {
    background-color: cs('accent-l');
    &:hover{
      background-color: cs('accent-l');
    }
  }
}