mixin C-footer()
	.footer__content(data-qcontent='component__footer')
		.footer__section
			.container
				.footer__subMenus
					.group.group--md
						.col.col-3-tl
							h5.footer__listTitle Клиентам
							ul.footer__list
								+loop(6)
									li.footer__listItem
										a(href='/') Как оформить заказ

						.col.col-3-tl
							h5.footer__listTitle СантехСмарт
							ul.footer__list
									li.footer__listItem Партнерам  
									li.footer__listItem Юридическая информация 
									li.footer__listItem Вакансии
									li.footer__listItem Политика Конфендециальности
						.col.col-3-tl
							h5.footer__listTitle Способы оплаты
							ul.footer__list
									li.footer__listItem
										+I('ruble','footer ruble')
										+I('mir-logo2','footer')
										+I('mastercard-logo','footer')
										+I('maestro-logo','footer')
										+I('visa-logo','footer')
										
										

						.col.col-3-tl
							h5.footer__listTitle Мы в соцсетях
							ul.footer__list
									li.footer__listItem
										a.footer__link
											+I('vk','footer social')
										a.footer__link
											+I('facebook','footer social')
										a.footer__link
											+I('twitter','footer social')
										a.footer__link
											+I('pinterest','footer social')
										a.footer__link
											+I('telegram','footer social')
		.footer__signature
			.container
				.group.group--md
					.col.col-12-tl
						p ООО "САНТЕХCМАРТ" 2014-2018  
			
			
			
			