.icon{ 
  display: inline-block;
  vertical-align: middle;
  width:3em;
  height: 3em;
  fill: cs('primary');
  
      &--cart_Main{
         width:5em;
         height:5em;
      }
      &--cart_btn{
         width:2em;
         height:2em;
      }
      &--red {
          fill:red;
      }
      &--rocket { 
          fill:cs('succes-d2');
           @include space-i('element','=','','l');
      }
      &--productsLayout{
          fill: cs('font-l2');
          width: 1.7em;
          height: 1.7em;
          padding: 3px;
          cursor:pointer;
          &:hover{
              fill:cs('font-d');
          }
          &--selected {
            //  border: 1px solid cs('accent-l');
              fill: cs('accent');
               &:hover{
              fill:cs('accent');
          }
         
          }
          
      }
       &--map{
              width:1.4em;
              height: 1.4em; 
              fill:cs('accent');
          }
      &--mainSearch{
          height: 100%;
          width: .9em;
          fill: cs('font-l');
          &:hover {
              fill: cs('accent');
          }
      }
      &--topBar{
          width: 1.7em;
          height:2.5em;
      }
      &--asset{
          fill:red;
         height: 2em;
         margin-right:.4em;  
      }
      &--catalog{
         width: .9em;
         
         fill:lighten(cs('font-l2'),30%);
         top: -2%;
         position:absolute;
         right:.5em;
      }
      &--close{
          height: 100%;
          width: 100%;
      }
      &--popup{
          transform: rotate(90deg);
          position: absolute;
          width:.4em;
          right:.3em;
          height: $line_height_ratio#{em};
          margin-top: -$line_height_ratio#{em};
      }
      &--categories{
          width: .6em;
          height:100%;
          fill:#fff;
          display:inline;
          margin-right:0.7em;
          display:none;
         
          
      }
      
    
}
  


