.icon{ 
  display: inline-block;
  vertical-align: middle;
  width:3em;
  height: 3em;
  fill: cs('primary');
  
      &--cart_Main{
         width:5em;
         height:5em;
      }
      &--cart_btn{
         width:2em;
         height:2em;
      }
      &--red {
          fill:red;
      }
      &--rocket { 
          fill:cs('succes-d2');
           @include space-i('element','=','','l');
      }
      &--productsLayout{
          fill: cs('font-l2');
          width: 1.7em;
          height: 1.7em;
          padding: 3px;
          cursor:pointer;
          &:hover{
              fill:cs('font-d');
          }
          &--selected {
            //  border: 1px solid cs('accent-l');
              fill: cs('accent');
               &:hover{
              fill:cs('accent');
          }
          }
      }
      
    
}
  


