mixin I(id,classModifier,elId)
	-if (!classModifier) classModifier =''
	-else classModifier = 'icon--'+classModifier
	svg(class='icon '+classModifier data-qcontent='element__ICONS__MAIN-SVG-use',id=elId)
		use(xlink:href="#"+id)           