.icon{ 
  display: inline-block;
  vertical-align: middle;
  width:3em;
  height: 3em;
  fill: cs('primary');
  
      &--cart_Main{
         width:5em;
         height:5em;
      }
      &--cart_btn{
         width:2em;
         height:2em;
      }
      &--red {
          fill:red;
      }
      &--rocket { 
          fill:cs('succes-d2');
           @include space-i('element','=','','l');
      }
      &--productsLayout{
          fill: cs('font-l2');
          width: 1.7em;
          height: 1.7em;
          padding: 3px;
          cursor:pointer;
          &:hover{
              fill:cs('font-d');
          }
          &--selected {
            //  border: 1px solid cs('accent-l');
              fill: cs('primary');
               &:hover{
              fill:cs('primary');
          }
         
          }
          
      }
       &--map{
              width:1.4em;
              height: 1.4em; 
              fill:cs('accent');
          }
      &--mainSearch{
          height: 100%;
          width: .9em;
          fill: cs('font-l');
          &:hover {
              fill: cs('accent');
          }
      }
      &--topBar{
          width: 1.7em;
          height:2.5em;
      }
      &--asset{
         height: 2em;
         margin-right:.4em;
        
      }
      &--catalog{
         width: .9em;
         
         fill:lighten(cs('font-l2'),30%);
         top: -2%;
         position:absolute;
         right:.5em;
      }
      &--close{
          height: 100%;
          width: 100%;
      }
      &--popup{
          transform: rotate(90deg);
          position: absolute;
          width:.4em;
          right:.3em;
          height: $line_height_ratio#{em};
          margin-top: -$line_height_ratio#{em};
      }
      &--categories{  
          width: 1em;
          height:100%;
          fill:#fff;   
          display:inline;     
          margin-right:0.5em;
        //  display:none;
           
          
      }
      &--feature__arrow{
          fill: cs('background-d2');
          position:absolute;
          width:10%;
          right: -8%;
          top:0;
      }
      &--feature{
          width:12%;
      }
      &--delete{
          height:1.5em;
          width: 1.5em;
      }
      &--footer{
          fill:#fff;
          
          &.social{ 
              margin: vr-block(.08);        
              width:2em;
              height: 2em;
          }
      } 
      &--mobile{  
              width:2.5em;
              height: 2.5em;
              //fill:#fff;
              &.user{
                  width: 2.2em;
                  height: 2.2em;
              }
      }
      &--filterSwitcher{
          position:absolute;
          left:5%;
          width: 1.5em;
          height: 1.5em;
          fill: cs('accent');
          margin-right: vr-block(.4);
      }
      
    
}


////////////////////////////////////////
@include mainSearch();