//- index.pug
extends ../LAYOUT/layout.pug
block title
    title Главная
    -var page={slug:"index",title:"Главная"};
block main
    +Bv()
    .heroImageButton.ta-block__element--modifier.ta-block__element.ta-block
        .heroImageHolder
            +BL-baseButton('Записаться к врачу','http://www.rmis36.ru','recordButton')
    section.block
        h2.block_title Платные Услуги
        +BL-learnMoreButtom('Узнать')
        +INPUT-oveCard('text')
        +INPUT-oveCard('text')
        +INPUT-oveCard('text')
        +BL-learnMoreButtom('Узнать','#','learnMoreButton--onImage')
        +BL-learnMoreButtom('Узнать','#','learnMoreButton--onImage')
    section.block
        h2.block_title Отделения
        ul.infoElement__container
            +infoElement('book','Адреcc','394033 г. Воронеж, ул. Минская, 43')
            +infoElement('bus','Автобусы','80, 90, 37a.')
            +infoElement('phone','Телефон','+7 (473) 228-65-07')
            +infoElement('mail','E-mail','elektronika@gkbsmp10.vrn.ru')
    section.block
        h2.block_title Как нас найти

