section.pb-section.clearfix
    each val, index in colors
        .pb-element.f-left
            span.pb-elementHeader= index
                .pb-colorBox(class='pb-colorBox--'+index)
                .pb-colorBox(class='pb-colorBox--'+index+'-d')
                .pb-colorBox(class='pb-colorBox--'+index+'-l')
