section.pb-section.clearfix
    .pb-element.f-left
        .pb-colorBox
        .pb-colorBox
            span.pb-elementHeader Base
        .pb-colorBox
            span.pb-elementHeader Darken
        .pb-colorBox
            span.pb-elementHeader light
    .pb-element.f-left
        span.pb-elementHeader Primary
        .pb-colorBox.pb-colorBox--primary
        .pb-colorBox.pb-colorBox--primary-d
        .pb-colorBox.pb-colorBox--primary-l
    .pb-element.f-left
        span.pb-elementHeader Secondary
        .pb-colorBox.pb-colorBox--secondary
        .pb-colorBox.pb-colorBox--secondary-d
        .pb-colorBox.pb-colorBox--secondary-l
    .pb-element.f-left
        span.pb-elementHeader Accent
        .pb-colorBox.pb-colorBox--accent
        .pb-colorBox.pb-colorBox--accent-d
        .pb-colorBox.pb-colorBox--accent-l
    .pb-element.f-left
        span.pb-elementHeader Foreground
        .pb-colorBox.pb-colorBox--foreground
        .pb-colorBox.pb-colorBox--foreground-d
        .pb-colorBox.pb-colorBox--foreground-l
    .pb-element.f-left
        span.pb-elementHeader Background
        .pb-colorBox.pb-colorBox--background
        .pb-colorBox.pb-colorBox--background-d
        .pb-colorBox.pb-colorBox--background-l
    .pb-element.f-left
        span.pb-elementHeader Font Color
        .pb-colorBox.pb-colorBox--font
        .pb-colorBox.pb-colorBox--font-d
        .pb-colorBox.pb-colorBox--font-l
