.cpP_tabber
    .row.debugPannel
        .col-2-tp
            .cpP__tab.active.starterTabTrigger__1(data-page='1') Main
        .col-2-tp
            .cpP__tab.starterTabTrigger__2(data-page='2') Colors
        .col-2-tp
            .cpP__tab.starterTabTrigger__3(data-page='3') Fonts
        .col-2-tp
            .cpP__tab.starterTabTrigger__4(data-page='4') Layouts
        .col-2-tp
            .cpP__tab.starterTabTrigger__5(data-page='5') Pages
        .col-2-tp
            .cpP__tab.starterTabTrigger__6(data-page='6') Scripts
    .cpP__tabContent_1.cpP__tabContent
        .optionLine
            label Project Title
            input(type='text' required=true name="project_title")
        .optionLine
            label Project Prefix
            input(type='text' required=true name="project_prefix")
        .optionLine
            label Project Language
            select(name="project_language")
                option eng
                option ru

    .cpP__tabContent_2.cpP__tabContent 2
    .cpP__tabContent_3.cpP__tabContent 3
    .cpP__tabContent_4.cpP__tabContent 4
    .cpP__tabContent_5.cpP__tabContent 5
    .cpP__tabContent_6.cpP__tabContent 6

