@mixin owlGoodsSlider() {

  .owlGoodsSlider {
    position: relative;
    @include space('module', '', 'b');

    .owl-prev, .owl-next {
      top: 30%;
      position: absolute;
      color: #fff;
      width: 14%;
      @include space('component', 'tb', '');
      background-color: rgba(0, 0, 0, 0.29);
      text-align: center;
      &.disabled {
        display: none;
      }
    }
    .owl-prev {
      left: 0;
    }
    .owl-next {
      right: 0;
    }
    .catalogItem {
      margin: 1px;
    }
    .catalogItem__priceAndBuy__price {
      span {
        font-size: 1.2em;
        font-weight: bold;
      }
    }
  }
}
/*** starter styles*/
@mixin starter() {
    
  .starter__content {
    padding:22px;
    background-color: violet;
    padding-left: 60px;
      
  }
  .starter1 {
        color: cs('accent-d');
        font-size : 54px;
        text-decoration: underline;
  }
    
}
@include starter();
ul.infoElement__container {

}
.infoElement{
  line-height:60px;

  .iconWrapper,h5,span{
    @include space-i('element','=','rl','');
    display: inline-block;
    //vertical-align: top;
  }
  .infoElement__icon{
    width: 60px;
    height: 60px;
    fill: cs('accent');
    vertical-align: top;
  }


}
$color__button:#aaa;
$color__button-hover:#aaa;
$color__button-active:#aaa;
//--Main Button
.mainButton {
  background-color: $color__button;

  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 2;
  }
}
.SuperButton {
@extend .false;

}
.dwqqwed {
@extend .false;

}
.galaxyButton {
@extend .false;

}
.gipperButton {
@extend .false;

}
.superBuper {
@extend .false;

}
$bkgColor__toCart:cs('accent');
$bkgColor__toCart-hover:cs('accent-l');
$color__toCart-hover:#fff;
$color__toCart:#fff;

.toCart {
	background-color: $bkgColor__toCart;
	color: $color__toCart;
	border: none;
	border-radius: 2px;
	font-size: .8em;
	@include space('element','a','');
	height: 4em;
	width:100%;
	margin: 0;
		&:hover, &:focus, &:active {
		background-color: $bkgColor__toCart-hover;
		}
		&:focus {
			outline: none;
		}
		&:hover, &:active {
			outline: none;
	}
	&.toCart--in {
		background-color: #3bd43b;
	}
}

.icon {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 2rem;
  max-width: 100%;
  fill: #fff;
}

.icon--close {
  height: 6.8rem;
  width: 6.8rem;
  fill: cs('font-d');
  cursor: pointer;
}
.icon--heart {
   height: 6.8rem;
   width: 6.8rem;
   fill: red;
   cursor: pointer;
 }
.icon--heart--animate {
  @include a-set-frame(heart, 1.5s,  1s,  1,linear,$frames:(
            0  :(transform:rotate(30deg)),
            .5 :(transform:rotate(60deg)),
            1 :(transform:rotate(180deg))
    ));
}
.icon--search {
  width: 2rem;
}

.icon--angle {
  height: 1rem;
  width: 1rem;
  fill: cs('font-l');
}

.catalogMenu__list__item--active {
  .icon--angle {
    fill: cs('accent');
  }
}

.icon-menu__button {
  cursor: pointer;
  width: 2.6em;
  background-color: cs('primary-d');
  border-radius: 3px;
  @include space('element','a','');
}
.ove-markedHeader {
  display: inline-block;
  background-color: cs('primary');
  width: 40px;
  height: 40px;
  line-height: 50px;
  vertical-align: middle;
  border-radius: 50%;
  @include space('element','','r');
  .icon {
    height: 1em;
    vertical-align: baseline;
    width: auto;

  }
}
.ove-sectionHeader {
  @include space('element','','b');
}
/* PAGE STYLE */

.page__content {
  background-color: #005300;
  padding: 17px;
      li{
          padding: 10px;
      }
      h3 {
          padding: 20px;
          text-align: center;
      }
      color:cs('accent-d');
}

.page__title {
  color:sandybrown;
  padding: 10px;
}
/* mainPageSection STYLE */

.mainPageSection__content {
    padding:0 10px;
    background:cs('background')
}
.mainPageSection__title {

}
/* saleSection STYLE */

.saleSection__content {
  color: #0007ff;
}
.saleSection__title {

}