/*** starter styles*/
@mixin starter() {
    
  .starter__content {
    padding:20px;
    background-color: violet;
    padding-left: 40px;
      
  }
  .starter1 {
        color: cs('accent-d');
        font-size : 54px;
        text-decoration: underline;
  }
    
}
@include starter();