/*** starter styles*/
@mixin starter() {
    
  .starter__content {
    color:red !important;
    padding:20px;
    background-color: violet;
      
  }
  .starter1 {
      color : violet;
      text-shadow: 2px 2px 2px #fff;
      font-size : 38px;
      text-align : center;
      text-decoration: underline;
  }
    
}
@include starter();