/* starter STYLE */

.starter {
    &__content {
        padding-left:30px;
        padding-bottom: 45px;
    }
    &__title {
        color: darken(silver,18%);
        border-bottom: 1px solid silver;
    }
}

.l_ib__e {
    display:inline-block;
    font-size: 1rem;
    vertical-align:top;
    margin-left: 40px;
    max-width: 43%;
  }
.l_ib__c{
    font-size:0;
}