mixin discountMetr()
	<!-- split modules/discountMetr -->
	.discountMetr
		.discountMetr__warpper
			.discountMetr__title
				h6 Скидометр
				.discountMetr__startPointWrapper
					.discountMetr__startPoint
			.discountMetr__scaleWrapper
				.discountMetr__scale__events
					span.discountMetr__scale__event.discountMetr__scale__event--250 Скидка  250 Р
						+I('slash')
					span.discountMetr__scale__event.discountMetr__scale__event--delivery Беспалтная доставка
						+I('slash')
					span.discountMetr__scale__event.discountMetr__scale__event--500 Скидка  700 Р
						+I('slash')
					span.discountMetr__scale__event.discountMetr__scale__event--1000 Скидка 1400 Р
						+I('slash')
				.discountMetr__scale__wrapper
					.discountMetr__scale_outer
						.discountMetr__scale_inner
				.discountMetr__scale__characters
					+loop(20)
						+I('scalePart')
				.discountMetr__scale__marks
					span.discountMetr__scale__mark 3000
					span.discountMetr__scale__mark 6000
					span.discountMetr__scale__mark 14 000
					span.discountMetr__scale__mark 18 000