
    .toOrder {
        color: #fff;
       // text-transform: uppercase;
        text-align: center;
        height: vr-block(1.5);
       // font-size:12px;
       // line-height: 2rem;
       img{
           width: 2.4em;
       }
        background: cs('primary');
        line-height: 1.8em;
        border: none;
        width: 100%;
        //border-radius: 3px;
        transition: background .2s ease;
        text-decoration: none;
        padding: 5px;
        display:inline-block;
        border-bottom: solid 4px darken(cs('primary'),3%);
        border-radius: 3px;
        svg {
            height: 12px;  
        }
        &:active{
            border:none; 
        }
        &.succes {
            background: cs('succes-d');
            border-color: cs('succes-d2');
            font-weight:bold;
            text-shadow: 0px 0px 3px #000;
            &:hover{
                background: cs('succes-l');
                border-color: cs('succes');
            
            }
        }
        &.makeOrder {
            font-weight: bold;
            font-size: 1.2rem;
            background: cs('accent');
            border-bottom: solid 4px darken(cs('accent'),3%);
            &:hover{
                background: cs('accent-l');
            }
        }
        
        &:hover{
            background: cs('accent-l');  
            border-color: cs('accent');  
        
        }
    }
    .colList{
        width: 50%;
        float: right;
    }
    
    
    
    
    