mixin MODULE-noticeList()
	<!-- split modules/noticeList -->
	.noticeList
		ul.noticeList__content(data-qcontent='module__noticeList')   
			+loop(4)
				li.noticeList__element.noticeList__element--unread
					time.noticeList__publicTime 
						b 29.11.2017 11:18:56 
					h5.noticeList__elementHeader Тестовое уведомление
					p.noticeList__noticeContent.text Следует отметить, что повышение уровня гражданского сознания обеспечивает широкому кругу (специалистов) участие в формировании форм воздействия. Таким образом, дальнейшее развитие различных форм деятельности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для поэтапного и последовательного развития общества. Независимые государства, превозмогая сложившуюся непростую экономическую ситуацию, объявлены нарушающими общечеловеческие нормы этики и морали.