//- delivery1.pug
extends ../LAYOUT/noSidebar/layout.pug
block title
	-var page={slug:'delivery1',title:'Способы и условия доставки и самовывоза',className:'text'};
	title Способы и условия доставки и самовывозаNaNСпособы и условия доставки и самовывоза
block page
	+C-deliveryArticle()

	