//- example.pug
extends ../LAYOUT/layout.pug
block title
	-var page={slug:'example',title:'ExamplePage'};
	title ExamplePage
block page
	+LEVEL-showCasePage(showCasePage)
	+LEVEL-showCasePage(showCase1)
	