//- main.pug
extends ../LAYOUT/layout.pug
block title 
	-var page={slug:'main',title:'MAIN'};
	title MAIN
block aside
block page 
	+owlSlider()
	+MODULE-featuresList()
	+LEVEL-mainPageSection('Лучшие предложения')  
		ul.productCol__list
			.group.group--el.group--v-el
					.col.col-8-tl  
						+MODULE-productCol(productInline)
					.col.col-4-tl
						+MODULE-productCol(productInline1)
					.col.col-3-tl
						+MODULE-productCol(productInline2) 
					.col.col-3-tl
						+MODULE-productCol(productInline3)
					.col.col-3-tl
						+MODULE-productCol(productInline4)
					.col.col-3-tl
						+MODULE-productCol(productInline5)
	+LEVEL-mainPageSection('Новинки')
		ul.productCol__list
			.group.group--el.group--v-el
					.col.col-4-tl  
						+MODULE-productCol(productInline)
					.col.col-4-tl
						+MODULE-productCol(productInline1)
					.col.col-4-tl
						+MODULE-productCol(productInline2) 
					.col.col-4-tl
						+MODULE-productCol(productInline2)