//- payment.pug
extends ../LAYOUT/noSidebar/layout.pug
block title
	-var page={slug:'payment',title:'Способы оплаты', className:'text'};
	title Способы оплатыNaNСпособы оплаты
block page
	p.text
		strong Для совершения покупки вы можете использовать следующие способы оплаты:
		ul
			li 
				+I('ruble','text') 
				span Оплатить #[b наличным платежем] при получении в #[b офисе] или в #[b пункте выдачи], а также #[b курьеру] при осуществлении доставки.
			li 
				+I('visa-logo','text')
				span Оплатить картами #[b VISA, MasterCard, Мир на сайте] или в нашем #[b офисе] или пункте выдачи заказов *
			li 
				+I('bank','text') 
				span Оплатить Банковским переводом
		hr(style="margin:2rem 0")
	h5 Примечания по онлайн оплате:
	p.text
		ul
			li 
				p.text
					+I('ssl','text')
					span Мы используем защищенный протокол передачи данных, что делает платежи на нашем сайте абсолютно безопасными! 
			li
				p.text
					| #[b Оплата банковскими картами осуществляется через АО «АЛЬФА-БАНК».]
				p.text 
					|Услуга оплаты через интернет осуществляется в соответствии с Правилами международных платежных систем Visa, MasterCard и Платежная система «Мир» на принципах соблюдения конфиденциальности и безопасности совершения платежа, для чего используются самые современные методы проверки, шифрования и передачи данных по закрытым каналам связи. Ввод данных банковской карты осуществляется на защищенной платежной странице АО «АЛЬФА-БАНК». 
				p.text
					|На странице для ввода данных банковской карты потребуется ввести номер карты, имя владельца карты, срок действия карты, трёхзначный код безопасности (CVV2 для VISA или CVC2 для MasterCard). Все необходимые данные пропечатаны на самой карте. 
					|Трёхзначный код безопасности — это три цифры, находящиеся на обратной стороне карты. 
					|Далее вы будете перенаправлены на страницу Вашего банка для ввода 3DSecure кода, который придет к Вам в СМС. Если 3DSecure код к Вам не пришел, то следует обратится в банк, выдавший Вам карту. 
				p.text 
					|Банковская карта не предназначена для совершения платежей через интернет, о чем можно узнать, обратившись в Ваш Банк;
					|недостаточно средств для оплаты на банковской карте. Подробнее о наличии средств на банковской карте Вы можете узнать, обратившись в банк, выпустивший банковскую карту;
					|данные банковской карты введены неверно;
					|истек срок действия банковской карты. Срок действия карты, как правило, указан на лицевой стороне карты (это месяц и год, до которого действительна карта).
					|Подробнее о сроке действия карты Вы можете узнать, обратившись в банк, выпустивший банковскую карту; 
					|По вопросам оплаты с помощью банковской карты и иным вопросам, связанным с работой сайта, Вы можете обращаться по следующему телефону: 8 (800) 500-13-84. 
					|Предоставляемая вами персональная информация (имя, адрес, телефон, e-mail, номер банковской карты) является конфиденциальной и не подлежит разглашению. Данные вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере. 
				p.text
					| #[b Правила возврата товара, оплаченного картой.]
					|При оплате картами возврат наличными денежными средствами не допускается. Порядок возврата регулируется правилами международных платежных систем. 
					|Процедура возврата товара регламентируется статьей 26.1 федерального закона «О защите прав потребителей». 
					|Потребитель вправе отказаться от товара в любое время до его передачи, а после передачи товара - в течение семи дней;
					|Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид, потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара;
					|Потребитель не вправе отказаться от товара надлежащего качества, имеющего индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его человеком;
				p.text
					|При отказе потребителя от товара продавец должен возвратить ему денежную сумму, уплаченную потребителем по договору, за исключением расходов продавца на доставку от потребителя возвращенного товара, не позднее чем через десять дней со дня предъявления потребителем соответствующего требования.
					|Для возврата денежных средств на банковскую карту необходимо заполнить «Заявление о возврате денежных средств», которое высылается по требованию компанией на электронный адрес и оправить его вместе с приложением копии паспорта по адресу #[b sale@santehsmart.ru] 
					|Возврат денежных средств будет осуществлен на банковскую карту в течение 21 (двадцати одного) рабочего дня со дня получения «Заявление о возврате денежных средств» Компанией. 
					|Для возврата денежных средств по операциям проведенными с ошибками необходимо обратиться с письменным заявлением и приложением копии паспорта и чеков/квитанций, подтверждающих ошибочное списание. Данное заявление необходимо направить по адресу #[b sale@santehsmart.ru] 
					|Сумма возврата будет равняться сумме покупки. Срок рассмотрения Заявления и возврата денежных средств начинает исчисляться с момента получения Компанией Заявления и рассчитывается в рабочих днях без учета праздников/выходных дней. 