//- personalSection.pug
extends ../LAYOUT/layout.pug
block title
	-var page={slug:'personalSection',title:'personalSection'};
	title personalSection
block page
	h1 personalSection
	+MODULE-personalSection()