//- product.pug
extends ../LAYOUT/noSidebar/layout.pug
block title
	-var page={slug:'product',title:'Унитаз-компакт Vitra S20 9819В003-7201 микролифт, Open-back'};
	title product  
block page
	+LEVEL-productInfo()
	+LEVEL-subProductInfo()