//- productList.pug
extends ../LAYOUT/layout.pug
block title
	-var page={slug:'productList',title:'productList'};
	title productList
block page
	.container
		+LEVEL-productSection()
			ul.productCol__list.clearfix
				+MODULE-productCol(productInline)
				+MODULE-productCol(productInline1)
				+MODULE-productCol(productInline2) 
				+MODULE-productCol(productInline3)
				+MODULE-productCol(productInline4)
				+MODULE-productCol(productInline5)
				+MODULE-productCol(productInline6) 