//- productList.pug
extends ../LAYOUT/layout.pug
block title
	-var page={slug:'productList',title:'productList'};
	title productList
block aside
		+MODULE-accordion(accordion.filter)
block page
		+LEVEL-productSection()
				ul.productCol__list.clearfix
					.group.group--el
						.col.col-4-tl
							+MODULE-productCol(productInline)
						.col.col-4-tl
							+MODULE-productCol(productInline1)
						.col.col-4-tl
							+MODULE-productCol(productInline2)
						.col.col-4-tl
							+MODULE-productCol(productInline3)
						.col.col-4-tl
							+MODULE-productCol(productInline4)
						.col.col-4-tl
							+MODULE-productCol(productInline5)
						.col.col-4-tl
							+MODULE-productCol(productInline5)
						.col.col-4-tl
							+MODULE-productCol(productInline6)  