//- hint-stock.pug
extends ../LAYOUT//_layout.pug
block title
	-var page={slug:'hint-stock',title:'hint-stock'};
	title hint-stockNaNhint-stock
block page
	-var textBlockAfterTitle = 'Выберите необходиме характеристики для поиска интересующих позиций!'
	-var textBlockAfterP = 'Внимание цена - неокончательная?'
	-var actionText ="Для уточнения подробностей, консультации и оформления заказа обращайтесь к продавцу-консультанту!"
	+MODULE-modalHint('modalHint--stock','Уцененные товары.',textBlockAfterTitle,textBlockAfterP,actionText)