//- hint-LowerPrice.pug
extends ../LAYOUT//_layout.pug
block title
	-var page={slug:'hint-LowerPrice',title:'Hint Desevle'};
	title Hint Desevle
block page
	-var textBlockAfterTitle = 'Введите наименование товара в поиск Яндекс Маркета или проверьте магазины из списка '
	-var textBlockAfterP = 'Нашли товар дешевле чем у нас?'
	-var actionText ="Пригласите продавца-консультанта!"
	+MODULE-modalHint('modalHint--lowerPrice','Сравнивайте цены.',textBlockAfterTitle,textBlockAfterP,actionText)