mixin LEVEL-mainPageSection(title)
	section.mainPageSection
		.mainPageSection__content(class = 'mainPageSection__content'+ className data-qcontent="level__mainPageSection")
			h2.mainPageSection__title=title
			if block
				block