/* mainPageSection STYLE */

.mainPageSection {
    &__content {
        margin-top: vr-block(1);
        margin-bottom: vr-block(1);
    }
    &__title {
        padding-left:vr-block(.4);;
        margin-bottom: vr-block(.4);
        border-bottom: dashed 1px cs('background-d2');
    }
}