mixin MODULE-modalHint(className,title,textBlockAfterTitle,textBlockAfterP)
	<!-- split modules/modalHint -->
	-if (!className) className =''
	.modalHint__content(data-qcontent='module__modalHint')
		.modalHint(class=' '+className)
			.modalHint__icons
				+I('hint','toShops')
				+I('hint','toSearch')
				+I('close','close')
			h2.text.modalHint__title=title
			p.text=textBlockAfterTitle
			h5.text.modalHint__q=textBlockAfterP
			
