<!-- split footer.html -->
footer This is footer

///////////////////////////////////////////////////////////////////
include ../SCRIPTS-STYLES/FOOTER/_footerScripts
-if(data.debug == "true")
    section.pb-section.clearfix#ball
        .fontSelector
            input(type='text',name='size',value='1')
            select(name='del')
                option(value='em',selected='selected') em
                option(value='px') px
            button OK
        span.lh Line height
        .spacer.element-i
            span Element i
        .spacer.element-o
            span Element o
        .spacer.component-i
            span Component i
        .spacer.component-o
            span Component o
        .spacer.module-i
            span Module ii
        .spacer.module-o
            span Module o
        .spacer.block-i
            span block i
        .spacer.block-o
            span block o