<!-- split footer.html -->
footer This is footer

///////////////////////////////////////////////////////////////////
include ../SCRIPTS-STYLES/FOOTER/_footerScripts
-if(switchers.debug=="true")
    section.pb-section.clearfix#ball
        span.lh Line height
        .spacer.element-i
            span Element i
        .spacer.element-o
            span Element o
        .spacer.component-i
            span Component i
        .spacer.component-o
            span Component o
        .spacer.module-i
            span Module ii
        .spacer.module-o
            span Module o
        .spacer.block-i
            span block i
        .spacer.block-o
            span block o