<!-- split header.html -->
header.mainHeader
    .container
        .row
            .col-1-m.col-1-tp
                +logo-img('logo.png')
            .col-8-tp
                +MODULE-lightMenu('MainMenu')
            .col-3-tp phone
