<!-- split header.html -->
header.mainHeader
    .container
        .row
            .col-3-m.col-2-tp.col-1-d.logo
                +logo-img('logo.png')
            .col-7-tp.headerSectionDivider
                +MODULE-lightMenu('MainMenu')
            .col-4-tp
                .row
                    .col-6-tp.headerSectionDivider
                        .headerSection.resizeble
                            span.headerPhone +7 (473) 228-65-07
                            span.headerAddress г. Воронеж, ул. Минская, 43

                    .col-3-tp.headerSectionDivider.js-trigger
                            .headerSection
                                +I('magnify','headerIcon')
                    .col-3-tp.headerSectionDivider.js-trigger(data-action='xRayView')
                            .headerSection
                                +I('eye','headerIcon')
