<!-- split header.html -->
header.mainHeader
    .container
        .row
            .col-3-m.col-2-tp.col-1-d
                +logo-img('logo.png')
            .col-8-tp
                +MODULE-lightMenu('MainMenu')
            .col-3-tp
                .row
                    .col-8-tp phone
                    .col-4-tp look
