include ../INCLUDES/_includes
<!-- split header.html -->
doctype html
html(lang=''+head.lang)
    head
        include ../INCLUDES/_head
    body
        .container
            header.mainHeader
                .row
                    .col-4-l
                        .logo
                    .col-8-l
                        +module('Light_menu')
            +module_no_on('breadcrumbs',['index'])
            <!-- split #{page.slug}.html -->
            block main
            <!-- split footer.html -->
            footer.mainFooter
                p &copy; "ВИРИ" Смесители и аксессуары для ванной комнаты 2016.
        <!-- split scripts/scripts.html -->
        include ../INCLUDES/_scripts

