include ../INCLUDES/_includes
<!-- split header.html -->
doctype html
html(lang=''+head.lang)
    head
        include ../INCLUDES/_head
    body
        .container
            .row
                .col-12
                    include _header
            <!-- split #{page.slug}.html -->
                .col-9
                    block main
                .col-3
                    block sidebar
                        h2 tet sidebar
        include _footer