include ../INCLUDES/_includes
<!-- split header.html -->
doctype html
html(lang=''+head.lang)
    head
        include ../INCLUDES/_head
    body(class=''+bodyClass)
        .hidden
            include ../../../../dist/icons/icons.svg
        include _header
            <!-- split #{page.slug}.html -->
        main
            .container
                block main
        include _footer
        include ../SCRIPTS-STYLES/FOOTER/_footerScripts
    include ../INCLUDES/_debugPannel