include ../INCLUDES/_includes
<!-- split header.html -->
doctype html
html(lang=''+head.lang)
    head
        include ../INCLUDES/_head
    body
        include _header
        <!-- split #{page.slug}.html -->
        .ove-main
            .ove-shade
            block main
            include _footer