include ../INCLUDES/_includes
<!-- split header.html -->
doctype html
html(lang=''+head.lang)
    head
        include ../INCLUDES/_head
    body
        .hidden
            include ../../../../dist/icons/icons.svg
        .container
            .row
                .col-12
                    include _header
            <!-- split #{page.slug}.html -->
                .col-10
                    block main
                .col-2
                    block sidebar
                        h2 DEFAULT SIDEBAR
        include _footer