$color__link : lighten(#3a155a,5%);
$colors: (
	primary:#3d255b,
	secondary:#1989AC,
	foreground:#fff,
	background:#f3f3f3,  
	accent:rgb(255, 123, 0),
	font:#6f6c6c,
	succes:#46bb90,
	erorr:#DD403A, 
	link:$color__link,
);
$color-step:.1; 