// SWITCHERS ////////////////////////////////////////////
$switchers:(
    response: true,
    vertical-rhythm: true,
    linkFonts: true,
    assetsFonts: false,
    debug: false,
    production: false,
    icon-font: false,
);
$response: true;
$vertical-rhythm: true;
$linkFonts: true; // USE REMOTE FONTS
$assetsFonts: false; // USE OWN FONTS
$debug: true;
$production: false;
$icon-font: false;


// COLORS ///////////////////////////////////////////////

$body-color         : cs('font'); // OF FONT
$header-color       : cs('primary'); // OF FONT
$background-color   : cs('bground');


// FONTS ////////////////////////////////////////////////
//// Register link fonts
$LINKED_FONTS_MAP:(
  'MAIN':('Oswald'), 'HEADER':('Roboto Slab')
);

// SPACE RATIO //////////////////////////////////////////



$space:  em;

//one size
$element_space: .5;
$component_space: $element_space*1.618;
$module_space: $component_space*1.618;
$block_space: $module_space*1.618;
$section_space: $block_space*1.618;

//PROGRESSIVE
$progressive : true;
$progressive_number: 1.4;

//two size fibonachi
$element_space_i: .5;
$element_space_o: .7;

$component_space_i:1;
$component_space_o:1.4;

$module_space_i:2;
$module_space_o:3;

$block_space_i:4;
$block_space_o:5;
@if($progressive == true){

  $element_space_i: .4;
  $element_space_o: $element_space_i*$progressive_number;

  $component_space_i: $element_space_o*$progressive_number;
  $component_space_o: $component_space_i*$progressive_number;

  $module_space_i: $component_space_o*$progressive_number;
  $module_space_o: $module_space_i*$progressive_number;

  $block_space_i: $module_space_o*$progressive_number;
  $block_space_o: $block_space_i*$progressive_number;

}@else{
  $element_space_i: .5;
  $element_space_o: 4;

  $component_space_i: 6;
  $component_space_o: 10;

  $module_space_i: 16;
  $module_space_o: 26;

  $block_space_i: 30;
  $block_space_o: 51;
}





// TYPOGRAPHY ///////////////////////////////////////////

$body-font          : fs('MAIN'),san-serif;//'Roboto Condensed', sans-serif; // TODO
$body-font-weight   : 400;
$header-font        : fs('HEADER'),san-serif;//'Roboto Condensed', sans-serif; // TODO
$header-font-weight : 700;
$mobile-font           : 14px;
$screen-font           : 18px;
$line-height-ratio: 1.7;


// LAYOUT ///////////////////////////////////////////////

$siteWidth: 1170px;
$colums: 12;
$gutter-width: 1em;
$container-styles:(

);

// IF RESPONSE ////////////////////////////////////////

$colStyles:(
          width: 100%,
          float: left,
          min-height: 1px
);

// BREAKPOINTS
$phone-upper-boundary: 600px;
$tablet-portrait-upper-boundary: 768px;
$tablet-landscape-upper-boundary: 994px;
$desktop-upper-boundary: 1200px;
$desktopl-upper-boundary: 1400px;
// CONTAINERS
$tablet-p-container:690px; $siteMinWidth:$tablet-p-container;
$tablet-l-container:900px;
$desktop-container:1120px;
$MEDIA:(
        phoneBreakpoint: 600px,
        tabletPortraitBreakpoint: 768px,
        tabletLandscapeBreakpoint: 994px,
        desktopBreakpoint: 1200px,
        desktoplBreakpoint: 1400px,
        tabletPcontainer:690px,
        tabletLcontainer:900px,
        desktopContainer:1120px,
);



$grid-map: (
        mobile       :(prefix:m, container:100%, breakpoint:$phone-upper-boundary - 1),
        tablet-p     :(prefix:tp, container:$tablet-p-container, breakpoint:$phone-upper-boundary),
        tablet-l     :(prefix:tl, container:900px, breakpoint:$tablet-portrait-upper-boundary),
        mediumScreen :(prefix:d, container:1120px, breakpoint:$tablet-landscape-upper-boundary),
        largeScreen  :(prefix:dl, container:$siteWidth, breakpoint:$desktop-upper-boundary),
);


// IF NO-RESPONSE /////////////////////////////////////

$nr-colStyles:(
        float: left,
);
.container {
  padding: 0 .5em;//TODO
 // width: 100%;
}
.container-fluid {
  padding: 0 .5em;//TODO
  // width: 100%;
}
