// SWITCHERS ////////////////////////////////////////////
$switchers:(
    projectPrefix:'ta',
    response: true,
    vertical-rhythm: true,
    linkFonts: true,
    assetsFonts: false,
    debug: false,
    production: false,
    icon-font: false,
);
$response: true;
$vertical-rhythm: true;
$linkFonts: true; // USE REMOTE FONTS
$assetsFonts: false; // USE OWN FONTS
$debug: true;
$production: false;
$icon-font: false;
@import "fontOption";

// COLORS ///////////////////////////////////////////////

$body-color         : cs('font'); // OF FONT
$header-color       : cs('primary'); // OF FONT
$background-color   : cs('bground');


// FONTS ////////////////////////////////////////////////
//// Register link fonts
//$LINKED_FONTS_MAP:(
//  'MAIN':('Oswald'), 'HEADER':('Roboto Slab')
//);

// SPACE RATIO //////////////////////////////////////////
@import "spacerOption";

$block_space:4;
$module_space:3;
$component_space:2;
$element_space:2;
$section_space:4;
// TYPOGRAPHY ///////////////////////////////////////////





// LAYOUT ///////////////////////////////////////////////

$siteWidth: 1170px;
$colums: 12;
$gutter-width: 1em;
$container-styles:(

);

// IF RESPONSE ////////////////////////////////////////

$colStyles:(
          width: 100%,
          float: left,
          min-height: 1px
);

// BREAKPOINTS
$phone-upper-boundary: 600px;
$tablet-portrait-upper-boundary: 768px;
$tablet-landscape-upper-boundary: 994px;
$desktop-upper-boundary: 1200px;
$desktopl-upper-boundary: 1400px;
// CONTAINERS
$tablet-p-container:690px; $siteMinWidth:$tablet-p-container;
$tablet-l-container:900px;
$desktop-container:1120px;
$MEDIA:(
        phoneBreakpoint: 600px,
        tabletPortraitBreakpoint: 768px,
        tabletLandscapeBreakpoint: 994px,
        desktopBreakpoint: 1200px,
        desktoplBreakpoint: 1400px,
        tabletPcontainer:690px,
        tabletLcontainer:900px,
        desktopContainer:1120px,
);



$grid-map: (
        mobile       :(prefix:m, container:100%, breakpoint:$phone-upper-boundary - 1),
        tablet-p     :(prefix:tp, container:$tablet-p-container, breakpoint:$phone-upper-boundary),
        tablet-l     :(prefix:tl, container:900px, breakpoint:$tablet-portrait-upper-boundary),
        mediumScreen :(prefix:d, container:1120px, breakpoint:$tablet-landscape-upper-boundary),
        largeScreen  :(prefix:dl, container:$siteWidth, breakpoint:$desktop-upper-boundary),
);


// IF NO-RESPONSE /////////////////////////////////////

$nr-colStyles:(
        float: left,
);
.container {
  padding: 0 .5em;//TODO
 // width: 100%;
}
.container-fluid {
  padding: 0 .5em;//TODO
  // width: 100%;
}
