// SWITCHERS ////////////////////////////////////////////
$switchers:(
    projectPrefix:'ta',
    response: true,
    vertical-rhythm: true,
    linkFonts: true,
    assetsFonts: false,
    debug: false,
    production: false,
    icon-font: false,
);

$linkFonts: true; // USE REMOTE FONTS
$assetsFonts: false; // USE OWN FONTS
$debug: true;
$production: false;
$icon-font: false;
@import "fontOption";

// COLORS ///////////////////////////////////////////////
@import "colors";
@import "../COLOR/_color";
$body-color         : cs('font'); // OF FONT
$header-color       : cs('primary'); // OF FONT
$background-color   : cs('bground');


// FONTS ////////////////////////////////////////////////
//// Register link fonts
//$LINKED_FONTS_MAP:(
//  'MAIN':('Oswald'), 'HEADER':('Roboto Slab')
//);

// SPACE RATIO //////////////////////////////////////////
@import "spacerOption";

$block_space:4;
$module_space:3;
$component_space:2;
$element_space:2;
$section_space:4;
// TYPOGRAPHY ///////////////////////////////////////////





// LAYOUT ///////////////////////////////////////////////
@import "mediaOption";

$container-styles:(

);

// IF RESPONSE ////////////////////////////////////////

$colStyles:(
          width: 100%,
          float: left,
          min-height: 1px
);




// IF NO-RESPONSE /////////////////////////////////////

$nr-colStyles:(
        float: left,
);
.container {
  padding: 0 .5em;//TODO
 // width: 100%;
}
.container-fluid {
  padding: 0 .5em;//TODO
  // width: 100%;
}
