mixin I(id,classModifier)
	-if (!classModifier) classModifier =''
	-else classModifier = 'icon--'+classModifier
	svg(class='icon '+classModifier data-qcontent='element__ICONS__MAIN-SVG-use')
		use(xlink:href="#"+id)
mixin B-b1(value,className)
	-if (!className) className =''
	button.b1(class=''+className data-qcontent='element__buttons__b1')=value	

