mixin B-b1(value,className)
	-if (!className) className =''
	button.b1(class=''+className data-qcontent='element__buttons__b1')=value+'!!!!'	


mixin I(id,classModifier)
	-if (!classModifier) classModifier =''
	-else classModifier = 'icon--'+classModifier
	span.icon__Wrapper(data-qcontent='element__ICONS__MAIN-SVG-use')
		svg(class='icon '+classModifier )
			use(xlink:href="#"+id)