mixin MODULE-email()
	<!-- split modules/email -->
	table.outerTable
		tr
			td
				table.email__content(data-qcontent='module__email')
					th.email 
						img(src = "partner.santehsmart.ru/bitrix/templates/STS2/images/logo.jpg")
						span Новый заказ 234224 
					tbody
						tr
							td 
								h4 Уважаемый Тывавыа Сываываа ываывавыа выававы 
						tr
							td 
								p Ваш заказ номер - 00ЗИМ-01498. от 15.06.2018 14:57:45 принят. 
						tr
							td 
								p.email__main Стоимость заказа: 2 320 руб.
									br 
									
									|	Пункт выдачи: Донбасская 21
									
									br
									|Состав заказа:
									br
									|Сантек Бореаль унитаз подвесной (полипропилен) 1WH302206 - 1.00 шт x 2 320 руб. 
						// tr
						// 	td
						// 		p Вы можете следить за выполнением своего заказа (на какой стадии выполнения он находится), войдя в Ваш персональный раздел сайта Santehsmart. 
						// 			br
						// 			br
						// 			|Обратите внимание, что для входа в этот раздел Вам необходимо будет ввести логин и пароль пользователя сайта Santehsmart. 
						// 			br
						// 			br
						// 			|Для того, чтобы аннулировать заказ, воспользуйтесь функцией отмены заказа, которая доступна в Вашем персональном разделе сайта Santehsmart. 
						// 			br
						// 			br
						// 			|Пожалуйста, при обращении к администрации сайта Santehsmart ОБЯЗАТЕЛЬНО указывайте номер Вашего заказа - 1113042.
						// 			br
						// 			br
						// 			br
						// 			span Спасибо за покупку!  
						// 			br
						// 			br 
						tr(style='border-top:solid 3px #3d255b;')
							td 
								p С уважением, 
									br
									|администрация Интернет-магазина
									br
									|E-mail: sale@santehsmart.ru 
