mixin MODULE-featuresList()
	<!-- split modules/featuresList -->
	.featuresList__content(data-qcontent='module__featuresList')
		ul.featuresList
			li.featuresList__item.l_ib__e
				.featuresList__mark-ctn
					span.featuresList__mark 1
				+I('eshop','feature')
				span.featuresList__desc.l_ib__e Выбираете продукцию на сайте
				+I('right-chevron','feature__arrow')
			li.featuresList__item.l_ib__e
				.featuresList__mark-ctn
					span.featuresList__mark 2
				+I('truck','feature')
				span.featuresList__desc.l_ib__e Выбираете продукцию на сайте
				+I('right-chevron','feature__arrow')
			li.featuresList__item.l_ib__e
				.featuresList__mark-ctn
					span.featuresList__mark 3
				+I('box','feature')
				span.featuresList__desc.l_ib__e Выбираете продукцию на сайте
				
				
				
		