//VARIABLES
$logo-max-height: 110px;

.logo__container {
  h1{
      font-size: 0;
      line-height:0;
      text-align: center;
  }
}

.logo__link{

  img {
    margin-top: -3px;//
    border:none;
    max-width: 100%;
    max-height: $logo-max-height;
    vertical-align: middle;
    height: auto;
  }

}
