//VARIABLES
$logo-max-height: 210px;

.logo__container {
  h1{
	  font-size: 0;
	  line-height:0;
	  text-align: center;
  }
}

.logo__link{

  img {
	width:100%;
	margin-top: -3px;//
	border:none;
	max-height: $logo-max-height;
	vertical-align: middle;
	height: auto;
  }

}
