mixin C-deliveryArticle()
	.deliveryArticle(data-qcontent='component__deliveryArticle')
		.group.group--bl.text
			.col.col-4-tl 
				.ta
					+I('flag') 
				h5 
					span 1
					|Самовывоз из нашего офиса #[br] или склада
				p Самый #[strong быстрый и экономичный] способ получения заказа - это самовывоз  из #[strong нашего офиса, склада] или   офиса партнерской компании.
				p
					h6 Самовывоз из офиса
					| После подтверждения заказа  мы  проводим его #[strong предпродажную проверку] на удаленном  складе и   доставляем в наш офис.
					| Для самовывоза из офиса в день заказа  заявка должна быть оформлена  в будние дни не позднее #[strong 13:00]. В других случаях заказ будет доступен для выдачи с #[strong 9:00] следующего дня.
				p
					h6 Самовывоз со склада
					| Самовывоз со склада доступен #[strong сразу после подтверждения заявки]  менеджером и
					|  ограничивается лишь необходимостью посетить наш офис для оформления документа продажи. #[br] Время работы склада: пн-вск, с 9 до 18ч.
				b При  получении в офисе #[br] доступны следующие виды оплаты:
				ul
					li Оплата картой на сайте 
					li Оплата банковским переводом
					li Оплата наличным рассчетом в офисе
					li Оплата по карте в офисе
			.col.col-4-tl
				.ta
					+I('marker')
				h5 
					span 2
					|Самовывоз из пункта выдачи заказов ТК СДЭК
				p  #[strong Более 1100 пунктов самовывоза по всей России.]
				p 
					h6 Как выбрать пункт выдачи?
					| При оформлении заказа, на этапе выбора доставки выберите "Самовывоз из пункта выдачи"- вам откроется карта; Кликните по наиболее удобному для вас ПВЗ. Сроки и стоимость доставки также указаны на карточке товара.
					h6 Как я узнаю что мой заказ пришел в ПВЗ?
					|  Вам будет выслано SMS уведомление 
					h6 Сколько заказ может храниться в ПВЗ? 
					| Не более 7 календарных дней. При необходимости увеличить срок свяжитесь с нами.	
					h6 Могу ли я сначала осмотреть заказ, нарушив транспортную упаковку?
					| Да, вы можете сначала убедиться в целостности посылки, отсутствии дефектов у товара и его комплектности прежде чем оплачивать заказ
					h6 Могу ли я отказаться от части заказа?
					| Да, частичный забор и оплата заказа предусмотрены.
				b При  получении в пункте выдачи #[br] доступны следующие виды оплаты:
				ul
					li Оплата картой на сайте.
					li Оплата банковским переводом.
					li Оплата наличным рассчетом в пункте выдачи.
			.col.col-4-tl
				.ta
					+I('truck-del') 
				h5
					span 3
					|Доставка курьером до двери дома/офиса
				p Курьерская доставка заказов осуществляется как собственной службой доставки, так и транспортной компанией СДЭК. Стоимость доставки и примерные сроки опубликованы в карточках товара, а также формируются автоматически при выборе способа получения заказ "Курьрская доставка" во время оформления заказа.
					|#[br] Точный срок и время доставки с вами согласует наш менеджер при подтверждении заказа. 
				p Курьерская доставка приобретенного товара производится до подъезда, дачи, коттеджа только при наличии подъездных путей. 
					| Подъем товара является дополнительной услугой и оговаривается с нашим менеджером при подтверждении заказа. 
				b При  получении в пункте выдачи #[br] доступны следующие виды оплаты:
				ul
					li Оплата картой на сайте.
					li Оплата банковским переводом.
					li Оплата наличным рассчетом курьеру.