include ../dev/templates/mixins/_mixins
doctype html
html
    head
        -if(izolate == true)
            link(href='main.css',type='text/css',rel='stylesheet')
        link(href='blueprint.css',type='text/css',rel='stylesheet')
    body.blueprint
        .blueprint_panel
        .canvas
            .canvas__border
                .canvas__blueprint.container
                    +module(blueprint)

