body.pg-loading {
  overflow: hidden; }

.pg-loading-screen {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000000;
  opacity: 1;
  background-color: #FFF;
  -webkit-transition: background-color 0.4s ease-in-out 0s;
  -moz-transition: background-color 0.4s ease-in-out 0s;
  -ms-transition: background-color 0.4s ease-in-out 0s;
  -o-transition: background-color 0.4s ease-in-out 0s;
  transition: background-color 0.4s ease-in-out 0s; }
  .pg-loading-screen.pg-loaded {
    opacity: 0;
    -webkit-animation: pgAnimLoaded 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
    -moz-animation: pgAnimLoaded 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
    -ms-animation: pgAnimLoaded 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
    -o-animation: pgAnimLoaded 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
    animation: pgAnimLoaded 0.5s cubic-bezier(0.7, 0, 0.3, 1) both; }
  .pg-loading-screen.pg-loading .pg-loading-logo-header, .pg-loading-screen.pg-loading .pg-loading-html {
    opacity: 1; }
  .pg-loading-screen.pg-loading .pg-loading-logo-header, .pg-loading-screen.pg-loading .pg-loading-html:not(.pg-loaded) {
    -webkit-animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both;
    -moz-animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both;
    -ms-animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both;
    -o-animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both;
    animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both; }
  .pg-loading-screen.pg-loading .pg-loading-html:not(.pg-loaded) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .pg-loading-screen .pg-loading-inner {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: static; }
  .pg-loading-screen .pg-loading-center-outer {
    width: 100%;
    padding: 0;
    display: table !important;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0; }
  .pg-loading-screen .pg-loading-center-middle {
    padding: 0;
    vertical-align: middle;
    display: table-cell  !important;
    margin: 0;
    text-align: center; }
  .pg-loading-screen .pg-loading-logo-header, .pg-loading-screen .pg-loading-html {
    width: 100%;
    opacity: 0; }
  .pg-loading-screen .pg-loading-logo-header {
    text-align: center; }
    .pg-loading-screen .pg-loading-logo-header img {
      display: inline-block !important; }
  .pg-loading-screen .pg-loading-html {
    margin-top: 90px; }
    .pg-loading-screen .pg-loading-html.pg-loaded {
      -webkit-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
      -moz-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
      -ms-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
      -o-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
      transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1); }
      .pg-loading-screen .pg-loading-html.pg-loaded.pg-removing {
        opacity: 0; }
      .pg-loading-screen .pg-loading-html.pg-loaded.pg-loading {
        opacity: 1; }

@-webkit-keyframes pgAnimLoading {
  from {
    opacity: 0; } }

@-moz-keyframes pgAnimLoading {
  from {
    opacity: 0; } }

@-o-keyframes pgAnimLoading {
  from {
    opacity: 0; } }

@-ms-keyframes pgAnimLoading {
  from {
    opacity: 0; } }

@keyframes pgAnimLoading {
  from {
    opacity: 0; } }

@-webkit-keyframes pgAnimLoaded {
  from {
    opacity: 1; } }

@-moz-keyframes pgAnimLoaded {
  from {
    opacity: 1; } }

@-o-keyframes pgAnimLoaded {
  from {
    opacity: 1; } }

@-ms-keyframes pgAnimLoaded {
  from {
    opacity: 1; } }

@keyframes pgAnimLoaded {
  from {
    opacity: 1; } }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y; }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    -webkit-transform-style: preserve-3d; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

/*
 * NORMALIZE
 */
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default fonts family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of fonts size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of fonts size in all browsers.
 * 2. Correct the odd `em` fonts sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct fonts weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of fonts size in all browsers.
 * 2. Correct the odd `em` fonts sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct fonts style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct fonts size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on not_opt_images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change fonts properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*
 * RESET
 */
ul {
  padding: 0; }

li {
  list-style: none; }

/*
* FONTS
*/
@font-face {
  font-family: "Blanca";
  src: url("fonts/BlankaRegular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/BlankaRegular.eot?#iefix") format("embedded-opentype"), url("fonts/BlankaRegular.woff2") format("woff2"), url("fonts/BlankaRegular.woff") format("woff"), url("fonts/BlankaRegular.ttf") format("truetype"), url("fonts/BlankaRegular.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: Normal;
  font-style: normal; }

/*
 * BASE STYLES
 */
* {
  box-sizing: border-box; }

body {
  background-color: #f6fafd; }

/*
 * TYPOGRAPHY
 */
html {
  font-family: "Roboto", san-serif;
  font-weight: 300;
  color: #527192;
  font-size: 14px;
  line-height: 1.6; }
  @media (min-width: 900px) {
    html {
      font-size: calc( 14px + (16 - 14) * ((100vw - 900px) / (1240 - 900))); } }
  @media (min-width: 1240px) {
    html {
      font-size: 16px; } }

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Blanca", san-serif;
  font-weight: 900;
  color: #405871;
  clear: both; }

.text p, p.text,
.text blockquote, blockquote.text,
.text pre pre.text,
.text address, address.text,
.text dl, dl.text,
.text ol, ol.text,
.text ul, ul.text,
.text table, table.text {
  margin-bottom: 1.6em; }

h1 {
  font-size: 32.49679px; }
  h1.text, .text h1 {
    margin-top: 0.86162em;
    line-height: 1.03395em;
    margin-bottom: 0.17232em; }
  @media (min-width: 900px) {
    h1 {
      font-size: calc(32.49679px + (37.13919 - 32.49679) * ((100vw - 900px) / (1240 - 900))); } }
  @media (min-width: 1240px) {
    h1 {
      font-size: 37.13919px; }
      h1.text, .text h1 {
        margin-top: 0.86162em;
        line-height: 1.03395em;
        margin-bottom: 0.17232em; } }

h2 {
  font-size: 27.45984px; }
  h2.text, .text h2 {
    margin-top: 1.01967em;
    line-height: 1.22361em;
    margin-bottom: 0.22621em; }
  @media (min-width: 900px) {
    h2 {
      font-size: calc(27.45984px + (31.38267 - 27.45984) * ((100vw - 900px) / (1240 - 900))); } }
  @media (min-width: 1240px) {
    h2 {
      font-size: 31.38267px; }
      h2.text, .text h2 {
        margin-top: 1.01967em;
        line-height: 1.22361em;
        margin-bottom: 0.22343em; } }

h3 {
  font-size: 23.20361px; }
  h3.text, .text h3 {
    margin-top: 1.20671em;
    line-height: 1.44805em;
    margin-bottom: 0.27254em; }
  @media (min-width: 900px) {
    h3 {
      font-size: calc(23.20361px + (26.51841 - 23.20361) * ((100vw - 900px) / (1240 - 900))); } }
  @media (min-width: 1240px) {
    h3 {
      font-size: 26.51841px; }
      h3.text, .text h3 {
        margin-top: 1.20671em;
        line-height: 1.44805em;
        margin-bottom: 0.26864em; } }

h4 {
  font-size: 19.60708px; }
  h4.text, .text h4 {
    margin-top: 1.42806em;
    line-height: 1.71367em;
    margin-bottom: 0.32931em; }
  @media (min-width: 900px) {
    h4 {
      font-size: calc(19.60708px + (22.4081 - 19.60708) * ((100vw - 900px) / (1240 - 900))); } }
  @media (min-width: 1240px) {
    h4 {
      font-size: 22.4081px; }
      h4.text, .text h4 {
        margin-top: 1.42806em;
        line-height: 1.71367em;
        margin-bottom: 0.32385em; } }

h5 {
  font-size: 16.56802px; }
  h5.text, .text h5 {
    margin-top: 1.69em;
    line-height: 2.028em;
    margin-bottom: 0.338em; }
  @media (min-width: 900px) {
    h5 {
      font-size: calc(16.56802px + (18.93488 - 16.56802) * ((100vw - 900px) / (1240 - 900))); } }
  @media (min-width: 1240px) {
    h5 {
      font-size: 18.93488px; }
      h5.text, .text h5 {
        margin-top: 1.69em;
        line-height: 2.028em;
        margin-bottom: 0.338em; } }

h6 {
  font-size: 14px; }
  h6.text, .text h6 {
    margin-top: 2em;
    line-height: 2.4em;
    margin-bottom: 0.45714em; }
  @media (min-width: 900px) {
    h6 {
      font-size: calc(14px + (16 - 14) * ((100vw - 900px) / (1240 - 900))); } }
  @media (min-width: 1240px) {
    h6 {
      font-size: 16px; }
      h6.text, .text h6 {
        margin-top: 2em;
        line-height: 2.4em;
        margin-bottom: 0.42857em; } }

blockquote {
  font-style: italic; }
  blockquote cite {
    display: block;
    font-style: normal; }

pre {
  padding: 0.8em;
  margin-bottom: 1.6em; }
  pre code {
    padding: 0; }

code {
  font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", "monospace";
  padding: 0.08em 0.24em;
  line-height: 0; }

big, small, sub, sup {
  line-height: 0; }

abbr, acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help; }

address {
  font-style: normal; }

dt {
  color: #405871;
  font-weight: bold; }

.text ul, ul.text {
  padding-left: 1.1em; }

.text ol, ol.text {
  padding-left: 1.4em; }

fieldset {
  padding: 0.8em 1.6em 1.6em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 1.7em; }
  @media (min-width: 1240px) {
    fieldset {
      margin-bottom: 1.875em; } }
  fieldset button, fieldset input[type="submit"] {
    margin-bottom: 0; }

legend {
  color: #405871;
  font-weight: bold; }

input[type="text"], input[type="email"], input[type="password"], textarea {
  display: block;
  max-width: 100%;
  padding: 0.4em;
  font-size: 14px;
  margin-bottom: 1.15em; }
  @media (min-width: 900px) {
    input[type="text"], input[type="email"], input[type="password"], textarea {
      font-size: calc(14px + (16 - 14) * ((100vw - 900px) / (1240 - 900))); } }
  @media (min-width: 1240px) {
    input[type="text"], input[type="email"], input[type="password"], textarea {
      font-size: 16px;
      margin-bottom: 0.4875em; } }

input[type="submit"], button {
  display: block;
  cursor: pointer;
  font-size: 14px;
  padding: 0.4em 1.6em;
  margin-bottom: 1.05em; }
  @media (min-width: 900px) {
    input[type="submit"], button {
      font-size: calc(14px + (16 - 14) * ((100vw - 900px) / (1240 - 900))); } }
  @media (min-width: 1240px) {
    input[type="submit"], button {
      font-size: 16px;
      margin-bottom: 1.2em; } }

label {
  display: block;
  padding-bottom: 0.2em;
  margin-bottom: -0.15em; }

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 2.1em; }
  @media (min-width: 1240px) {
    table {
      margin-bottom: 1.9em; } }

th {
  text-align: left;
  color: #405871;
  padding: 0.2em 0.8em; }
  @media (min-width: 1240px) {
    th {
      padding: 0.4em 0.8em; } }

td {
  padding: 0.8em;
  padding: 0.2em 0.8em; }
  @media (min-width: 1240px) {
    td {
      padding: 0.4em 0.8em; } }

/*
 * HIERARCHY
 */
.hl1 {
  font-size: 6em;
  text-transform: uppercase;
  font-weight: bold; }

.hl2 {
  font-size: 3.5em; }

.hl3 {
  font-size: 1.25em; }

.hl4 {
  font-size: 1.1em;
  text-transform: uppercase; }

.hl-1 {
  font-size: .6em;
  text-transform: uppercase;
  font-weight: bold; }

.hl-2 {
  font-size: .7em;
  font-style: italic;
  font-weight: bold; }

/*
 * GRID
 */
.col-1-m, .col-2-m, .col-3-m, .col-4-m, .col-5-m, .col-6-m, .col-7-m, .col-8-m, .col-9-m, .col-10-m, .col-11-m, .col-12-m, .col-1-tp, .col-2-tp, .col-3-tp, .col-4-tp, .col-5-tp, .col-6-tp, .col-7-tp, .col-8-tp, .col-9-tp, .col-10-tp, .col-11-tp, .col-12-tp, .col-1-tl, .col-2-tl, .col-3-tl, .col-4-tl, .col-5-tl, .col-6-tl, .col-7-tl, .col-8-tl, .col-9-tl, .col-10-tl, .col-11-tl, .col-12-tl, .col-1-d, .col-2-d, .col-3-d, .col-4-d, .col-5-d, .col-6-d, .col-7-d, .col-8-d, .col-9-d, .col-10-d, .col-11-d, .col-12-d, .col-1-dl, .col-2-dl, .col-3-dl, .col-4-dl, .col-5-dl, .col-6-dl, .col-7-dl, .col-8-dl, .col-9-dl, .col-10-dl, .col-11-dl, .col-12-dl {
  width: 100%;
  float: left;
  padding-left: 0.5em;
  padding-right: 0.5em; }

@media screen and (max-width: 599px) {
  .col-1-m {
    width: 8.33333%; }
  .col-2-m {
    width: 16.66667%; }
  .col-3-m {
    width: 25%; }
  .col-4-m {
    width: 33.33333%; }
  .col-5-m {
    width: 41.66667%; }
  .col-6-m {
    width: 50%; }
  .col-7-m {
    width: 58.33333%; }
  .col-8-m {
    width: 66.66667%; }
  .col-9-m {
    width: 75%; }
  .col-10-m {
    width: 83.33333%; }
  .col-11-m {
    width: 91.66667%; }
  .col-12-m {
    width: 100%; }
  .hide-m {
    display: none; }
  .hide-tp {
    display: block; }
  .hide-tl {
    display: block; }
  .hide-d {
    display: block; }
  .hide-dl {
    display: block; }
  .visible-m {
    display: block; }
  .visible-tp {
    display: none; }
  .visible-tl {
    display: none; }
  .visible-d {
    display: none; }
  .visible-dl {
    display: none; }
  .container {
    width: 100%; } }

@media screen and (min-width: 600px) {
  .col-1-tp {
    width: 8.33333%; }
  .col-2-tp {
    width: 16.66667%; }
  .col-3-tp {
    width: 25%; }
  .col-4-tp {
    width: 33.33333%; }
  .col-5-tp {
    width: 41.66667%; }
  .col-6-tp {
    width: 50%; }
  .col-7-tp {
    width: 58.33333%; }
  .col-8-tp {
    width: 66.66667%; }
  .col-9-tp {
    width: 75%; }
  .col-10-tp {
    width: 83.33333%; }
  .col-11-tp {
    width: 91.66667%; }
  .col-12-tp {
    width: 100%; }
  .hide-m {
    display: block; }
  .hide-tp {
    display: none; }
  .hide-tl {
    display: block; }
  .hide-d {
    display: block; }
  .hide-dl {
    display: block; }
  .visible-m {
    display: none; }
  .visible-tp {
    display: block; }
  .visible-tl {
    display: none; }
  .visible-d {
    display: none; }
  .visible-dl {
    display: none; }
  .container {
    width: 100%; } }

@media screen and (min-width: 900px) {
  .col-1-tl {
    width: 8.33333%; }
  .col-2-tl {
    width: 16.66667%; }
  .col-3-tl {
    width: 25%; }
  .col-4-tl {
    width: 33.33333%; }
  .col-5-tl {
    width: 41.66667%; }
  .col-6-tl {
    width: 50%; }
  .col-7-tl {
    width: 58.33333%; }
  .col-8-tl {
    width: 66.66667%; }
  .col-9-tl {
    width: 75%; }
  .col-10-tl {
    width: 83.33333%; }
  .col-11-tl {
    width: 91.66667%; }
  .col-12-tl {
    width: 100%; }
  .hide-m {
    display: block; }
  .hide-tp {
    display: block; }
  .hide-tl {
    display: none; }
  .hide-d {
    display: block; }
  .hide-dl {
    display: block; }
  .visible-m {
    display: none; }
  .visible-tp {
    display: none; }
  .visible-tl {
    display: block; }
  .visible-d {
    display: none; }
  .visible-dl {
    display: none; }
  .container {
    width: 90%; } }

@media screen and (min-width: 1200px) {
  .col-1-d {
    width: 8.33333%; }
  .col-2-d {
    width: 16.66667%; }
  .col-3-d {
    width: 25%; }
  .col-4-d {
    width: 33.33333%; }
  .col-5-d {
    width: 41.66667%; }
  .col-6-d {
    width: 50%; }
  .col-7-d {
    width: 58.33333%; }
  .col-8-d {
    width: 66.66667%; }
  .col-9-d {
    width: 75%; }
  .col-10-d {
    width: 83.33333%; }
  .col-11-d {
    width: 91.66667%; }
  .col-12-d {
    width: 100%; }
  .hide-m {
    display: block; }
  .hide-tp {
    display: block; }
  .hide-tl {
    display: block; }
  .hide-d {
    display: none; }
  .hide-dl {
    display: block; }
  .visible-m {
    display: none; }
  .visible-tp {
    display: none; }
  .visible-tl {
    display: none; }
  .visible-d {
    display: block; }
  .visible-dl {
    display: none; }
  .container {
    width: 1120px; } }

@media screen and (min-width: 1800px) {
  .col-1-dl {
    width: 8.33333%; }
  .col-2-dl {
    width: 16.66667%; }
  .col-3-dl {
    width: 25%; }
  .col-4-dl {
    width: 33.33333%; }
  .col-5-dl {
    width: 41.66667%; }
  .col-6-dl {
    width: 50%; }
  .col-7-dl {
    width: 58.33333%; }
  .col-8-dl {
    width: 66.66667%; }
  .col-9-dl {
    width: 75%; }
  .col-10-dl {
    width: 83.33333%; }
  .col-11-dl {
    width: 91.66667%; }
  .col-12-dl {
    width: 100%; }
  .hide-m {
    display: block; }
  .hide-tp {
    display: block; }
  .hide-tl {
    display: block; }
  .hide-d {
    display: block; }
  .hide-dl {
    display: none; }
  .visible-m {
    display: none; }
  .visible-tp {
    display: none; }
  .visible-tl {
    display: none; }
  .visible-d {
    display: none; }
  .visible-dl {
    display: block; }
  .container {
    width: 1240px; } }

.row {
  margin-left: -0.5em;
  margin-right: -0.5em; }
  .row:before, .row:after {
    content: "";
    display: table;
    clear: both; }

.wrapper {
  width: 100%; }

.container {
  display: block;
  margin: 0 auto; }
  .container:before, .container:after {
    content: "";
    display: table;
    clear: both; }

/*
* LAYOUT HELPERS
*/
.fadeIn {
  opacity: 1; }

.fadeOut {
  opacity: 0; }

.visible {
  display: block; }

.hidden {
  display: none; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.no-gutter {
  padding-left: 0;
  padding-right: 0; }

.no-gutter-l {
  padding-left: 0; }

.no-gutter-r {
  padding-right: 0; }

/*
* MODULES  STYLES
*/
.lightMenu li {
  display: inline-block; }
  .lightMenu li:first-child {
    margin-left: 0; }

.lightMenu li {
  list-style: none;
  margin-right: 0.64em;
  padding-right: 0.64em;
  padding-left: 0.64em; }
  @media screen and (max-width: 600px) {
    .lightMenu li {
      padding-top: 0.64em;
      padding-bottom: 0.64em;
      display: block;
      width: 100%;
      text-align: center;
      margin-left: 0; } }

.lightMenu li a {
  color: #f9f2f4;
  text-decoration: none; }

.lightMenu {
  padding-top: 2.71091em;
  padding-bottom: 2.71091em;
  text-align: center; }

.lightmenu__item--active {
  background-color: #fd5800;
  background-color: false;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease; }
  .lightmenu__item--active:hover {
    background-color: #ca4600; }
  @media screen and (max-width: 1200px) {
    .lightmenu__item--active {
      background-color: inherit; } }

.FORM {
  background-color: #fff;
  padding-top: 0.64em;
  padding-right: 0.64em;
  padding-bottom: 0.64em;
  padding-left: 0.64em; }
  .FORM input[type='text'] {
    padding-top: 0.64em;
    padding-right: 0.64em;
    padding-bottom: 0.64em;
    padding-left: 0.64em;
    font-size: .8rem;
    width: 100%;
    border: solid 1px black; }
  .FORM input[type='submit'] {
    border: none;
    font-size: 1rem; }

.form__validateMessage {
  color: #ff7c8b;
  float: right;
  display: inline-block; }
  @media (min-width: 1200px) {
    .form__validateMessage {
      color: #00A000;
      font-size: 50px; } }

.form__line {
  margin-top: 0.64em;
  margin-bottom: 0.64em;
  padding-top: 0.64em;
  padding-bottom: 0.64em; }
  .form__line:last-child {
    padding-bottom: 0; }

.form_img_ctn {
  height: 500px; }

.breadCrumb {
  padding-top: 1.03552em;
  padding-bottom: 1.03552em;
  padding-right: 2.71091em;
  padding-left: 2.71091em;
  background-color: #fefff9;
  text-transform: uppercase;
  font-size: .9em; }
  .breadCrumb a:link, .breadCrumb a:visited {
    color: #6b8aac;
    text-decoration: none; }
  .breadCrumb a:hover {
    color: #405871; }

.breadcrumb__section {
  display: inline-block;
  margin-top: 0.64em;
  margin-right: 0.64em;
  margin-bottom: 0.64em;
  margin-left: 0.64em; }
  .breadcrumb__section:before {
    content: '/rsssdssesss[[sshuray it workss';
    margin-right: 20px; }

.breadCrumb__section--home {
  font-weight: 600; }
  .breadCrumb__section--home:before {
    content: '';
    margin-right: 0; }

.catalogMenu {
  position: relative; }
  .catalogMenu .catalogMenu__button {
    display: block;
    background-color: #fd5800;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    height: 70px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease; }
    .catalogMenu .catalogMenu__button:hover {
      background-color: #ff7931; }
    .catalogMenu .catalogMenu__button:after {
      content: '';
      position: absolute;
      bottom: -3px;
      width: 100%;
      height: 3px;
      left: 0;
      background-color: #ca4600; }
  .catalogMenu .catalogMenu__list {
    width: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 6000;
    box-shadow: 1px 1px 1px silver; }
  .catalogMenu .catalogMenu__list__item {
    padding-top: 0.64em;
    padding-bottom: 0.64em;
    padding-left: 0.64em;
    border-bottom: solid 1px #cce3f4; }
    .catalogMenu .catalogMenu__list__item:hover {
      background-color: #e5f1f9; }
  .catalogMenu .catalogMenu__wrapper {
    position: relative;
    display: none; }
  .catalogMenu .catalogMenu__subCatalog {
    display: none;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: -150%;
    z-index: 5000;
    width: 150%; }
  .catalogMenu .catalogMenu__list--L2 {
    width: 150%;
    right: -150%;
    display: none; }
  .catalogMenu .catalogMenu__list--L3 {
    width: 150%;
    right: -300%;
    display: none; }
  .catalogMenu .catalogMenu__list__item--active {
    background-color: #e5f1f9; }

.hero_video {
  position: relative; }

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0; }

.video-container video.fillWidth {
  width: 100%; }

@media (min-width: 900px) {
  .owlSlider {
    margin-top: 1.03552em; } }

.pagination {
  padding-top: 1.03552em;
  padding-right: 1.03552em;
  padding-left: 1.03552em;
  padding-bottom: 2.71091em;
  background-color: #fff; }

.pagination__ctn {
  padding: 0;
  text-align: center; }

.pagination__ctn__button {
  list-style: none;
  display: inline-block;
  margin-right: 0.64em;
  padding-top: 0.64em;
  padding-bottom: 0.64em;
  padding-right: 1.03552em;
  padding-left: 1.03552em;
  background-color: #0BA0F0;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
  background-color: false;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease; }
  .pagination__ctn__button:hover {
    background-color: #097fbf; }

.pagination__ctn__button--current {
  background-color: #ff7931; }
  .pagination__ctn__button--current:hover {
    background-color: #ff7931; }

/*
* MIXES  STYLES
*/
.menu-hamburger {
  display: table;
  position: relative;
  margin: 0 auto;
  height: 3.69434em;
  cursor: pointer; }
  .menu-hamburger .menu-hamburger__part {
    position: relative;
    vertical-align: middle;
    margin-bottom: 6px;
    border-radius: 1px;
    display: block;
    width: 2rem;
    height: .4rem;
    background-color: #fefff9; }
    .menu-hamburger .menu-hamburger__part:last-child {
      margin-bottom: 0; }

.menu-hamburger__partsWrap {
  display: table-cell;
  vertical-align: middle; }

.heroTitle-ctn {
  width: 100%;
  display: table;
  text-align: center;
  height: 100%; }
  .heroTitle-ctn h1.heroTitle {
    display: table-cell;
    vertical-align: middle;
    font-family: "Blanca"; }

.logo__link {
  display: block;
  text-align: center; }
  .logo__link img {
    width: 100%;
    vertical-align: bottom; }

.logo__link {
  display: block; }
  .logo__link .logo__container {
    text-align: center;
    overflow: hidden; }

.img_container--align_v {
  position: relative; }

.img_container--align_v img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0; }

/*
* ELEMENTS  STYLES
*/
.mainButton {
  background-color: #aaa; }
  .mainButton:focus {
    outline: thin dotted; }
  .mainButton:hover, .mainButton:active {
    outline: 0; }

a.signUpButtonLink {
  color: #ff726b;
  text-decoration: none; }
  a.signUpButtonLink:visited {
    color: #fff; }
  a.signUpButtonLink:hover, a.signUpButtonLink:focus, a.signUpButtonLink:active {
    color: #a14d47; }
  a.signUpButtonLink:focus {
    outline: none; }
  a.signUpButtonLink:hover, a.signUpButtonLink:active {
    outline: none; }

a.socialLink {
  color: red;
  text-decoration: none; }
  a.socialLink:visited {
    color: red; }
  a.socialLink:hover, a.socialLink:focus, a.socialLink:active {
    color: red; }
  a.socialLink:focus {
    outline: thin dotted; }
  a.socialLink:hover, a.socialLink:active {
    outline: 0; }

.spinner-circle {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #ffffff;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out; }

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: .4; } }

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

a, a.mainLink {
  color: #4323ff;
  text-decoration: none; }
  a:visited, a.mainLink:visited {
    color: #ff7c8b; }
  a:hover, a:focus, a:active, a.mainLink:hover, a.mainLink:focus, a.mainLink:active {
    color: #1b00bc; }
  a:focus, a.mainLink:focus {
    outline: thin dotted; }
  a:hover, a:active, a.mainLink:hover, a.mainLink:active {
    outline: 0; }

.gogog {
  position: relative;
  background-color: #fff;
  color: #fff; }
  .gogog:hover, .gogog:focus, .gogog:active {
    color: #fff;
    background-color: #fff; }
  .gogog:focus {
    outline: none; }
  .gogog:hover, .gogog:active {
    outline: none; }

a.ove-topNavLink {
  color: #527192;
  display: inline-block;
  text-decoration: none;
  padding: 0.64em;
  background-color: #fff; }
  a.ove-topNavLink:visited {
    color: #527192; }
  a.ove-topNavLink:hover, a.ove-topNavLink:focus, a.ove-topNavLink:active {
    color: #405871;
    background-color: #87ff8b; }
  a.ove-topNavLink:focus {
    outline: none; }
  a.ove-topNavLink:hover, a.ove-topNavLink:active {
    outline: none; }

/*
* PROJECT  STYLES
*/
/*
Header
*/
.ove-topNavigation {
  display: none; }
  @media (min-width: 900px) {
    .ove-topNavigation {
      display: block; } }
  @media (min-width: 1200px) {
    .ove-topNavigation {
      margin-bottom: 0.64em; } }

.ove-topNavigation li.ove-topNavigation__eshopMark {
  display: none; }
  @media (min-width: 1200px) {
    .ove-topNavigation li.ove-topNavigation__eshopMark {
      display: inline-block; } }

.ove-topNavigation li {
  display: inline-block; }

.ove-desctopControlPanel {
  display: none; }
  @media (min-width: 1200px) {
    .ove-desctopControlPanel {
      display: block;
      margin-bottom: 0.64em; } }

.ove-subControlPanel__wrapper {
  background-color: #0BA0F0;
  border-bottom: 3px solid #097fbf; }

.ove-subControlPanel--mobile {
  padding-top: 0.64em;
  padding-bottom: 0.64em; }
  @media (min-width: 1200px) {
    .ove-subControlPanel--mobile {
      display: none; } }

.ove-subControlPanel--desktop {
  display: none; }
  @media (min-width: 1200px) {
    .ove-subControlPanel--desktop {
      display: block;
      height: 70px; } }

/*
logo
*/
@media (min-width: 600px) {
  .ove-logo--mobile {
    text-align: left; } }

.ove-logo--mobile img {
  height: 3.69434em;
  width: auto; }

.ove-main {
  position: relative; }

.ove-shade {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.21);
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 3000; }

.pb-projectBoard {
  background: white; }

.pb-section {
  border-bottom: 1px solid #ededed;
  padding-top: 1.67547em;
  padding-right: 1.67547em;
  padding-bottom: 1.67547em;
  padding-left: 1.67547em; }

.pb-elementHeader {
  display: block; }

.pb-element {
  padding-right: 0.64em; }

.pb-colorBox {
  width: 90px;
  height: 90px;
  margin-top: 0.64em; }

.pb-colorBox--primary {
  background-color: #0BA0F0; }

.pb-colorBox--primary-l {
  background-color: #38b4f6; }

.pb-colorBox--primary-d {
  background-color: #097fbf; }

.pb-colorBox--primary-t {
  background-color: rgba(11, 160, 240, 0.5); }

.pb-colorBox--secondary {
  background-color: #527192; }

.pb-colorBox--secondary-l {
  background-color: #6b8aac; }

.pb-colorBox--secondary-d {
  background-color: #405871; }

.pb-colorBox--secondary-t {
  background-color: rgba(82, 113, 146, 0.5); }

.pb-colorBox--accent {
  background-color: #fd5800; }

.pb-colorBox--accent-l {
  background-color: #ff7931; }

.pb-colorBox--accent-d {
  background-color: #ca4600; }

.pb-colorBox--accent-t {
  background-color: rgba(253, 88, 0, 0.5); }

.pb-colorBox--fground {
  background-color: #fefff9; }

.pb-colorBox--fground-l {
  background-color: white; }

.pb-colorBox--fground-d {
  background-color: #f6ffc6; }

.pb-colorBox--fground-t {
  background-color: rgba(254, 255, 249, 0.5); }

.pb-colorBox--bground {
  background-color: #f6fafd; }

.pb-colorBox--bground-l {
  background-color: white; }

.pb-colorBox--bground-d {
  background-color: #cce3f4; }

.pb-colorBox--bground-t {
  background-color: rgba(246, 250, 253, 0.5); }

.pb-colorBox--font {
  background-color: #527192; }

.pb-colorBox--font-l {
  background-color: #6b8aac; }

.pb-colorBox--font-d {
  background-color: #405871; }

.pb-colorBox--font-t {
  background-color: rgba(82, 113, 146, 0.5); }

.pb-colorMaket section {
  font-size: 10px;
  margin-top: 2.71091em;
  margin-bottom: 2.71091em; }

.pb-colorMaket {
  width: 40%;
  background-color: #f6fafd; }

.pb-colorMaket__ctn {
  width: 80%;
  background-color: #fefff9;
  padding-top: 2.71091em;
  padding-right: 2.71091em;
  padding-bottom: 2.71091em;
  padding-left: 2.71091em;
  margin: 0 auto; }

.pb-colorMaket__header {
  height: 60px; }

.pb-colorMaket__header__primary {
  padding-top: 1.03552em;
  padding-right: 1.03552em;
  padding-bottom: 1.03552em;
  padding-left: 1.03552em;
  background-color: #0BA0F0;
  width: 70%; }

.pb-colorMaket__header__secondary {
  padding-top: 1.03552em;
  padding-right: 1.03552em;
  padding-bottom: 1.03552em;
  padding-left: 1.03552em;
  background-color: #527192;
  width: 30%; }

.pb-colorMaket__header__accent {
  width: 40%;
  padding-top: 0.64em;
  padding-right: 0.64em;
  padding-bottom: 0.64em;
  padding-left: 0.64em;
  background-color: #fd5800; }

.pb-colorMaket__body {
  padding-top: 1.03552em;
  padding-right: 1.03552em;
  padding-bottom: 1.03552em;
  padding-left: 1.03552em; }

.pb-colorMaket__body__section {
  padding-top: 2.71091em;
  padding-bottom: 2.71091em;
  background-color: #0BA0F0; }

.pb-colorMaket__body__section__header {
  padding-top: 0.64em;
  padding-right: 0.64em;
  padding-bottom: 0.64em;
  padding-left: 0.64em;
  background-color: #527192; }

.pb-colorMaket__body__section__accent {
  margin-top: 0.64em;
  margin-bottom: 0.64em;
  padding-top: 0.64em;
  padding-right: 0.64em;
  padding-bottom: 0.64em;
  padding-left: 0.64em;
  width: 45%;
  background-color: #fd5800; }

.pb-colorMaket__footer {
  padding-top: 1.03552em;
  padding-right: 1.03552em;
  padding-bottom: 1.03552em;
  padding-left: 1.03552em;
  background-color: #0BA0F0; }

.pb-colorMaket__hero {
  font-size: 16px;
  padding-top: 2.71091em;
  padding-right: 2.71091em;
  padding-bottom: 2.71091em;
  padding-left: 2.71091em;
  background-color: #0BA0F0;
  color: #527192;
  border-bottom: solid 4em #527192; }

button {
  background-color: #fd5800;
  font-size: 22px;
  margin-top: 0.64em;
  border: none;
  padding-top: 1.03552em;
  padding-right: 1.03552em;
  padding-bottom: 1.03552em;
  padding-left: 1.03552em; }

button:last-child {
  color: #fff; }

.hierarchy {
  font-size: 1rem; }

.hero {
  height: 200px; }

.sassTojs-data {
  font-family: '{"animationData":[],"globalVariables":"#ff0000"}'; }

body.blueprint {
  background-color: #269;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 1.6em 1.6em, 1.6em 1.6em;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -7px; }

.canvas {
  position: absolute; }

.blueprint_panel {
  height: 7.9em;
  background-color: #183f5d;
  width: 100%;
  border-bottom: solid 3px #194a6f; }
