@charset "UTF-8";
.container {
  padding: 0 .5em; }

.container-fluid {
  padding: 0 .5em; }

body.pg-loading {
  overflow: hidden; }

.pg-loading-screen {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000000;
  opacity: 1;
  background-color: #FFF;
  -webkit-transition: background-color 0.4s ease-in-out 0s;
  -moz-transition: background-color 0.4s ease-in-out 0s;
  -ms-transition: background-color 0.4s ease-in-out 0s;
  -o-transition: background-color 0.4s ease-in-out 0s;
  transition: background-color 0.4s ease-in-out 0s; }
  .pg-loading-screen.pg-loaded {
    opacity: 0;
    -webkit-animation: pgAnimLoaded 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
    -moz-animation: pgAnimLoaded 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
    -ms-animation: pgAnimLoaded 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
    -o-animation: pgAnimLoaded 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
    animation: pgAnimLoaded 0.5s cubic-bezier(0.7, 0, 0.3, 1) both; }
  .pg-loading-screen.pg-loading .pg-loading-logo-header, .pg-loading-screen.pg-loading .pg-loading-html {
    opacity: 1; }
  .pg-loading-screen.pg-loading .pg-loading-logo-header, .pg-loading-screen.pg-loading .pg-loading-html:not(.pg-loaded) {
    -webkit-animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both;
    -moz-animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both;
    -ms-animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both;
    -o-animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both;
    animation: pgAnimLoading 1s cubic-bezier(0.7, 0, 0.3, 1) both; }
  .pg-loading-screen.pg-loading .pg-loading-html:not(.pg-loaded) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
    -ms-animation-delay: 0.3s;
    -o-animation-delay: 0.3s;
    animation-delay: 0.3s; }
  .pg-loading-screen .pg-loading-inner {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: static; }
  .pg-loading-screen .pg-loading-center-outer {
    width: 100%;
    padding: 0;
    display: table !important;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0; }
  .pg-loading-screen .pg-loading-center-middle {
    padding: 0;
    vertical-align: middle;
    display: table-cell  !important;
    margin: 0;
    text-align: center; }
  .pg-loading-screen .pg-loading-logo-header, .pg-loading-screen .pg-loading-html {
    width: 100%;
    opacity: 0; }
  .pg-loading-screen .pg-loading-logo-header {
    text-align: center; }
    .pg-loading-screen .pg-loading-logo-header img {
      display: inline-block !important; }
  .pg-loading-screen .pg-loading-html {
    margin-top: 90px; }
    .pg-loading-screen .pg-loading-html.pg-loaded {
      -webkit-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
      -moz-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
      -ms-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
      -o-transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1);
      transition: opacity 0.5s cubic-bezier(0.7, 0, 0.3, 1); }
      .pg-loading-screen .pg-loading-html.pg-loaded.pg-removing {
        opacity: 0; }
      .pg-loading-screen .pg-loading-html.pg-loaded.pg-loading {
        opacity: 1; }

@-webkit-keyframes pgAnimLoading {
  from {
    opacity: 0; } }

@-moz-keyframes pgAnimLoading {
  from {
    opacity: 0; } }

@-o-keyframes pgAnimLoading {
  from {
    opacity: 0; } }

@-ms-keyframes pgAnimLoading {
  from {
    opacity: 0; } }

@keyframes pgAnimLoading {
  from {
    opacity: 0; } }

@-webkit-keyframes pgAnimLoaded {
  from {
    opacity: 1; } }

@-moz-keyframes pgAnimLoaded {
  from {
    opacity: 1; } }

@-o-keyframes pgAnimLoaded {
  from {
    opacity: 1; } }

@-ms-keyframes pgAnimLoaded {
  from {
    opacity: 1; } }

@keyframes pgAnimLoaded {
  from {
    opacity: 1; } }

/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; }
  .owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
    /* fix firefox animation glitch */ }
  .owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  .owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
    -webkit-transform: translate3d(0px, 0px, 0px); }
  .owl-carousel .owl-wrapper,
  .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0); }
  .owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%; }
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-loaded {
    display: block; }
  .owl-carousel.owl-loading {
    opacity: 0;
    display: block; }
  .owl-carousel.owl-hidden {
    opacity: 0; }
  .owl-carousel.owl-refresh .owl-item {
    visibility: hidden; }
  .owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .owl-carousel.owl-grab {
    cursor: move;
    cursor: grab; }
  .owl-carousel.owl-rtl {
    direction: rtl; }
  .owl-carousel.owl-rtl .owl-item {
    float: right; }

/* No Js */
.no-js .owl-carousel {
  display: block; }

/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; }

.owl-carousel .owl-animated-in {
  z-index: 0; }

.owl-carousel .owl-animated-out {
  z-index: 1; }

.owl-carousel .fadeOut {
  animation-name: fadeOut; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; }

/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; }

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; }

/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; }

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; }

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3); }

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; }

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; }

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; }

@font-face {
  font-family: "Icons";
  src: url("fonts/icons/Icons.eot");
  src: url("fonts/icons/Icons.eot?#iefix") format("eot"), url("fonts/icons/Icons.woff2") format("woff2"), url("fonts/icons/Icons.woff") format("woff"), url("fonts/icons/Icons.ttf") format("truetype"), url("fonts/icons/Icons.svg#Icons") format("svg"); }

.icon-right:before {
  font-family: "Icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.icon-right:before {
  content: ""; }

/*
 * NORMALIZE
 */
/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default fonts family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of fonts size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* Document
   ========================================================================== */
html {
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of fonts size in all browsers.
 * 2. Correct the odd `em` fonts sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct fonts weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of fonts size in all browsers.
 * 2. Correct the odd `em` fonts sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct fonts style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct fonts size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on not_opt_images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change fonts properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/*
 * RESET
 */
ul {
  padding: 0; }

li {
  list-style: none; }

/*
* FONTS
*/
@font-face {
  font-family: "Blanca";
  src: url("fonts/BlankaRegular.eot");
  /* IE9 Compat Modes */
  src: url("fonts/BlankaRegular.eot?#iefix") format("embedded-opentype"), url("fonts/BlankaRegular.woff2") format("woff2"), url("fonts/BlankaRegular.woff") format("woff"), url("fonts/BlankaRegular.ttf") format("truetype"), url("fonts/BlankaRegular.svg#svgFontName") format("svg");
  /* Legacy iOS */
  font-weight: Normal;
  font-style: normal; }

/*
 * BASE STYLES
 */
* {
  box-sizing: border-box; }

body {
  background-color: #D0C8C8; }

/**
 * TYPOGRAPHY
 */
html {
  font-family: "Rubik", san-serif;
  font-weight: 300;
  color: #000000;
  font-size: 18px;
  line-height: 1.6; }

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Rubik Mono One", san-serif;
  font-weight: 900;
  color: #fff;
  clear: both; }

.text p, p.text,
.text blockquote, blockquote.text,
.text pre pre.text,
.text address, address.text,
.text dl, dl.text,
.text ol, ol.text,
.text ul, ul.text,
.text table, table.text {
  margin-bottom: 1.6em; }

h1 {
  font-size: 41.78158px; }
  h1.text, .text h1 {
    margin-top: 0.86162em;
    line-height: 1.03395em;
    margin-bottom: 0.17232em; }

h2 {
  font-size: 35.30551px; }
  h2.text, .text h2 {
    margin-top: 1.01967em;
    line-height: 1.22361em;
    margin-bottom: 0.22126em; }

h3 {
  font-size: 29.83321px; }
  h3.text, .text h3 {
    margin-top: 1.20671em;
    line-height: 1.44805em;
    margin-bottom: 0.26561em; }

h4 {
  font-size: 25.20911px; }
  h4.text, .text h4 {
    margin-top: 1.42806em;
    line-height: 1.71367em;
    margin-bottom: 0.3196em; }

h5 {
  font-size: 21.30174px; }
  h5.text, .text h5 {
    margin-top: 1.69em;
    line-height: 2.028em;
    margin-bottom: 0.338em; }

h6 {
  font-size: 18px; }
  h6.text, .text h6 {
    margin-top: 2em;
    line-height: 2.4em;
    margin-bottom: 0.44444em; }

blockquote {
  font-style: italic; }
  blockquote cite {
    display: block;
    font-style: normal; }

pre {
  padding: 0.8em;
  margin-bottom: 1.6em; }
  pre code {
    padding: 0; }

code {
  font-family: "Courier New", "Courier", "Lucida Sans Typewriter", "Lucida Typewriter", "monospace";
  padding: 0.08em 0.24em;
  line-height: 0; }

big, small, sub, sup {
  line-height: 0; }

abbr, acronym {
  border-bottom: 1px dotted currentColor;
  cursor: help; }

address {
  font-style: normal; }

dt {
  color: #fff;
  font-weight: bold; }

.text ul, ul.text {
  padding-left: 1.1em; }

.text ol, ol.text {
  padding-left: 1.4em; }

fieldset {
  padding: 0.8em 1.6em 1.6em;
  border-width: 1px;
  border-style: solid;
  max-width: 100%;
  margin-bottom: 1.88889em; }
  fieldset button, fieldset input[type="submit"] {
    margin-bottom: 0; }

legend {
  color: #fff;
  font-weight: bold; }

input[type="text"], input[type="email"], input[type="password"], textarea {
  display: block;
  max-width: 100%;
  padding: 0.4em;
  font-size: 18px;
  margin-bottom: 0.47778em; }

input[type="submit"], button {
  display: block;
  cursor: pointer;
  font-size: 18px;
  padding: 0.4em 1.6em;
  margin-bottom: 1.2em; }

label {
  display: block;
  padding-bottom: 0.2em;
  margin-bottom: -0.17778em; }

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 1.86667em; }

th {
  text-align: left;
  color: #fff;
  padding: 0.4em 0.8em; }

td {
  padding: 0.8em;
  padding: 0.4em 0.8em; }

/**
  * ICONFONT
  *
  */
@font-face {
  font-family: "Icons";
  src: url("fonts/icons/Icons.eot");
  src: url("fonts/icons/Icons.eot?#iefix") format("eot"), url("fonts/icons/Icons.woff2") format("woff2"), url("fonts/icons/Icons.woff") format("woff"), url("fonts/icons/Icons.ttf") format("truetype"), url("fonts/icons/Icons.svg#Icons") format("svg"); }

.icon-right:before {
  font-family: "Icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none; }

.icon-right:before {
  content: ""; }

/**
 * HIERARCHY
 */
.hl1 {
  font-size: 6em;
  text-transform: uppercase;
  font-weight: bold; }

.hl2 {
  font-size: 3.5em; }

.hl3 {
  font-size: 1.25em; }

.hl4 {
  font-size: 1.1em;
  text-transform: uppercase; }

.hl-1 {
  font-size: .6em;
  text-transform: uppercase;
  font-weight: bold; }

.hl-2 {
  font-size: .7em;
  font-style: italic;
  font-weight: bold; }

/**
 * GRID
 */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  padding-left: 0.5em;
  padding-right: 0.5em; }

.col-1 {
  width: 8.33333%; }

.push-1 {
  margin-left: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.push-2 {
  margin-left: 16.66667%; }

.col-3 {
  width: 25%; }

.push-3 {
  margin-left: 25%; }

.col-4 {
  width: 33.33333%; }

.push-4 {
  margin-left: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.push-5 {
  margin-left: 41.66667%; }

.col-6 {
  width: 50%; }

.push-6 {
  margin-left: 50%; }

.col-7 {
  width: 58.33333%; }

.push-7 {
  margin-left: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.push-8 {
  margin-left: 66.66667%; }

.col-9 {
  width: 75%; }

.push-9 {
  margin-left: 75%; }

.col-10 {
  width: 83.33333%; }

.push-10 {
  margin-left: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.push-11 {
  margin-left: 91.66667%; }

.col-12 {
  width: 100%; }

.push-12 {
  margin-left: 100%; }

.row {
  margin-left: -0.5em;
  margin-right: -0.5em; }
  .row:before, .row:after {
    content: "";
    display: table;
    clear: both; }

.wrapper {
  width: 100%; }

.container {
  display: block;
  width: 1240px;
  margin: 0 auto; }
  .container:before, .container:after {
    content: "";
    display: table;
    clear: both; }

.container-fluid {
  display: block;
  width: 100%;
  margin: 0 auto; }
  .container-fluid:before, .container-fluid:after {
    content: "";
    display: table;
    clear: both; }

/**
* LAYOUT HELPERS
*/
.fadeIn {
  opacity: 1; }

.fadeOut {
  opacity: 0; }

.visible {
  display: block; }

.hidden {
  display: none; }

.f-left {
  float: left; }

.f-right {
  float: right; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.inline {
  display: inline-block; }

.no-gutter {
  padding-left: 0;
  padding-right: 0; }

.no-gutter-l {
  padding-left: 0; }

.no-gutter-r {
  padding-right: 0; }

/**
* MODULES  STYLES
*/
.lightMenu li {
  display: inline-block; }
  .lightMenu li:first-child {
    margin-left: 0; }

.lightMenu li {
  list-style: none;
  margin-right: 0.64em;
  padding-right: 0.64em;
  padding-left: 0.64em; }
  @media screen and (max-width: 600px) {
    .lightMenu li {
      padding-top: 0.64em;
      padding-bottom: 0.64em;
      display: block;
      width: 100%;
      text-align: center;
      margin-left: 0; } }

.lightMenu li a {
  color: #f9f2f4;
  text-decoration: none; }

.lightMenu {
  padding-top: 2.71091em;
  padding-bottom: 2.71091em;
  text-align: center; }

.lightmenu__item--active {
  background-color: #FF5800;
  background-color: false;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease; }
  .lightmenu__item--active:hover {
    background-color: #e64f00; }
  @media screen and (max-width: 1200px) {
    .lightmenu__item--active {
      background-color: inherit; } }

.breadCrumb {
  padding-top: 1.03552em;
  padding-bottom: 1.03552em;
  padding-right: 2.71091em;
  padding-left: 2.71091em;
  background-color: #fefff9;
  text-transform: uppercase;
  font-size: .9em; }
  .breadCrumb a:link, .breadCrumb a:visited {
    color: #0d0d0d;
    text-decoration: none; }
  .breadCrumb a:hover {
    color: black; }

.breadcrumb__section {
  display: inline-block;
  margin-top: 0.64em;
  margin-right: 0.64em;
  margin-bottom: 0.64em;
  margin-left: 0.64em; }
  .breadcrumb__section:before {
    content: '/rsssdssesss[[sshuray it workss';
    margin-right: 20px; }

.breadCrumb__section--home {
  font-weight: 600; }
  .breadCrumb__section--home:before {
    content: '';
    margin-right: 0; }

.discountMetr {
  padding: 20px 10px;
  background-color: #3f3f3f;
  color: #fff;
  width: 900px;
  font-size: 14px; }
  .discountMetr h6 {
    text-transform: uppercase;
    color: #FFFFFF; }

.discountMetr__title, .discountMetr__scaleWrapper {
  display: inline-block;
  vertical-align: top; }

.discountMetr__scaleWrapper {
  width: 700px; }

.discountMetr__scale__characters {
  width: 100%; }
  .discountMetr__scale__characters .icon {
    margin-left: -7px;
    height: 2em;
    width: 2.5em; }

.discountMetr__startPointWrapper {
  width: 80px;
  height: 80px;
  position: relative;
  background-color: #535353;
  border-radius: 100%;
  margin: 0 auto; }

.discountMetr__startPoint {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #FF4E00;
  border-radius: 100%;
  margin-top: -15px;
  margin-left: -15px; }
  .discountMetr__startPoint:after {
    content: "";
    display: block;
    position: absolute;
    width: 38px;
    height: 10px;
    background-color: #FF4E00;
    right: -37px;
    top: 50%;
    margin-top: -4px; }

.discountMetr__scale__wrapper {
  position: relative;
  padding-bottom: 20px;
  width: 636px; }

.discountMetr__scale__events {
  padding: 18px;
  position: relative;
  height: 61px; }

.discountMetr__scale__event {
  position: absolute;
  padding-bottom: 7px;
  border-bottom: 1px solid #ffffff; }
  .discountMetr__scale__event .icon {
    position: absolute;
    bottom: -21px;
    width: 13px;
    left: -12px; }

.discountMetr__scale__event--250 {
  left: 102px; }

.discountMetr__scale__event--delivery {
  left: 196px; }

.discountMetr__scale__event--500 {
  left: 354px; }

.discountMetr__scale__event--1000 {
  left: 573px; }

.discountMetr__scale_outer {
  background-color: #504844;
  position: absolute;
  left: -5px;
  height: 10px;
  width: 99%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.discountMetr__scale_starter, .discountMetr__scale_inner {
  float: left; }

.discountMetr__scale_starter {
  width: 5%;
  height: 100%; }


.discountMetr__scale_inner {
  height: 100%;
  background-color: #FF4E00;
  width: 10%;
  transition: width, .5s, linear; }

.discountMetr__scale__marks {
  position: relative;
  height: 30px; }

.discountMetr__scale__mark {
  position: absolute;
  top: 9px; }
  .discountMetr__scale__mark:before {
    content: "|";
    position: absolute;
    top: -1em;
    left: 50%; }

.discountMetr__scale__mark--3000 {
  left: 68px; }

.discountMetr__scale__mark--6000 {
  left: 163px; }

.discountMetr__scale__mark--14000 {
  left: 315px; }

.discountMetr__scale__mark--18000 {
  left: 535.5px; }

.hero_video {
  position: relative; }

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative; }

.no-video .video-container video,
.touch .video-container video {
  display: none; }

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important; }

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000; }

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute; }

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%; }

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0; }

.video-container video.fillWidth {
  width: 100%; }

.ove-pagination {
  text-align: center;
  margin-top: 1.03552em;
  padding: 1.03552em; }
  .ove-pagination .bx_pg_text {
    display: none; }
  .ove-pagination .bx_pagination_bottom {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent; }
  .ove-pagination .bx_pg_section {
    background-color: transparent;
    height: 100%; }
  .ove-pagination .bx_pagination_page li {
    display: inline-block;
    margin-right: 0.64em;
    padding-top: 0.64em;
    padding-bottom: 0.64em;
    margin-bottom: 1.03552em;
    padding-right: 1.03552em;
    padding-left: 1.03552em;
    border-radius: 10%;
    background-color: #570062;
    color: #fff; }
    .ove-pagination .bx_pagination_page li a {
      color: #fff; }
    .ove-pagination .bx_pagination_page li.bx_active {
      background-color: #FF5800; }
    .ove-pagination .bx_pagination_page li:first-child, .ove-pagination .bx_pagination_page li:last-child {
      background-color: #400049; }

.catalogItem__quntCheck {
  margin-bottom: 1.67547em;
  text-align: right; }

.catalogItem__priceAndBuy__price {
  margin-bottom: 1.67547em;
  display: table;
  width: 100%; }
  .catalogItem__priceAndBuy__price span {
    display: table-cell;
    vertical-align: middle; }

.catalogItem__quntCheck__marker {
  display: inline-block;
  font-size: .8em;
  text-transform: uppercase;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #3cb774;
  margin-right: 0.64em; }

.catalogItem__quntCheck__titl {
  display: inline-block; }

.oveFeatures h3 {
  padding: 0.64em;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #fff; }
  @media (min-width: 600px) {
    .oveFeatures h3 {
      font-size: 2.1em; } }

.oveFeatures__feature {
  background-repeat: no-repeat;
  position: relative;
  box-shadow: 0px 1px 1px silver;
  margin-bottom: 0.64em;
  padding: 1.03552em;
  border: solid 3px #fff;
  background-color: #fff;
  border-radius: 3px; }
  @media (min-width: 600px) {
    .oveFeatures__feature {
      background-size: cover; } }
  .oveFeatures__feature .oveFeatures__feature__desc {
    background-color: rgba(30, 28, 0, 0.48); }

.oveFeatures__feature--delivery {
  background-image: url("images/delivery.jpg"); }

.oveFeatures__feature--service {
  background-image: url("images/plumber.jpg"); }

.owlSlider {
  margin-top: 1.03552em;
  margin-bottom: 1.03552em; }

.owl-dots {
  margin-top: 0.64em;
  text-align: center; }
  .owl-dots .owl-dot {
    display: inline-block;
    margin-right: 0.64em;
    width: .8em;
    height: .8em;
    border-radius: 50%;
    background-color: #400049; }
    .owl-dots .owl-dot.active {
      background-color: #FF5800; }

.catalogMenu {
  position: relative; }
  .catalogMenu .catalogMenu__button {
    display: block;
    background-color: #FF5800;
    position: relative;
    color: #fff;
    text-transform: uppercase;
    height: 70px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function: ease; }
    .catalogMenu .catalogMenu__button:hover {
      background-color: #ff691a; }
    .catalogMenu .catalogMenu__button:after {
      content: '';
      position: absolute;
      bottom: -3px;
      width: 100%;
      height: 3px;
      left: 0;
      background-color: #e64f00; }
  .catalogMenu .catalogMenu__list {
    width: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 6000;
    box-shadow: 3px 0px 3px silver; }
  .catalogMenu .catalogMenu__list__item {
    position: relative;
    padding-top: 0.64em;
    padding-bottom: 0.64em;
    padding-left: 1.03552em;
    cursor: pointer;
    font-weight: bold;
    transition-property: background-color;
    transition-duration: 0.13s;
    transition-timing-function: linear; }
    .catalogMenu .catalogMenu__list__item .angleR {
      position: absolute;
      right: 5%; }
  .catalogMenu .catalogMenu__wrapper {
    position: relative;
    background-color: #fff; }
  .catalogMenu .catalogMenu__list--L1 {
    width: 99.8%; }
  .catalogMenu .catalogMenu__list--L2 {
    width: 150%;
    right: -149.8%;
    display: none;
    z-index: 5999; }
  .catalogMenu .catalogMenu__list--L3 {
    width: 150%;
    right: -299.8%;
    display: none;
    z-index: 5998; }
  .catalogMenu .catalogMenu__list__item--active {
    background-color: #c7bdbd; }

.pagination {
  padding-top: 1.03552em;
  padding-right: 1.03552em;
  padding-left: 1.03552em;
  padding-bottom: 2.71091em;
  background-color: #fff; }

.pagination__ctn {
  padding: 0;
  text-align: center; }

.pagination__ctn__button {
  list-style: none;
  display: inline-block;
  margin-right: 0.64em;
  padding-top: 0.64em;
  padding-bottom: 0.64em;
  padding-right: 1.03552em;
  padding-left: 1.03552em;
  background-color: #570062;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
  background-color: false;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease; }
  .pagination__ctn__button:hover {
    background-color: #400049; }

.pagination__ctn__button--current {
  background-color: #ff691a; }
  .pagination__ctn__button--current:hover {
    background-color: #ff691a; }

.sideBar {
  position: fixed;
  overflow: auto;
  width: 100%;
  bottom: 0;
  left: -100%;
  z-index: 91000;
  top: 0;
  height: 100%;
  padding: 2.71091em;
  background-color: #fff; }

.sideBar__menu--personal, .sideBar__menu--catalog {
  margin-bottom: 1.03552em; }

.sideBar__menu--personal .sideBar__menu--catalog__item {
  background-color: #D0C8C8; }

.sideBar__closer {
  text-align: right;
  margin-bottom: 2.71091em; }

.sideBar__menu {
  height: 100%;
  font-size: 1.4em; }

.sideBar__menu--catalog__item {
  padding: 0.64em;
  border-bottom: solid 1px #c4baba; }

.owlGoodsSlider {
  position: relative;
  margin-bottom: 1.67547em; }
  .owlGoodsSlider .owl-prev, .owlGoodsSlider .owl-next {
    top: 30%;
    position: absolute;
    color: #fff;
    width: 14%;
    padding-top: 1.03552em;
    padding-bottom: 1.03552em;
    background-color: rgba(0, 0, 0, 0.29);
    text-align: center; }
    .owlGoodsSlider .owl-prev.disabled, .owlGoodsSlider .owl-next.disabled {
      display: none; }
  .owlGoodsSlider .owl-prev {
    left: 0; }
  .owlGoodsSlider .owl-next {
    right: 0; }
  .owlGoodsSlider .catalogItem {
    margin: 1px; }
  .owlGoodsSlider .catalogItem__priceAndBuy__price span {
    font-size: 1.2em;
    font-weight: bold; }

.catalogItem {
  padding: 0.64em;
  margin-bottom: 1.03552em;
  background-color: #fefff9;
  border: 1px solid #c4baba; }
  .catalogItem > div {
    margin-bottom: 0.64em; }

.catalogItem__imgCtn {
  box-sizing: content-box;
  height: 90px;
  max-width: 100%;
  text-align: center;
  line-height: 90px;
  padding-top: 0.64em;
  padding-bottom: 0.64em; }
  @media (min-width: 600px) {
    .catalogItem__imgCtn {
      height: 120px; } }
  @media (min-width: 900px) {
    .catalogItem__imgCtn {
      height: 150px; } }
  @media (min-width: 1200px) {
    .catalogItem__imgCtn {
      height: 170px; } }
  .catalogItem__imgCtn img.catalogItem__img {
    max-height: 170px;
    display: inline; }
    @media (max-width: 599px) {
      .catalogItem__imgCtn img.catalogItem__img {
        max-width: 90px;
        max-height: 90px;
        vertical-align: middle; } }

.catalogItem__title {
  height: 6.4em;
  overflow: hidden; }

.catalogItem__priceAndBuy__price {
  font-size: 1.2em;
  text-align: center;
  height: 3.2em; }
  .catalogItem__priceAndBuy__price span {
    font-weight: bold; }

/**
* MIXES  STYLES
*/
.menu-hamburger {
  display: table;
  position: relative;
  margin: 0 auto;
  height: 3.69434em;
  cursor: pointer; }
  .menu-hamburger .menu-hamburger__part {
    position: relative;
    vertical-align: middle;
    margin-bottom: 6px;
    border-radius: 1px;
    display: block;
    width: 2rem;
    height: .2rem;
    background-color: #fefff9; }
    .menu-hamburger .menu-hamburger__part:last-child {
      margin-bottom: 0; }

.menu-hamburger__partsWrap {
  display: table-cell;
  vertical-align: middle; }

.heroTitle-ctn {
  width: 100%;
  display: table;
  text-align: center;
  height: 100%; }
  .heroTitle-ctn h1.heroTitle {
    display: table-cell;
    vertical-align: middle;
    font-family: "Blanca"; }

.logo__link {
  display: block;
  text-align: center; }
  .logo__link img {
    width: 100%;
    vertical-align: bottom; }

.logo__link {
  display: block; }
  .logo__link .logo__container {
    text-align: center;
    overflow: hidden; }

.img_container--align_v {
  position: relative; }

.img_container--align_v img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0; }

/**
* ELEMENTS  STYLES
*/
.gogog {
  position: relative;
  background-color: #68ff31;
  color: #fff; }
  .gogog:hover, .gogog:focus, .gogog:active {
    color: #fff;
    background-color: #fff; }
  .gogog:focus {
    outline: none; }
  .gogog:hover, .gogog:active {
    outline: none; }

.mainButton {
  background-color: #aaa; }
  .mainButton:focus {
    outline: thin dotted; }
  .mainButton:hover, .mainButton:active {
    outline: 0; }

.ove-cardReg {
  position: relative;
  margin: 0% auto;
  background-color: transparent;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 3px;
  font-size: 1.4em;
  padding: 0.64em; }
  .ove-cardReg:hover, .ove-cardReg:focus, .ove-cardReg:active {
    color: #fff;
    background-color: #6e007c; }
  .ove-cardReg:focus {
    outline: none; }
  .ove-cardReg:hover, .ove-cardReg:active {
    outline: none; }

.ove-cardReg--inactive {
  opacity: .6; }
  .ove-cardReg--inactive:hover {
    background-color: transparent; }

.toCart {
  background-color: #FF5800;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: .8em;
  padding: 0.64em;
  height: 4em;
  width: 100%;
  margin: 0; }
  .toCart:hover, .toCart:focus, .toCart:active {
    background-color: #ff691a; }
  .toCart:focus {
    outline: none; }
  .toCart:hover, .toCart:active {
    outline: none; }
  .toCart.toCart--in {
    background-color: #3bd43b; }

.icon {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 2rem;
  max-width: 100%;
  fill: #fff; }

.icon--close {
  height: 2.8rem;
  width: 2.8rem;
  fill: black;
  cursor: pointer; }

.icon--search {
  width: 2rem; }

.icon--angle {
  height: 1rem;
  width: 1rem;
  fill: #0d0d0d; }

.catalogMenu__list__item--active .icon--angle {
  fill: #FF5800; }

.icon-menu__button {
  cursor: pointer;
  width: 2.6em;
  background-color: #400049;
  border-radius: 3px;
  padding: 0.64em; }

.ove-markedHeader {
  display: inline-block;
  background-color: #570062;
  width: 40px;
  height: 40px;
  line-height: 50px;
  vertical-align: middle;
  border-radius: 50%;
  margin-right: 0.64em; }
  .ove-markedHeader .icon {
    height: 1em;
    vertical-align: baseline;
    width: auto; }

.ove-sectionHeader {
  margin-bottom: 0.64em; }

form.ove-pageCard__Form .ove-cardRegInput {
  text-align: center;
  outline: none;
  border: none;
  color: #fff;
  width: 100%;
  background-color: transparent;
  margin-bottom: 0.64em;
  padding: 0.64em;
  border-bottom: 3px solid #fff;
  font-size: 2.5em;
  letter-spacing: .25em; }

a, a.mainLink {
  color: black;
  text-decoration: none; }
  a:visited, a.mainLink:visited {
    color: black; }
  a:hover, a:focus, a:active, a.mainLink:hover, a.mainLink:focus, a.mainLink:active {
    color: #0d0d0d; }
  a:focus, a.mainLink:focus {
    outline: none; }
  a:hover, a:active, a.mainLink:hover, a.mainLink:active {
    outline: none; }

a.ove-topNavLink {
  color: #000000;
  display: inline-block;
  text-decoration: none;
  padding: 0.64em;
  background-color: #fff; }
  a.ove-topNavLink:visited {
    color: #000000; }
  a.ove-topNavLink:hover, a.ove-topNavLink:focus, a.ove-topNavLink:active {
    color: black;
    background-color: #87ff8b; }
  a.ove-topNavLink:focus {
    outline: none; }
  a.ove-topNavLink:hover, a.ove-topNavLink:active {
    outline: none; }

a.socialLink {
  color: red;
  text-decoration: none; }
  a.socialLink:visited {
    color: red; }
  a.socialLink:hover, a.socialLink:focus, a.socialLink:active {
    color: red; }
  a.socialLink:focus {
    outline: thin dotted; }
  a.socialLink:hover, a.socialLink:active {
    outline: 0; }

.spinner-circle {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #ffffff;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out; }

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    opacity: .4; } }

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }

/**
* PROJECT  STYLES
*/
/*
Header
*/
.oveX-header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #e64f00;
  z-index: 10000000;
  padding-top: 0.64em;
  padding-bottom: 0.64em;
  border-bottom: 4px solid #400049; }
  .oveX-header h1 {
    text-align: center;
    text-shadow: 4px 1px 20px black; }

.oveX-topMargin {
  margin-top: 93.4px; }

.inner-content {
  position: relative;
  min-height: 800px; }

.fixedMenu {
  position: fixed;
  top: 93px;
  bottom: 0;
  background-color: #fff;
  width: 24.4%; }
  .fixedMenu .current-menu-item a {
    background-color: #ff691a;
    border-bottom: 3px solid #400049;
    color: #fff; }
  .fixedMenu a {
    display: block;
    position: relative;
    padding-top: 0.64em;
    padding-bottom: 0.64em;
    padding-left: 1.03552em;
    border-bottom: 1px solid silver;
    text-transform: uppercase;
    background-color: #fff;
    transition-property: background-color;
    transition-duration: 0.008s;
    transition-timing-function: linear;
    cursor: pointer; }
    .fixedMenu a:hover {
      background-color: #ff691a; }
    .fixedMenu a:hover a {
      color: #f9f2f4; }
    .fixedMenu a:hover {
      color: #f9f2f4; }
    .fixedMenu a:before {
      position: absolute;
      right: 10%;
      font-family: "Icons";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      text-decoration: none;
      text-transform: none;
      content: ""; }

.col-product {
  float: left;
  padding: 0 2px;
  width: 25%; }

.catalog-content {
  margin-top: .7em; }

.product {
  padding-top: 0.64em;
  padding-bottom: 0.64em;
  background-color: #fff;
  margin-bottom: 4px;
  min-height: 360px;
  transition: box-shadow, .5s, linear; }
  .product .icon {
    fill: #FF5800;
    width: 100%;
    height: 50px; }
  .product:hover {
    box-shadow: -2px 5px 5px silver;
    transform: scale(1.055); }
  .product .info span {
    color: #6e007c; }
  .product .oldPrice {
    font-size: 22px;
    color: #474747;
    text-align: center;
    position: relative;
    width: 50%;
    margin: 0 auto; }
    .product .oldPrice:before {
      content: '';
      position: absolute;
      top: 49%;
      left: 15%;
      right: 15%;
      height: 2px;
      background-color: #FF5800;
      transform: rotate(-7deg); }
  .product .price {
    font-size: 32px;
    color: #232323;
    text-align: center; }

.percentMark span {
  position: relative;
  display: block;
  padding: 10px;
  width: 100%;
  height: 50px;
  text-align: center;
  border-radius: 100%;
  background-color: #400049;
  color: #ffff00; }
  .percentMark span:before {
    content: '';
    width: 2px;
    height: 8px;
    transform: rotate(15deg);
    position: absolute;
    top: -6px;
    left: 50%;
    background-color: #400049; }

.product-image-container {
  text-align: center; }

.catalogItem-page {
  background-color: #fff;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 2.71091em; }
  .catalogItem-page .icon {
    position: absolute;
    right: 27px;
    height: 60px;
    top: 20px;
    fill: #000000; }
  .catalogItem-page .itemPage-closer {
    cursor: pointer; }

.itemTitle {
  font-size: 36px;
  margin-bottom: 0.64em; }

.itemImageCtn img {
  max-width: 100%; }

.itemInfo {
  padding: 1.03552em; }
  .itemInfo .oldPrice {
    font-size: 28px;
    color: #474747;
    text-align: center;
    position: relative;
    width: 50%;
    margin: 0 auto; }
    .itemInfo .oldPrice:before {
      content: '';
      position: absolute;
      top: 49%;
      left: 15%;
      right: 15%;
      height: 2px;
      background-color: #FF5800;
      transform: rotate(-7deg); }
  .itemInfo .price {
    font-size: 42px;
    color: #232323;
    text-align: center;
    margin-bottom: 1.03552em; }

.itemProps {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1.03552em;
  padding: 1.03552em; }
  .itemProps span {
    width: 50%;
    display: inline-block; }
    .itemProps span:first-child {
      padding-right: 0.64em;
      font-weight: bolder; }
  .itemProps li {
    padding: 0.64em; }
    .itemProps li:nth-child(2n) {
      background-color: #ededed; }

.itemAbout {
  margin-top: 1.03552em; }

.pb-projectBoard {
  background: white; }

.pb-section {
  border-bottom: 1px solid #ededed;
  padding-top: 1.67547em;
  padding-right: 1.67547em;
  padding-bottom: 1.67547em;
  padding-left: 1.67547em; }

.pb-elementHeader {
  display: block; }

.pb-element {
  padding-right: 0.64em; }

.pb-colorBox {
  width: 90px;
  height: 90px;
  margin-top: 0.64em; }

.pb-colorBox--primary {
  background-color: #570062; }

.pb-colorBox--primary-l {
  background-color: #6e007c; }

.pb-colorBox--primary-d {
  background-color: #400049; }

.pb-colorBox--primary-t {
  background-color: rgba(87, 0, 98, 0.5); }

.pb-colorBox--secondary {
  background-color: #FF5800; }

.pb-colorBox--secondary-l {
  background-color: #ff691a; }

.pb-colorBox--secondary-d {
  background-color: #e64f00; }

.pb-colorBox--secondary-t {
  background-color: rgba(255, 88, 0, 0.5); }

.pb-colorBox--accent {
  background-color: #FF5800; }

.pb-colorBox--accent-l {
  background-color: #ff691a; }

.pb-colorBox--accent-d {
  background-color: #e64f00; }

.pb-colorBox--accent-t {
  background-color: rgba(255, 88, 0, 0.5); }

.pb-colorBox--fground {
  background-color: #fefff9; }

.pb-colorBox--fground-l {
  background-color: white; }

.pb-colorBox--fground-d {
  background-color: #faffe0; }

.pb-colorBox--fground-t {
  background-color: rgba(254, 255, 249, 0.5); }

.pb-colorBox--bground {
  background-color: #D0C8C8; }

.pb-colorBox--bground-l {
  background-color: #dcd6d6; }

.pb-colorBox--bground-d {
  background-color: #c4baba; }

.pb-colorBox--bground-t {
  background-color: rgba(208, 200, 200, 0.5); }

.pb-colorBox--font {
  background-color: #000000; }

.pb-colorBox--font-l {
  background-color: #0d0d0d; }

.pb-colorBox--font-d {
  background-color: black; }

.pb-colorBox--font-t {
  background-color: rgba(0, 0, 0, 0.5); }

.pb-colorMaket section {
  font-size: 10px;
  margin-top: 2.71091em;
  margin-bottom: 2.71091em; }

.pb-colorMaket {
  width: 40%;
  background-color: #D0C8C8; }

.pb-colorMaket__ctn {
  width: 80%;
  background-color: #fefff9;
  padding-top: 2.71091em;
  padding-right: 2.71091em;
  padding-bottom: 2.71091em;
  padding-left: 2.71091em;
  margin: 0 auto; }

.pb-colorMaket__header {
  height: 60px; }

.pb-colorMaket__header__primary {
  padding-top: 1.03552em;
  padding-right: 1.03552em;
  padding-bottom: 1.03552em;
  padding-left: 1.03552em;
  background-color: #570062;
  width: 70%; }

.pb-colorMaket__header__secondary {
  padding-top: 1.03552em;
  padding-right: 1.03552em;
  padding-bottom: 1.03552em;
  padding-left: 1.03552em;
  background-color: #FF5800;
  width: 30%; }

.pb-colorMaket__header__accent {
  width: 40%;
  padding-top: 0.64em;
  padding-right: 0.64em;
  padding-bottom: 0.64em;
  padding-left: 0.64em;
  background-color: #FF5800; }

.pb-colorMaket__body {
  padding-top: 1.03552em;
  padding-right: 1.03552em;
  padding-bottom: 1.03552em;
  padding-left: 1.03552em; }

.pb-colorMaket__body__section {
  padding-top: 2.71091em;
  padding-bottom: 2.71091em;
  background-color: #570062; }

.pb-colorMaket__body__section__header {
  padding-top: 0.64em;
  padding-right: 0.64em;
  padding-bottom: 0.64em;
  padding-left: 0.64em;
  background-color: #FF5800; }

.pb-colorMaket__body__section__accent {
  margin-top: 0.64em;
  margin-bottom: 0.64em;
  padding-top: 0.64em;
  padding-right: 0.64em;
  padding-bottom: 0.64em;
  padding-left: 0.64em;
  width: 45%;
  background-color: #FF5800; }

.pb-colorMaket__footer {
  padding-top: 1.03552em;
  padding-right: 1.03552em;
  padding-bottom: 1.03552em;
  padding-left: 1.03552em;
  background-color: #570062; }

.pb-colorMaket__hero {
  font-size: 16px;
  padding-top: 2.71091em;
  padding-right: 2.71091em;
  padding-bottom: 2.71091em;
  padding-left: 2.71091em;
  background-color: #570062;
  color: #FF5800;
  border-bottom: solid 4em #FF5800; }

.hierarchy {
  font-size: 1rem; }

.sassTojs-data {
  font-family: '{"animationData":[],"globalVariables":"#ff0000"}'; }

body.blueprint {
  background-color: #269;
  background-image: linear-gradient(rgba(255, 255, 255, 0.3) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.3) 1px, transparent 1px);
  background-size: 1.6em 1.6em, 1.6em 1.6em;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -7px; }

.canvas {
  position: absolute; }

.blueprint_panel {
  height: 7.9em;
  background-color: #183f5d;
  width: 100%;
  border-bottom: solid 3px #194a6f; }
