/**
* cartPage styles
*/

@mixin cartPage(){

  .cartPage {
    &__content {
       
    }
    &__cartHeader {
        padding: vr-block(.2) vr-block(.8) vr-block(.4);
        font-weight: bold;
        & .col {text-align: center};
        &__title{
            
        }
    }
    
    &__cartCheck {
         padding:vr-block(1)  vr-block(.8) vr-block(.6);
        width: 100%;
        background: #fff;
        border-bottom: solid 2px cs('background-d');
        position:relative;
        &:before{
            position:absolute;
            content:'%';
            display:inline-block;
            width: 2.5em;
            height:2.5em;
            color:#fff;
            background:cs('primary');
            text-align: center;
            left: -.7rem;
            top: -.7rem;
            border-radius: 50%;
            line-height:2.5rem;
            font-weight:bold;
        }
    }

    
    &__summtitle {
        font-weight: bold;
       // text-align: center;
        text-transform: uppercase;
        //font-size: 1.6em;
        
    }
    &__summ{
        color: cs('primary-d');
        font-size: 1.9em;
        font-weight: bold;
        display: inline-block;
        width: 100%;
        text-align: center;
      //margin-top: vr-block(.2);
        margin-bottom: vr-block(.4);
    }
  }
    .returnToBuy:before{
        font-size: .75em; 
    }
}


////////////////////////////////////////
@include cartPage();