mixin MODULE-mainInfo()
	<!-- split modules/mainInfo -->
	.mainInfo__content(data-qcontent='module__mainInfo')
		.l_ib__c
			.l_ib__e.mainInfo__block 
				h1.logo Santehsmart
			.l_ib__e.mainInfo__block
				+MODULE-geoTarget()
			.l_ib__e.mainInfo__block  8 800 500 12 34  