/**
* mainInfo styles
*/

@mixin mainInfo(){

  .mainInfo {
	&__content {
	//padding-bottom: vr-block(.4);
	 padding-bottom:$line-height-ratio/2#{em};
	}
	&__geotarget{
 
	}
	&__logo{
			@include for-size(phone-only){
			display:none;
		}
		&--mobile{
				width:100%;
				text-align: center;
				margin: 0;
				@include for-size('tablet-p-up'){ 
					display: none;
				} 
			}
	}
	&__cart_search--mobile{
		@include for-size(tablet-p-up){
			display:none;
		}
	}

	&__phone {
	    line-height: 1.1;
	    float:right;
		font-size: 1.3em;
		@include for-size(phone-only){
			display:none;
		}
		&-number{
		    display:block;
		    font-weight: bold;
		}
		&-time{
		   
		    font-size: .6em;
		     
		     &:before{
	            color: cs('font-l2');
        	    font-weight:bold;
	            padding-right: vr-block(.2);
	        }
		}
	}
  }

} @include mainInfo()
