mixin MODULE-productChar()
	<!-- split modules/productChar -->
	.productChar__content(data-qcontent='module__productChar')
		h5.productChar__title Основные Характеристики:
		dl.productChar
			.productChar__terminDesc
				dt Заводской артикул:
				dd LE15	
			.productChar__terminDesc
				dt Производитель:
				dd РМС	
			.productChar__terminDesc
				dt Материал:
				dd Пластик
			.productChar__terminDesc
				dt Гарантия:
				dd год	
			.productChar__terminDesc
				dt Страна-производитель:
				dd Россия