$bkgColor__sddsds:#fff;
$bkgColor__sddsds-hover:#fff;
$color__sddsds-hover:#fff;
$color__sddsds:#fff;

.sddsds {
	position: relative;
	background-color: $bkgColor__sddsds;
	color: $color__sddsds;
		&:hover, &:focus, &:active {
		color: $color__sddsds-hover;
		background-color: $bkgColor__sddsds-hover;
		}
		&:focus {
			outline: none;
		}
		&:hover, &:active {
			outline: none;
	}
}