$contrastLevel: 0;


%hierarhiLevel-1{
  font-size: 6em;
  text-transform: uppercase;
  font-weight: bold;
}


%hierarhiLevel-2{
  font-size: 3.5rem;
}
%hierarhiLevel-3{
  font-size: 1.25rem;
}
%hierarhiLevel-4{
  font-size: 1rem;
}
%hierarhiLevel--1{
  font-size: .6em;
  text-transform: uppercase;
  font-weight: bold;
}
%hierarhiLevel--2{
  font-size: .7rem;
  font-style: italic;
  font-weight: bold;
}