$contrastLevel: 0;


%hierarhiLevel--1{
  font-size: 1.6em;
  text-transform: uppercase;
  font-weight: bold;
}


%hierarhiLevel--2{
  font-size: 1.6em;
}
%hierarhiLevel--3{

}
%hierarhiLevel--4{
  font-size: 1em;
  text-transform: uppercase;
}
