@mixin breadcrumbs(){
	.breadCrumb {
      @include space('component','tb','');
      @include space('block','lr','');
      background-color: cs('fground');
      text-transform: uppercase;
      font-size: .9em;
      a:link,a:visited {
        color: cs('font-l');
        text-decoration: none;
      }
      a:hover{
        color: cs('font-d');
      }
    }
  .breadcrumb__section {
    display: inline-block;
    @include space('element','','tbrl');
    &:before {
      content: '/rsssdssesss[[sshuray it workss';
      margin-right: 20px;
    }
  }
  .breadCrumb__section--home {
    font-weight: 600;
    &:before{
      content: '';
      margin-right:0;

    }
  }
}