/**
* topBar styles
*/

@mixin topBar(){
    
  .topBar {
  
  
    &--fixed{
        z-index: 10;
        position:fixed; 
        top: 0;
        left:0;
        width:100%;
        //margin-bottom: 60px;
        box-shadow: 0px 2px 5px  5px rgba(0,0,0,0.5);
    }          
    &__wrapper {
        background: cs('primary');
        //border-bottom: solid 3px darken(cs('primary'),2%);
        //@include space-i('module','-','','b');
        //box-shadow: 0px 2px 8px 0px lighten(#000,60%);
        //@include space-i('element','-','','t')
       // height: 2.4*$line_height_ratio#{em};    
    }
    &__content {
       
        height: 60px;   
        
        
    }
    &__catalog{
        width:100%;
        @include for-size(desktop-up){
            width:25%;
        }
    }
    &__search{
        width:50%;
        display:none;
        @include for-size(desktop-up){
            display:inline-block; 
        }
    }
    &__cart{
        display:none;
        @include for-size(desktop-up){
            display:inline-block;
            width:25%;
        }
        
    }
  }

}


////////////////////////////////////////
@include topBar();