/**
* topBar styles
*/

@mixin topBar(){
    
  .topBar {
  
  
    &--fixed{
       @include for-size(tablet-l-up){
        z-index: 100000;
        position:fixed; 
        top: 0;
        left:0;
        width:100%;
       }
        //margin-bottom: 60px;
    }          
    &__wrapper {
        background: cs('primary');
        //border-bottom: solid 3px darken(cs('primary'),2%);
        //@include space-i('module','-','','b');
        //box-shadow: 0px 2px 8px 0px lighten(#000,60%);
        //@include space-i('element','-','','t')
       // height: 2.4*$line_height_ratio#{em};    
    }
    &__content { 
          
        height: 60px;   
         
        
    }
    &__catalog{
      
    }
    &__search{

    }
    &__cart{
        float: right;
        
    }
  }

}


////////////////////////////////////////
@include topBar();