mixin MODULE-topBar()
	<!-- split modules/topBar -->
	.topBar__content(data-qcontent='module__topBar')
		.group.group--md.group--v-md.group--va-middle.topBar    
				.col.col-3-tl.col-12-m
					.topBar__catalog 
						+MODULE-catalog() 
				.col.col-7-tl.showFrom-tl
					.topBar__search
						+MODULE-mainSearch()   
				.col.col-2-tl.showFrom-tl
					.topBar__cart 
						+MODULE-cart()