@mixin breadcrumbs(){
	.breadCrumb {
      text-transform: uppercase;
      font-size: .9rem;
      a:link {
        color: cs('font');
        text-decoration: none;
      }
      
      
    }
    .breadCrumb__content { 
          display: inline-block;
          margin-right: 40px;
      }
  .breadcrumb__section {
    display: inline-block;
       padding: 0px 8px;
       margin-right: 7px;
        color: cs('font-l');
        border-radius: 3px;
        &:hover{
        color: cs('font-d2');
      }
  }
  .breadCrumb__section--current {
     //border: solid 2px cs('accent');
    font-weight: bold;
    background: cs('accent');
    color: #fff; 
    &:hover{
        color:#fff;
    }
    &:before{
      content: '';
      margin-right:0;

    }
  }
}
@include breadcrumbs()
