@mixin breadcrumbs(){
	.breadCrumb {
      text-transform: uppercase;
      font-size: .9rem;
      a:link {
        color: cs('font');
        text-decoration: none;
        &:hover{
            color:#fff;
        }
      }
      
      
    }
    .breadCrumb__content { 
          display:none;
          @include for-size(tablet-l-up){
            display: inline-block;
            margin-right: 40px;
          }
         
      }
  .breadcrumb__section {  
      
    display: inline-block;
       height: 1.4rem;
      padding: 0 .5rem;
       text-align: center;
       border-radius: 3px;
       margin-right: 2px; 
        color: cs('font-l');
       // border-radius: 3px;
        &:hover{
        color: cs('font-d2');
         background: cs('primary-l2');
         color: #fff;  
      }  
      
  }
  .breadCrumb__section--all{
          background:#fff; 
          color: cs('primary');
          border: solid 1px cs('background-d2');
          border-bottom-width:2px;
          &:hover{
              background: cs('primary');
              border-color: cs('primary-d'); }
      }
  .breadCrumb__section--current {
     //border: solid 2px cs('accent');
    font-weight: bold;
    background: cs('primary');
    color: #fff;   
    &:hover a{ 
        color:#fff;
    }
    &:before{
      content: '';
      margin-right:0;

    }
  }
}
@include breadcrumbs()
