/* showCasePage STYLE */

.showCasePage {

    &__content {
        background-color: cs('foreground');
        padding: 30px 20px;
         p{
            color:cs('font-d');
        }
    }
    &__title {
        margin-bottom: 20px;
        text-align: center;
    }
    &__subtitle{
        color: cs('succes-d');
        border-bottom: 2px solid;
        &--red{
            margin-top:40px;
            margin-bottom:35px;
            text-transform: uppercase;
            text-align:center;
            line-height:1.7em;   
            color: darken(violet,25%);
        }
    }
}