/* showCasePage STYLE */

.showCasePage {

    &__content {
        background-color: cs('foreground');
        padding: 30px 20px;
         p{
            color:cs('font-d');      
        }
    }
    &__title {         
        margin-bottom: 25px;  
        text-align: center;  
    }
    &__subtitle{         
        color: cs('succes-d2');   
        border-bottom: 5px solid;
        &--red{                       
            margin-top:21px;    
            margin-bottom:32px; 
            text-transform: uppercase;       
            text-align:center;
            line-height:2.7em;   
            color: darken(violet,20%);
        }
    }
}