<!-- split footer.html -->
footer(data-qcontent="layout__footer") FOOTER!!!lopa
-if (OPTIONS.useSVGSprite=="true")
    <!-- split SVG SPRITE -->
    .hidden
        include ../../../../dist/source/icons/SVGSpriteIcons.svg


