<!-- split footer.html -->
footer.mainFooter(data-qcontent="layout__footer")
	+C-footer() 
	+LEVEL-modalWindow('login','Войти','login')
		+In-textInput("mail","Электронная почта","Электронная почта:")
		+In-textInput("mail","Пароль","пароль:")
		+B-toOrder('Войти')
		+B-checkBox('Запомнить меня','checked')
		+B-button('Забыли пароль?','fastBuy')
	+LEVEL-modalWindow('signUp','Регистрация','signUp')
		+In-textInput("mail","Электронная почта","Электронная почта:")
		+In-textInput("mail","Пароль","пароль:")
		+In-textInput("mail","Повтоите пароль","Повторите пароль:")
		+B-checkBox('Запомнить меня для последующего входа','checked')
		+B-toOrder('Зарегистрироваться и войти')
	+LEVEL-modalWindow('geo','Выбор городов')
		ul.current-list
			li
			a(data-id='3021', href='#') Белгород
			li
			a(data-id='3033', href='#') Брянск
			li
			a(data-id='3050', href='#') Владимир
			li
			a(data-id='3074', href='#') Волгоград
			li
			a(data-id='3075', href='#') Волжский
			li
			a(data-id='3110', href='#') Воронеж
			li
			a(data-id='3192', href='#') Калуга
			li
			a(data-id='3397', href='#') Красногорск
			li
			a(data-id='2897', href='#') Краснодар
			li
			a(data-id='3284', href='#') Курск
			li
			a(data-id='3337', href='#') Липецк
			li
			a(data-id='3349', href='#') Москва
			li
			a(data-id='3459', href='#') Нижний Новгород
			li
			a(data-id='3536', href='#') Орел
			li
			a(data-id='3544', href='#') Пенза
			li
			a(data-id='3558', href='#') Пермь
			li
			a(data-id='3600', href='#') Ростов-на-Дону
			li
			a(data-id='3624', href='#') Рязань
			li
			a(data-id='3637', href='#') Самара
			li
			a(data-id='3295', href='#') Санкт-Петербург
			li
			a(data-id='3649', href='#') Саратов
			li
			a(data-id='3022', href='#') Старый Оскол
			li
			a(data-id='3754', href='#') Тамбов
			li
			a(data-id='3761', href='#') Тверь
			li
			a(data-id='3792', href='#') Тула

