<!-- split header.html -->
header(data-qcontent="layout__header" class="mainHeader")
	+LEVEL-outer()
		.topMenu__wrapper
			+LEVEL-inner()
				+MODULE-topMenu()
		.mainInfo__wrapper
			+LEVEL-inner()
				+MODULE-mainInfo()
	+LEVEL-outer()
		.topBar__wrapper
			+LEVEL-inner()
				+MODULE-topBar()
			+MODULE-catalogList()
	+LEVEL-outer()
				+MODULE-pageBreadcrumbs()

