.icon {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 3rem;
  fill: #fff;
}

.icon--close {
  height: 2.8rem;
  width: 2.8rem;
  fill: cs('font-d');
  cursor: pointer;
}

.icon--search {
  width: 2.5rem;
}

.icon--angle {
  height: 1rem;
  width: 1rem;
  fill: cs('font-l');
}

.catalogMenu__list__item--active {
  .icon--angle {
    fill: cs('accent');
  }
}

.icon-menu__button {
  cursor: pointer;
  background-color: cs('primary-d');
  border-radius: 3px;
  @include space('element','a','');
}