$color__button:#aaa;
$color__button-hover:#aaa;
$color__button-active:#aaa;
//--Main Button
.mainButton {
  background-color: $color__button;

  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 2;
  }
}
ul.infoElement__container {

}
.infoElement{
  line-height:60px;

  .iconWrapper,h5,span{
    @include space-i('element','=','rl','');
    display: inline-block;
    //vertical-align: top;
  }
  .infoElement__icon{
    width: 60px;
    height: 60px;
    fill: cs('accent');
    vertical-align: top;
  }


}
.icon {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 2rem;
  max-width: 100%;
  fill: #fff;
}

.icon--close {
  height: 6.8rem;
  width: 6.8rem;
  fill: cs('font-d');
  cursor: pointer;
}
.icon--heart {
   height: 6.8rem;
   width: 6.8rem;
   fill: red;
   cursor: pointer;
 }
.icon--heart--animate {
  @include a-set-frame(heart, 1.5s,  1s,  1,linear,$frames:(
            0  :(transform:rotate(30deg)),
            .5 :(transform:rotate(60deg)),
            1 :(transform:rotate(180deg))
    ));
}
.icon--search {
  width: 2rem;
}

.icon--angle {
  height: 1rem;
  width: 1rem;
  fill: cs('font-l');
}

.catalogMenu__list__item--active {
  .icon--angle {
    fill: cs('accent');
  }
}

.icon-menu__button {
  cursor: pointer;
  width: 2.6em;
  background-color: cs('primary-d');
  border-radius: 3px;
  @include space('element','a','');
}
.ove-markedHeader {
  display: inline-block;
  background-color: cs('primary');
  width: 40px;
  height: 40px;
  line-height: 50px;
  vertical-align: middle;
  border-radius: 50%;
  @include space('element','','r');
  .icon {
    height: 1em;
    vertical-align: baseline;
    width: auto;

  }
}
.ove-sectionHeader {
  @include space('element','','b');
}
input[type='text'].ove-cardRegInput {
  outline: none;
  color: #000000;
  width: 100%;
  border: solid 2px cs('accent');
  background-color: transparent;
  @include space-i('component','=','tbr','');
  @include space-i('module','=','l','b');
}
$bkgColor__baseButton:#0a7c84;
$bkgColor__baseButton-hover:lighten($bkgColor__baseButton,10%);
$color__baseButton-hover:#fff;
$color__baseButton:#fff;
$end_color: #00aab5;
.baseButton {
	display: inline-block;
	font-family: fs('HEADER');
	padding:0;
	background-color: $bkgColor__baseButton;
	color: $color__baseButton;
	//border-radius: 15px;
	border: 1px solid $bkgColor__baseButton-hover;
	@include space('element','tb','');
	@include space('component','lr','');

	@include i-gradient(90,($bkgColor__baseButton,$end_color),$points:(65%),$type:'linear');

		&:hover, &:focus, &:active {
		color: $color__baseButton-hover;
		background-color: $bkgColor__baseButton-hover;
			@include i-gradient(90,($bkgColor__baseButton,$end_color),$points:(25%),$type:'linear');
		}

		&:visited {
		color: #fff;
		}
		&:hover,
		&:focus,
		&:active {
		color: $color__baseButton-hover;
		}
		&:focus {
		outline: none;
		}
		&:hover,
		&:active {
		outline: none;
		}
	&.login{
		text-transform: uppercase;

	}
}
$bkgColor__learnMoreButton:transparent;
$bkgColor__learnMoreButton-hover:cs('accent');
$color__learnMoreButton-hover:#fff;
$color__learnMoreButton:#000000;
$color__learnMoreButton-visited: #232323;

.learnMoreButton {
	display: inline-block;
	background-color: $bkgColor__learnMoreButton;
	color: $color__learnMoreButton;
	border: 2px solid cs('accent');
	@include space-i('component','=','tb','b');
	@include space-i('block','-','rl','');

		&:hover, &:focus{
		color: $color__learnMoreButton-hover;
		background-color: $bkgColor__learnMoreButton-hover;
		}
	&:active {
		background-color: darken($bkgColor__learnMoreButton-hover,5%);
		border-color: darken($bkgColor__learnMoreButton-hover,5%);;
	}
	&:visited {
		color: $color__learnMoreButton-visited;
		}
		&:hover,
		&:focus,
		&:active {
		color: $color__learnMoreButton-hover;
		}
		&:focus {
		outline: none;
		}
		&:hover,
		&:active {
		outline: none;
		}
	&.learnMoreButton--onImage{
		color: #fff;
	}
}
$color__link: cs('font-d');
$color__link-visited:cs('font-d');
$color__link-hover:cs('font-l');

a, a.mainLink {
  color: $color__link;
  text-decoration: none;

  &:visited {
    color: $color__link-visited;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }
  &:focus {
    outline: none;
  }
  &:hover,
  &:active {
    outline: none;
  }
}