mixin B(value,className)
	-if (!className) className =''
	button.mainButton(class=''+className)=value

mixin A(content,href,className)
	-if (!className) className =''
	a(class='mainLink '+className,href=href)=content
mixin A-ove-topNavLink(content,href,className)
	-if (!className) className =''
	a(class='ove-topNavLink '+className,href=href)=content
