$color__button:#aaa;
$color__button-hover:#aaa;
$color__button-active:#aaa;
//--Main Button
.mainButton {
  background-color: $color__button;

  &:focus {
    outline: thin dotted;
  }
  &:hover,
  &:active {
    outline: 0;
  }
}
$bkgColor__gogog:#fff;
$bkgColor__gogog-hover:#fff;
$color__gogog-hover:#fff;
$color__gogog:#fff;

.gogog {
	position: relative;
	background-color: $bkgColor__gogog;
	color: $color__gogog;
		&:hover, &:focus, &:active {
		color: $color__gogog-hover;
		background-color: $bkgColor__gogog-hover;
		}
		&:focus {
			outline: none;
		}
		&:hover, &:active {
			outline: none;
	}
}
$color__link: cs('font-d');
$color__link-visited:cs('font-d');
$color__link-hover:cs('font-l');

a, a.mainLink {
  color: $color__link;
  text-decoration: none;

  &:visited {
    color: $color__link-visited;
  }
  &:hover,
  &:focus,
  &:active {
    color: $color__link-hover;
  }
  &:focus {
    outline: none;
  }
  &:hover,
  &:active {
    outline: none;
  }
}
$bkgColor__toCart:cs('accent');
$bkgColor__toCart-hover:cs('accent-l');
$color__toCart-hover:#fff;
$color__toCart:#fff;

.toCart {
	background-color: $bkgColor__toCart;
	color: $color__toCart;
	border: none;
	border-radius: 2px;
	font-size: .8em;
	@include space('element','a','');
	height: 4em;
	width:100%;
	margin: 0;
		&:hover, &:focus, &:active {
		background-color: $bkgColor__toCart-hover;
		}
		&:focus {
			outline: none;
		}
		&:hover, &:active {
			outline: none;
	}
	&.toCart--in {
		background-color: #3bd43b;
	}
}

.icon {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 2rem;
  max-width: 100%;
  fill: #fff;
}

.icon--close {
  height: 2.8rem;
  width: 2.8rem;
  fill: cs('font-d');
  cursor: pointer;
}

.icon--search {
  width: 2rem;
}

.icon--angle {
  height: 1rem;
  width: 1rem;
  fill: cs('font-l');
}

.catalogMenu__list__item--active {
  .icon--angle {
    fill: cs('accent');
  }
}

.icon-menu__button {
  cursor: pointer;
  width: 2.6em;
  background-color: cs('primary-d');
  border-radius: 3px;
  @include space('element','a','');
}
.ove-markedHeader {
  display: inline-block;
  background-color: cs('primary');
  width: 40px;
  height: 40px;
  line-height: 50px;
  vertical-align: middle;
  border-radius: 50%;
  @include space('element','','r');
  .icon {
    height: 1em;
    vertical-align: baseline;
    width: auto;

  }
}
.ove-sectionHeader {
  @include space('element','','b');
}
form.ove-pageCard__Form .ove-cardRegInput {
  text-align: center;
  outline: none;
  border:none;
  color: #fff;
  width: 100%;
  background-color: transparent;
  @include space('element','a','b');
  border-bottom: 3px solid #fff;
  font-size: 2.5em;
  letter-spacing: .25em;
}
$color__linksocialLink:red;
$color__linksocialLink-visited:red;
$color__linksocialLink-hover:red;
a.socialLink {color: $color__linksocialLink;
 text-decoration: none;
 &:visited {color: $color__linksocialLink-visited;
 }
 &:hover, &:focus, &:active
 {color: $color__linksocialLink-hover;
 } &:focus {outline: thin dotted;}
 &:hover, &:active
 {outline: 0;}}
$color__ove-topNavLink:cs('font');
$color__ove-topNavLink-visited:cs('font');
$color__ove-topNavLink-hover:cs('font-d');

a.ove-topNavLink {
	color: $color__ove-topNavLink;
	display: inline-block;
	text-decoration: none;
	@include space('element','a','');
	background-color: #fff;

	&:visited {
		color: $color__ove-topNavLink-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__ove-topNavLink-hover;
		background-color: #87ff8b;
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
	outline: none;
	}
}
$bkgColor__ove-cardReg: transparent;
$bkgColor__ove-cardReg-hover: cs('primary-l');
$color__ove-cardReg-hover:#fff;
$color__ove-cardReg:#fff;

.ove-cardReg {
	position: relative;
	margin: 0% auto;
	background-color: $bkgColor__ove-cardReg;
	color: $color__ove-cardReg;
	border:3px solid #fff;
	border-radius: 3px;
	font-size: 1.4em;
	@include space('element','a','');
		&:hover, &:focus, &:active {
		color: $color__ove-cardReg-hover;
		background-color: $bkgColor__ove-cardReg-hover;
		}
		&:focus {
			outline: none;
		}
		&:hover, &:active {
			outline: none;
	}
}
.ove-cardReg--inactive{
	opacity: .6;
	&:hover{
		background-color: transparent;
	}
}

  .spinner-circle {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #ffffff;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }

  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: .4;
    }
  }

  @keyframes sk-scaleout {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
      }
  }
