mixin catalogItem()
	<!-- split modules/catalogItem -->
	.row
		-var i = 1
		+loop(6)
			.col-4-m.col-4-tp
				.catalogItem
					.catalogItem__imgCtn
						a(href="#")
							img(src="images/catalog/"+i+".jpg")
					.catalogItem__title
						a(href='/#') Набор разделочных досок Joseph Joseph Index Mini 60098 графит
					.catalogItem__priceAndBuy__price
									span 30 400Р
					.catalogItem__priceAndBuy__buy
									+B-toCart()
			-i++