mixin MODULE-cartProduct()
	<!-- split modules/cartProduct -->
	.cartProduct__content(data-qcontent='module__cartProduct')
		+C-productInline(productInline1,'cart')
			.productInline__section.productInline__section--del 
			