mixin MODULE-testModuleSergeConnectPeopleareStranged()
	<!-- split modules/testModuleSergeConnectPeopleareStranged -->
	.testModuleSergeConnectPeopleareStranged__content(data-qcontent='module__testModuleSergeConnectPeopleareStranged')
		.testModuleSergeConnectPeopleareStranged