$bkgColor__radialConturButton:transparent;
$color__radialConturButton: inherit;

.radialConturButton {
    text-transform: uppercase;
    margin: 0 auto 5vh auto;
	position: relative;
	background-color: $bkgColor__radialConturButton;
	color: $color__radialConturButton;
	border: 4px solid;
	border-radius: 20px;
		&:focus {
			outline: none;
		}
		&:hover, &:active {
			outline: none;
	}
}