$bkgColor__gogog: #68ff31;
$bkgColor__gogog-hover:#fff;
$color__gogog-hover:#fff;
$color__gogog:#fff;

.gogog {
	position: relative;
	background-color: $bkgColor__gogog;
	color: $color__gogog;
		&:hover, &:focus, &:active {
		color: $color__gogog-hover;
		background-color: $bkgColor__gogog-hover;
		}
		&:focus {
			outline: none;
		}
		&:hover, &:active {
			outline: none;
	}
}