mixin MODULE-flyPageFragment(data)
	<!-- split modules/flyPageFragment -->
	.flyPageFragment__content(data-qcontent='module__flyPageFragment')
		.flyPageFragment 
			h1=data.title 
			button.toOrder.active.notEdit Добавить в заявку 
			button.toOrder.succes.notEdit Get Element
			table.flyPageFragment__table
				tr.table_row
					td.fragmentTitle Артикул:
					td.sku 123243
				tr
					td.fragmentTitle МРЦ: 
					td.rrc_price 8900 Р
				tr
					td.fragmentTitle МОЦ:
					td.mop_price 6 100 Р
				tr
					td.fragmentTitle Доступно:
					td.stock 14  шт