/**
* flyPageFragment styles
*/

@mixin flyPageFragment(){

  .flyPageFragment__content{
    font-family: arial, san-serif;
    table {
        text-align: center;
    }
  }
  .flyPageFragment{
    background:cs('foreground');
    padding-bottom: 2px;
    .stock_title, .stock {
        color: cs('succes-d');
        font-size: 25px;
    }
    .fragmentTitle {
        font-weight: 700;
    }
    .rrc_price{
        font-size: 22px;
    }
    .mop_price {
        font-size: 22px;
        color: cs('erorr-d'); 
        //font-weight: bold;
    }
    .toOrder {
        color: #000;
        text-transform: uppercase;
        font-size: 17px;
        text-align: center;
        font-weight:bold;
        background: #f17a00;  
        border: solid 2px cs('accent-l');
        height: 61px;
        line-height: 45px;
        width: 240px;
        border-radius: 5px;
        transition: background .2s ease;
        text-shadow: 0px 0px 7px #000;
        text-decoration: none;
        svg {
            margin-top: -2px;
        }
        
        &.succes {
            background: cs('succes');
            border-color: cs('succes-l');
            &:hover{
                background: cs('succes-d2');
            }
        }
        &:hover{
            background: cs('accent-d2');
        
        }
    }
    .table_row{
        color: green;
    }
  }

}


////////////////////////////////////////
@include flyPageFragment();