mixin LEVEL-subProductInfo(data)
	.subProductInfo
		.subProductInfo__content.block--inner(class = 'subProductInfo__content'+ className data-qcontent="level__subProductInfo")
			.subProductInfo__tabber
				ul.subProductInfo__tabber-list
					li.subProductInfo__tabber-item.subProductInfo__tabber-item--active
						span Дополнительное Оборудование
					li.subProductInfo__tabber-item
						span Характеристики и Описание
					li.subProductInfo__tabber-item.ibb
						span Товары из этой серии коллекции
					li.subProductInfo__tabber-item.ibb
						span Пункты выдачи в Воронеже
				.subProductInfo__contents
					.subProductInfo__tabContent 1
						+MODULE-additionalProducts()
					.subProductInfo__tabContent 2
					.subProductInfo__tabContent 3
					.subProductInfo__tabContent 4