/**
* cart styles
*/

@mixin cart(){

  .cart {
    &__content {
        display: inline-block;
        margin:0;  
        padding:0;
        background: cs('foreground');
        border: none;
        min-width:135px;
        padding: 0 vr-block(.2);
        //margin: 0 auto;
        //max-height: 100%;  
        //line-height:40px;
        border-radius :3px;
        box-shadow: inset 0px -2px lighten(cs('font-l2'),10%);
        
        &:hover{
            box-shadow:none;
        }
    }
    &__icon{
        margin-right: .4em;  
        
    }
    &__count{
        text-align: center;  
        color: #fff;
        background: cs('accent');
        margin-left: -.4em;
        margin-right: .2em;
        //padding:0 vr-block(.1);
        display: inline-block;
        width:1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        font-weight: bold;
        font-size: .9em;
        line-height: 1.2rem;
    }
    &__summ{
        font-weight: bold;
    }
  }

}


////////////////////////////////////////
@include cart();