mixin MODULE-cart()
	<!-- split modules/cart -->
	-var empty = false
	if(empty)
		button.cart__content(data-qcontent='module__cart')
			span.cart__icon
				+I('cart-s','topBar')
			span Корзина
	-else
		button.cart__content(data-qcontent='module__cart')
			span.cart__icon
				+I('cart-s','topBar')
			span.cart__count 2    
			span.cart__summ на 1000 000р