/* orderPage STYLE */

.orderPage__content {
  background: cs('foreground');
  padding: 60px 10px;
  @include for-size(phone-only){
       padding: 30px 15px;
  }
  a {
    color: cs('primary');
  }
}
 
.orderPage__title {
  text-align: center;
  margin-bottom: 35px;
  color:cs('succes');
}

.orderPage__mainMessage {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  @include for-size(phone-only){
      font-size: 22px;
  }

}

.orderPage__subMess {
    @include for-size(phone-only){
        padding: 0 0 0 13px;
    }
  color: cs('font-l');
  width: 50%;
  margin: 0 auto 15px;
  li {
    list-style: circle;
  }
  @include for-size(phone-only){
      width: 100%;
  }

  }

.orderPage__actions {
  text-align: center;
}