/* orderPage STYLE */

.orderPage__content {
 // background-image: holder('200x200');
  background-color: cs('foreground');
  background-repeat: no-repeat;
  padding: 70px 30px;
  @include for-size(phone-only){ 
       padding: 30px 15px; 
  }  
  a {  
    color:#000;
   text-decoration: none; 
  }
  .order_confirmed, .tri{
         
     fill:cs('succes-d2');     
  }
}   
 
.orderPage__title { 
  text-align: center;         
  margin-bottom: 12px;      
  margin-left: auto; 
  margin-right: auto;
  width:50%;
  color: cs('secondary-d'); 
  @include for-size(phone-only){
      width:91%;   
  }
    
}

.orderPage__mainMessage {
  font-size: 24px;  
  text-transform: uppercase; 
  font-weight: bold;
  text-align: center;
  color: cs('succes-d2');
  @include for-size(phone-only){
      font-size: 18px;  
  }

}

.orderPage__subMess {
    @include for-size(phone-only){
        padding: 0 0 0 15px;
    }
    @include for-size(tablet-p-up){
        width: 70%;
    }
  color: cs('font-d');
  width: 50%;
  margin: 0 auto 15px;
  li {
    list-style: circle;      
  }
 @include for-size(phone-only){ 
      width: 100%;   
  }

  }
  .buttonWrapper {
      text-align: center;  
      margin-top: 17px;  
  }

.orderPage__actions {
  text-align: center;
}
.page__loader {
    vertical-align: top;
}