mixin LEVEL-orderPage(title,className)
	-if (!className) className =''
	-var link = "<a href='/'>N 12312356</a>"
	-var link1 = "<a href='/'>личном кабинетеQ</a>"
	-var link2 = "<a href='/'>Иванов Иван.</a>"
	section.orderPage__content(class = 'orderPage__content'+ className data-qcontent="level__orderPage")
		h2.orderPage__title=title
		p.orderPage__mainMessage.text
			| Ваша заявка 
			|!{link}
			| принята на обработку.
		ul.orderPage__subMess
			li В настоящий моzмент заявка ожидаетd подтверждения менеджером.
			li Ваш ответственный менеджер !{link2} автоматически оповещен.
			li Отслеживать статус заявки вы можете в !{link1}.
			li Электронная копия заявки отправлена на указанный вами email@.
			
		.orderPage__actions
			a(href='/') &larr; В личный Кабинет!!!. 
			br
			a(href='/') &larr; На главнуюa.
		if block
			block
			
		