mixin LEVEL-orderPage(title,className)
	-if (!className) className =''
	-var link = "<a href='/'>N 1231238</a>"
	-var link1 = "<a href='/'>личном кабинетеQ</a>"
	-var link2 = "<a href='/'>Иванов Иван.</a>"
	section.orderPage__content.holderjs(class = 'orderPage__content'+ className data-qcontent="level__orderPage")
		h1.orderPage__title=title
		+I('svg','red')
		+I('plus-button')  
		+I('button','tri') 
		+I('tri','tri')
		+I('car-front','tri')
		+I('rocket','rocket')
		+I('eco','tri')  
		+I('drop','tri')
		+I('search','tri')
		+holder('page__loader','100px100',colors.primary)
		+loop(10)
			+holder('page__loader','100px100')  
		.buttonWrapper
			+B-b1('hello')
		.buttonWrapper
			+B-b1('hello')
		p.orderPage__mainMessage.text
			| Ваша заявка
			|!{link} 
			| принята на обработку!!!    
		ul.orderPage__subMess
			li В настоящий момент заявка ожидаетd подтверждения м    енеджером.
			li Ваш ответственный менеджер !{link2} автоматически оповещен.
			li Отслеживать статус заявки вы можете в !{link1}.
			li Электронная копия заявки отправлена на указанный вами email.
			
		.orderPage__actions
			a(href='/') &larr; В личный Кабинет!. 
			br
			a(href='/') &larr; На главнуюa!.
		if block
			block
			
		