/* orderPage STYLE */

.orderPage__content {
  background: cs('foreground-d'); 
  padding: 70px 30px;
  @include for-size(phone-only){ 
       padding: 30px 10px; 
  }
  a {
    color: cs('primary-d');
   text-decoration: none; 
  }
  .order_confirmed, .tri{
      
     fill:cs('succes-d2');    
  }
} 
 
.orderPage__title { 
  text-align: center;         
  margin-bottom: 30px; 
  margin-left: auto; 
  margin-right: auto;
  width:50%;
  color: cs('succes-d2');
  @include for-size(phone-only){
      width:90%;
  }
    
}

.orderPage__mainMessage {
  font-size: 22px;  
  text-transform: uppercase; 
  font-weight: bold;
  text-align: center;
  color: cs('succes-d2');
  @include for-size(phone-only){
      font-size: 16px; 
  }

}

.orderPage__subMess {
    @include for-size(phone-only){
        padding: 0 0 0 15px;
    }
  color: cs('font-l');
  width: 50%;
  margin: 0 auto 15px;
  li {
    list-style: circle;
  }
 @include for-size(phone-only){
      width: 100%;
  }

  }
  .buttonWrapper {
      text-align: center;
  }

.orderPage__actions {
  text-align: center;
}