mixin module(modulename)
    case modulename
        when 'Light_menu'
            include ../../../dev/MODULES/MENUS/--Light_menu/_include
        when 'collection_slider'
            include ../../../dev/MODULES/PROJECT MODULES/--collection_slider/_include
        when 'vri_features'
            include ../../../dev/MODULES/PROJECT MODULES/--vri_features/_include
        when 'info'
            include ../../../dev/MODULES/PROJECT MODULES/--info/_include
        when 'breadcrumbs'
            include ../../../dev/MODULES/PROJECT MODULES/--breadcrumbs/_include
        when 'categories'
            include ../../../dev/MODULES/PROJECT MODULES/--categories/_include
        when 'categories'
            include ../../../dev/MODULES/PROJECT MODULES/--categories/_include
        when 'category'
            include ../../../dev/MODULES/PROJECT MODULES/--category/_include
        when 'pagination'
            include ../../../dev/MODULES/PROJECT MODULES/--pagination/_include
        when 'test'
            include ../../../dev/MODULES/PROJECT MODULES/--test/_include
        when 'test2'
            include ../../../dev/MODULES/PROJECT MODULES/--test2/_include
        when 'test'
            include ../../../dev/MODULES/PROJECT MODULES/--test/_include
        when 'test1'
            include ../../../dev/MODULES/PROJECT MODULES/--test1/_include