mixin module(modulename)
    case modulename
        when 'Light_menu'
            include ../../../dev/MODULES/MENUS/--Light_menu/_include
        when 'collection_slider'
            include ../../../dev/MODULES/PROJECT MODULES/--collection_slider/_include
        when 'vri_features'
            include ../../../dev/MODULES/PROJECT MODULES/--vri_features/_include
        when 'info'
            include ../../../dev/MODULES/PROJECT MODULES/--info/_include