mixin module(modulename,moduleData)
    if(moduleData)
        - var moduleData = moduleData
    else
        - var moduleData = false
    case modulename
        when 'Light_menu'
            include ../../../dev/MODULES/MENUS/--Light_menu/_include
        when 'breadcrumbs'
            include ../../../dev/MODULES/PROJECT MODULES/--breadcrumbs/_include
        when 'pagination'
            include ../../../dev/MODULES/PROJECT MODULES/--pagination/_include
        when 'FORM'
            include ../../../dev/MODULES/PROJECT MODULES/--FORM/_include
        when 'hero_video'
            include ../../../dev/MODULES/PROJECT MODULES/--hero_video/_include
        when 'owlSlider'
            include ../../../dev/MODULES/PROJECT MODULES/--owlSlider/_include
        when 'catalogMenu'
            include ../../../dev/MODULES/PROJECT MODULES/--catalogMenu/_include
        when 'sideBar'
            include ../../../dev/MODULES/PROJECT MODULES/--sideBar/_include
        when 'oveFeatures'
            include ../../../dev/MODULES/PROJECT MODULES/--oveFeatures/_include
        when 'owlGoodsSlider'
            include ../../../dev/MODULES/PROJECT MODULES/--owlGoodsSlider/_include
        when 'catalogItem'
            include ../../../dev/MODULES/PROJECT MODULES/--catalogItem/_include
        when 'catalogItemsonCatPage'
            include ../../../dev/MODULES/PROJECT MODULES/--catalogItemsonCatPage/_include