mixin MODULE-mobileMenu(param)
	.mobileMenu
		.mobileMenu__content(data-qcontent='module__mobileMenu')
			.mobileMenu__wrapper.mobileMenu__category.l_ib__c(class=' '+ classN)#js_categories
				nav(role='catalog').mobileMenu___categoryNavigation.l_ib__e#mobileMenu
					input
					ul
						li
							a(href="/") Home  
						li
							span  Сантехника
							ul
								li
									span Ванны
									ul
										li
											a(href="/") Ванны
									
								li
									a(href="/") Кабины
