mixin C-subscribeSts()
	.subscribeSts(data-qcontent='component__subscribeSts')
		form.subscribeSts__form
			input.subscribeSts__inpt(placeholder="Введите ваш email") 
			button.subscribeSts__btn
				+I('mail') 
				span Подписаться
			
		