mixin B-checkBox(label,className)
	-if (!className) className =''
	.checkBox.col.col-12-tl.col-6-tp.col-6-m(class=''+className data-qcontent='element__buttons__checkBox')=value
		input.checkBox__input.productFilter__checkbox(type='checkbox',id="id_"+label)
		label.checkBox__label(type='checkbox',for="id_"+label)=label