.checkBox {
  margin-bottom: 0.34em;
  position: relative;
}
.checkBox__input {
  float: left;
  height: 1.7em;
  line-height: 1.7em;
  margin-right: 0.85em;
}
.checkBox__input:checked + label {
  font-weight: bold;
  border-color: rgb(255, 149, 51);
}

.checkBox__label:hover {
  color: rgb(255, 149, 51);
}