mixin collection_slider()
    .row
        .col-12-l
            .collection_slider.clearfix
                .row
                    .col-4-l
                        ul.collection_slider__menu
                            li.collection_slider__menu__item VRI
                            li.collection_slider__menu__item Baciano
                            li.collection_slider__menu__item Bauta
                            li.collection_slider__menu__item Basilica
                            li.collection_slider__menu__item Lido
                            li.collection_slider__menu__item Burano
                            li.collection_slider__menu__item Gondola
                    .col-8-l
                        .collection_slider__hero
                            h2.collection_slider__hero__title.visible-l
                                |Смесители <br/>
                                |и аксессуары для ванной <br/>
                                |вдохновленные Венецией
