@mixin collection_slider(){
	.collection_slider{
      position: relative;
      font-size: 1.1em;
      @include space('block','tb','');
      background-color: #fff;
      @include i-bkg-ctr('images-rs/rs-s.png',cover);
      //height: 556px;
    }
  .collection_slider__menu__item {
    list-style: none;
    text-align: center;
    @include space('element','trbl','');
    background-color: cs('primary');
    margin: 0 auto 1px auto;
    color: #fff;
    text-transform: uppercase;
    width: 50%;
    cursor: pointer;
    @include a-hover('background-color',(from:false,to:cs('primary-d')),.3s,ease);
    @include media('tablet'){
      @include space('component','tbrl','')
    }
  }
  .collection_slider__hero {
  }
  .collection_slider__hero__title {
    font-size: 2.6em;
    width: 67%;
    line-height: 1.7;
    color: cs('font');
    position: absolute;
    right: 0;
  }
}