mixin LEVEL-productInfo(data)
	.productInfo
		.productInfo__content.block--inner(class = 'productInfo__content'+ className data-qcontent="level__productInfo")
			.productMain
				.group.group--md
					.col.col-5-tl
						+MODULE-productImageSlider()
					.col.col-3-tl.col-6-tp
						.productInfo__section
							+MODULE-innerCoupon('product')
							+B-productBadge('Рекомендуем','recommending','like')  
							.productInfo__priceStock
								+C-priceAndStock('part')
							+C-smartBonus()
							+B-toOrder('В корзину')
							+B-button('Оформить без регистрации','fastBuy')
							+MODULE-productChar()
					.col.col-4-tl.col-6-tp
						.productInfo__section.productInfo__section--delivery
							+MODULE-deliverySection()
						
			.productLogo
				img(src='https://santehsmart.ru/upload/resize_cache/uf/663/120_40_1/663573ea5278ca044fad90b0a4f2346d.png')