mixin LEVEL-productInfo(data)
	.productInfo
		.productInfo__content(class = 'productInfo__content'+ className data-qcontent="level__productInfo")
			.productMain
				.group.group--md
					.col.col-5-tl
						+MODULE-productImageSlider()
					.col.col-3-tl.col-6-tp
						.productInfo__section
							+B-productBadge('Новинка','new')
							.productInfo__priceStock
								span.productCol__price 14 300
									span.icon-ruble
								span.productCol__stock.icon-tick В наличии:
							+B-toOrder('В корзину')
							+B-button('Оформить без регистрации','fastBuy')
							+MODULE-productChar()
					.col.col-4-tl.col-6-tp
						.productInfo__section
							+MODULE-deliverySection()
						
			.productLogo
				img(src='https://santehsmart.ru/upload/resize_cache/uf/663/120_40_1/663573ea5278ca044fad90b0a4f2346d.png')