/* productInfo STYLE */

.block--inner{
    border-bottom: solid 4px #dadada;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.productInfo {
    .smartBonus{
         //text-align: center;
        padding:vr-block(.4) 0; 
    }
    .toOrder{
        width:80%;
        margin: vr-block(.4) auto vr-block(.1);
        display: block;
        @include for-size(tablet-l-up){
            width: 100%;
        }
    }
    &__content {
        .productCol__lock{
            text-align:left;
            width: 100%;
            display: inline-block;
            line-height: 1.7;
        }
        .productBadge{ 
            @include for-size(phone-only){
                margin:0 auto;
                display: block;
                width: 40%;
                margin-bottom: vr-block(.4);

            }
        }
        background:#fff;
        position: relative;
       // padding-bottom:1rem; 
        margin-bottom:1rem;
        
        .productCol__price{
             display: inline-block;
             width: 100%;
             font-size: 2.8rem;
             text-align: left;

             @include for-size(phone-only){
                 text-align: center;
             }
        }
        .productCol__mrcPrice{
            font-size: 1.5rem;
        }
        .fastBuy{
            margin: vr-block(2) auto vr-block(1);
        }
        .productCol__stock,.productCol__lock{
            width:100%;
            text-align:left;
            font-size: 1.1rem;
            @include for-size(phone-only){
                 text-align: center;
             }
        }

    }
    &__section{
        padding-bottom: vr-block(1);
        padding-top: vr-block(1);
        
        @include for-size(tablet-l-up){
             padding-right: vr-block(0);
        padding-left: vr-block(0);
        }
        
        &--delivery{
            @include for-size(tablet-p-up){
            border-left: 1px solid cs('background-d');
        }
            @include for-size(tablet-l-up){
                     
                        padding-left: vr-block(1); 
           } 
        }
    }
    &__title {

    }
    &__priceStock{
        padding-bottom: vr-block(.4);
        .priceAndStock{
            text-align: center;
        }


    }
      .productLogo {
      position:absolute;
      z-index: 1;
      left:0;
      top:-2rem;
      background: cs('foreground');
      width: 9rem;
      height: 4.5rem;
      @include for-size(phone-only){
          width:5rem;
          height:3rem;
      }
      padding: vr-block(.4);
      box-shadow: 4px 4px silver;
        &>IMG{
            position: absolute;
            width: 85%;
            margin:auto;
            top:0;
            bottom:0;
            left:0;
            right:0; 

        }


  }
}