mixin MODULE-deliverySection()
	<!-- split modules/deliverySection -->
	.deliverySection__content(data-qcontent='module__deliverySection')
		h5.deliverySection__title Доставка в город 
			a.geoTarget__link.js_modal_trigger(href='df' id = 'js_modal_trigger__geo') Воронеж:
		.deliverySection__type
			dl.deliverySection__to
				dt До пункта Выдачи:
				dd 300р 2-3 дня
			a.deliverySection__pointsLink Пункты выдачи 
		.deliverySection__type
			dl.deliverySection__to
				dt Курьерская доставка:
				dd 500р 2-3 дня
		.deliverySection__type
			dl.deliverySection__to
				dt Можно забрать:
				dd Сегодня из офиса
			
			
			