/**
* deliverySection styles
*/

@mixin deliverySection(){
  
  .deliverySection {
    &__content {
       @include for-size(tablet-l-up){
                  float:right;
          padding-right:vr-block(2);
          text-align:left;

       }
       text-align: center;
    }
    &__title{
        margin-bottom: vr-block(.4);
    }
    &__pointsLink{
        color: cs('succes-d');
        text-decoration: underline;
    }
    &__type {
        margin-bottom: vr-block(.6);
    }
  }

}


////////////////////////////////////////
@include deliverySection();