mixin MODULE-topMenu()
	<!-- split modules/topMenu -->
	.topMenu__content(data-qcontent='module__topMenu')
		nav.topMenu
			ul.topMenu__list
				li.topMenu__element
					+A-material('Розничным Клиентам') 
				li.topMenu__element
					+A-material('Оптовым Клиентам')
				li.topMenu__element
					+A-material('Контакты')