mixin MODULE-topMenu()
	<!-- split modules/topMenu -->
	.topMenu__content(data-qcontent='module__topMenu')
		nav.topMenu
			ul.topMenu__list
				li.topMenu__element
					a(href='/dsf') Розничным Клиентам
				li.topMenu__element
					a(href='/dsf') Оптовым Клиентам
				li.topMenu__element
					a(href='/dsf') Контакты