/**
* topMenu styles
*/

@mixin topMenu(){

  .topMenu {
    &__wrapper {
        background: cs('foreground-d');
       @include space-i('component','|','','b');

    }
    &__content { 
       
        @include space-i('element','-','tb','');
        
        @include for-size(phone-only){
           display:none;
       }
    }
    &__element{
        display: inline-block;
        @include space-i('component','=','','r')  
        
    }
  }

}


////////////////////////////////////////
@include topMenu();