/**
* topMenu styles
*/

@mixin topMenu(){

  .topMenu {
    &__wrapper {
        background: cs('foreground-d');
       @include for-size(tablet-p-up){
            @include space-i('component','|','','b');
       }
      
    &__list{
         
    }
    }
    &__content { 
       
        @include space-i('element','-','tb','');
        
        @include for-size(phone-only){
           display:none;
       }
    }
    &__element{
        display: inline-block;
        @include space-i('component','=','','r')  
        &:hover{
            .popup{
	                  display:block;  
	              }
        }
        &--login{
            float: right;
            margin-right: 0;
        }
    }
  }

}


////////////////////////////////////////
@include topMenu();