/**
* topMenu styles
*/

@mixin topMenu(){

  .topMenu {
    &__wrapper {
        background: cs('background-d');

    }
    &__content { 
       
        @include space-i('element','|','t','')
        
        @include for-size(phone-only){
           display:none;
       }
    }
    &__element{
        
        display: inline-block;
        @include space-i('component','=','','r') 
        
    }
  }

}


////////////////////////////////////////
@include topMenu();