/* PAGE STYLE */

.page__content {
  background-color: #005300;
  padding: 17px;
      li{
          padding: 10px;
      }
      h3 {
          padding: 20px;
          text-align: center;
      }
      color:cs('accent-d');
}

.page__title {
  color:sandybrown;
  padding: 10px;
}