$bkgColor__rtrtrt:#fff;
$bkgColor__rtrtrt-hover:#fff;
$color__rtrtrt-hover:#fff;
$color__rtrtrt:#fff;

.rtrtrt {
	position: relative;
	background-color: $bkgColor__rtrtrt;
	color: $color__rtrtrt;
		&:hover, &:focus, &:active {
		color: $color__rtrtrt-hover;
		background-color: $bkgColor__rtrtrt-hover;
		}
		&:focus {
			outline: none;
		}
		&:hover, &:active {
			outline: none;
	}
}