@mixin lightMenu($rotation:'v'){
  @if($rotation=='h'){
    .lightMenu li {
      display: inline-block;
      &:first-child{
        margin-left: 0;
      }
    }
  }
  .lightMenu li {
    list-style: none;
    @include space('element','lr','r');
    @include media('mobile'){
      @include space('element','tb','');
      display: block;
      width: 100%;
      text-align: center;
      margin-left: 0;
    }
  }
  .lightMenu__list{

  }
  .lightMenu li a{
    //@extend %hierarhiLevel-4;
    color: #f9f2f4;
    text-decoration: none;
  }
  .lightMenu {
    @include space('block','tb','');
    text-align: center;
  }
  .lightmenu__item--active {
      background-color: cs('accent');
      @include a-hover('background-color',(from:false,to:cs('accent-d')),.3s,ease);
      @include media('tablet'){
        background-color: inherit;
      }
  }
}
//[h] -horizontal menu [v] -vertical menu
@include lightMenu('h');


@mixin FORM(){
	
.FORM{
  background-color: #fff;
  @include space('element','trlb','');
  input[type='text']{
    @include space('element','tbrl','');
    font-size: .8rem;
    width: 100%;
    border:solid 1px black;
  }
  input[type='submit']{
    border: none;
    font-size: 1rem;
  }
}
.form__validateMessage {
  color: #ff7c8b;
  float: right;
  display: inline-block;
  @include for-size(desktop-up){
    color: #00A000;
    font-size: 50px;
  }
}
.form__line {
  @include space('element','tb','bt');
  &:last-child{
    padding-bottom: 0;
  }
}
.form_img_ctn{
  height:500px;
}
}
@include FORM();
@mixin breadcrumbs(){
	.breadCrumb {
      @include space('component','tb','');
      @include space('block','lr','');
      background-color: cs('fground');
      text-transform: uppercase;
      font-size: .9em;
      a:link,a:visited {
        color: cs('font-l');
        text-decoration: none;
      }
      a:hover{
        color: cs('font-d');
      }
    }
  .breadcrumb__section {
    display: inline-block;
    @include space('element','','tbrl');
    &:before {
      content: '/rsssdssesss[[sshuray it workss';
      margin-right: 20px;
    }
  }
  .breadCrumb__section--home {
    font-weight: 600;
    &:before{
      content: '';
      margin-right:0;

    }
  }
}
@include breadcrumbs();
@mixin catalogMenu(){
	
.catalogMenu{
  position: relative;
  .catalogMenu__button {
    display: block;
    background-color: cs('accent');
    position: relative;
    color: #fff;
    text-transform: uppercase;
    height: 70px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    @include a-hover('background-color',(from:0,to:cs('accent-l')),1s,ease);
    &:after{
      content: '';
      position: absolute;
      bottom: -3px;
      width: 100%;
      height: 3px;
      left:0;
      background-color: cs('accent-d');

    }
  }
  .catalogMenu__list {
    display: none;
    width: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 4000;
  }
  .catalogMenu__list__item {
    @include space('element','tbl','');
    border-bottom: solid 1px cs('bground-d');
  }
}

}
@include catalogMenu();
@mixin hero_video(){
	
.hero_video{
  position: relative;
}

  .homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
  }
  .no-video .video-container video,
  .touch .video-container video {
    display: none;
  }
  .no-video .video-container .poster,
  .touch .video-container .poster {
    display: block !important;
  }
  .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
  }
  .video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
  }
  .video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
  }
  .video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
  }
  .video-container video.fillWidth {
    width: 100%;
  }
}
@include hero_video();
@mixin owlSlider(){
	
.owlSlider{

@include for-size(tablet-l-up){
  @include space('component','','t')
}
}

}
@include owlSlider();
@mixin pagination(){
	
.pagination{
  @include space('component','trl','');
  @include space('block','b','');
  background-color: #fff;

}
  .pagination__ctn{
    padding: 0;
    text-align: center;
  }
  .pagination__ctn__button {
    list-style: none;
    display: inline-block;
    @include space('element','tb','r');
    @include space('component','rl','');
    background-color: cs('primary');
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    @include a-hover('background-color',(from:false,to:cs('primary-d')),.3s,ease)
  }
  .pagination__ctn__button--current {
    background-color: cs('accent-l');
    &:hover{
      background-color: cs('accent-l');
    }
  }
}
@include pagination();