@mixin lightMenu($rotation:'v'){
  @if($rotation=='h'){
    .lightMenu li {
      display: inline-block;
      vertical-align: top;
      &:first-child{
        margin-left: 0;
      }
    }
  }
  .lightMenu {
    font-size: 0;
    background-color: cs('primary');
    text-align: center;
    @include for-size(phone-only){
      line-height: 2em;
      @include space-i('module','-','t','');
      @include space-i('module','=','b','');
    }
  }
  .lightMenu__item {

    @include a-hover(background-color,$points:(from:0,to:cs('primary-d')),$time:$allAnimationTime,$func:$allAnimationFunc);

    @extend %hierarhiLevel-4;
    list-style: none;

    @include space-i('element','=','lr','');

    @include for-size(phone-only){
            @include space-i('module','=','tbrl','');
            display: block;
            width:100%;
            text-align: center;


          }
  }
  .lightMenu__item a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    &:visited,
    &:hover,
    &:active{
      color: #ffffff;
    }
  }

  .lightmenu__item--active {
      background-color: cs('primary-d');
  }
}
//[h] -horizontal menu [v] -vertical menu
@include lightMenu('h');


@mixin hero_video(){
	
.hero_video{
  position: relative;
}

  .homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
  }
  .no-video .video-container video,
  .touch .video-container video {
    display: none;
  }
  .no-video .video-container .poster,
  .touch .video-container .poster {
    display: block !important;
  }
  .video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
  }
  .video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
  }
  .video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
  }
  .video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
  }
  .video-container video.fillWidth {
    width: 100%;
  }
}
@include hero_video();