@mixin lightMenu($rotation:'v'){
  @if($rotation=='h'){
    .lightMenu li {
      display: inline-block;
      &:first-child{
        margin-left: 0;
      }
    }
  }
  .lightMenu li {
    list-style: none;
    @include space('element','lr','r');
    @include media('mobile'){
      @include space('element','tb','');
      display: block;
      width: 100%;
      text-align: center;
      margin-left: 0;
    }
  }
  .lightMenu__list{
    @extend %hierarhiLevel--4;
  }
  .lightMenu li a{
    font-size: 1em;
    color: #f9f2f4;
    text-decoration: none;
  }
  .lightMenu {
    @include space('block','tb','');
    text-align: center;
  }
  .lightmenu__item--active {
      background-color: cs('accent');
      @include a-hover('background-color',(from:false,to:cs('accent-d')),.3s,ease);
      @include media('tablet'){
        background-color: inherit;
      }
  }
}
@include lightMenu('h');


@mixin breadcrumbs(){
	.breadCrumb {
      @include space('component','tb','');
      @include space('block','lr','');
      background-color: cs('fground');
      text-transform: uppercase;
      font-size: .9em;
      a:link,a:visited {
        color: cs('font-l');
        text-decoration: none;
      }
      a:hover{
        color: cs('font-d');
      }
    }
  .breadcrumb__section {
    display: inline-block;
    @include space('element','','tbrl');
    &:before {
      content: '/rsstgsssdssss[[sshuray it workss';
      margin-right: 20px;
    }
  }
  .breadCrumb__section--home {
    font-weight: 600;
    &:before{
      content: '';
      margin-right:0;

    }
  }
}
@include breadcrumbs();
@mixin categories(){
	.categories{
      text-align: center;
      @include space('block','trbl','');
      background-color: #fff;
    }
  .categories__item {
    @include space('component','','tb');

  }
  .categories__item__title{
    line-height: 1.5;
    text-align: left;
    @include space('element','b','');
    font-size:2em;
    @include media('tablet'){
      text-align: center;
    }
  }
}
@include categories();
@mixin category(){
  .category{
    background-color: #aaaaaa;
    @include space('block',"trlb","")
  }
  .category__product__image_ctn{
    @include i-bkg-ctr("?holder.js/355x260");
    height:260px;
  }
  .category__product{
    @include space('component','trlb','')
  }
  .category__product__title{
    line-height: 1.75;
    @include space('element','trlb','');
    @include media('tablet'){
      text-align: center;
    }
  }
}
@include category();
@mixin collection_slider(){
	.collection_slider{
      position: relative;
      font-size: 1.1em;
      @include space('block','tb','');
      background-color: #fff;
      @include i-bkg-ctr('images-rs/rs-s.png',cover);
      //height: 556px;
    }
  .collection_slider__menu__item {
    list-style: none;
    text-align: center;
    @include space('element','trbl','');
    background-color: cs('primary');
    margin: 0 auto 1px auto;
    color: #fff;
    text-transform: uppercase;
    width: 50%;
    cursor: pointer;
    @include a-hover('background-color',(from:false,to:cs('primary-d')),.3s,ease);
    @include media('tablet'){
      @include space('component','tbrl','')
    }
  }
  .collection_slider__hero {
  }
  .collection_slider__hero__title {
    font-size: 2.6em;
    width: 67%;
    line-height: 1.7;
    color: cs('font');
    position: absolute;
    right: 0;
  }
}
@include collection_slider();
@mixin FORM(){
	
.FORM{
  background-color: #fff;
  @include space('element','trlb','');
  input[type='text']{
    @include space('element','tbrl','');
    font-size: .8rem;
    width: 100%;
    border:solid 1px lighten(cs('font-l'),43%);
  }
  input[type='submit']{
    border: none;
    font-size: 1rem;
  }
}
.form__validateMessage {
  color:red;
  float: right;
  display: inline-block;
}
.form__line {
  @include space('element','tb','');
  &:last-child{
    padding-bottom: 0;
  }
}
.form_img_ctn{
  height:500px;
}
}
@include FORM();
@mixin info(){
	.info{
      background-color: #fff;
      @include space('block','trbl','');
      background-image: url("images-rs/arches.png");
    }
  .info__section {
    border: 2px solid cs('primary-l');
    @include space('component','trbl','');
    background-color: #fff;
    @include media('md'){
      @include space('component','','b');

    }

  }
  .info__section__title {

  }
  .info__section__body{
    @include space('element','trbl','t');
  }
  .info__section__more {
    display: block;
    @include space('element','trlb',0);
    background-color: cs('accent-d');
    @include a-hover('background-color',(from:false,to:cs('font')),.3s,ease);
    color: #fff;
    margin: 0 auto;
    cursor: pointer;
    font-family: $header-font;
  }
}
@include info();
@mixin pagination(){
	
.pagination{
  @include space('component','trl','');
  @include space('block','b','');
  background-color: #fff;

}
  .pagination__ctn{
    padding: 0;
    text-align: center;
  }
  .pagination__ctn__button {
    list-style: none;
    display: inline-block;
    @include space('element','tb','r');
    @include space('component','rl','');
    background-color: cs('primary');
    color: #fff;
    font-size: 16px;
    font-weight: 900;
    cursor: pointer;
    @include a-hover('background-color',(from:false,to:cs('primary-d')),.3s,ease)
  }
  .pagination__ctn__button--current {
    background-color: cs('accent-l');
    &:hover{
      background-color: cs('accent-l');
    }
  }
}
@include pagination();
@mixin vri_features(){
  .vri_features{
    background-color: cs('primary-d');
    @include space('block',"trbl","");
  }
  .vri_features__title{
    text-align: center;
    font-size: 2em;
    line-height: 1.7;
    @include space('component','b','t');
    color: #fff;
  }
  .vri_features__list{
    @include space('component','','t');
    @include i-bkg-ctr('images-rs/smsh.png','cover');
    height: 600px;
    position: relative;
    @include media('tablet'){
      background-image: none;
      height: auto;
    }
  }
  .vri_features__list__item {
    position: absolute;
    list-style: none;
    @include space('element','trbl','');
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background-color: cs('primary-l');
    color: #fff;
    @include media('tablet'){
      position: initial;
      margin:0 auto;
      text-align: center;
      @include space('element','','b');
      display: block;
      width: 90%;

    }
  }
  .vri_features__list__item--left{
    left: 0%;
  }
  .vri_features__list__item--right {
    right: 0;
  }
  .vri_features__list__item--top15{
    top:15.4%
  }
  .vri_features__list__item--top41{
    top:41.8%
  }
  .vri_features__list__item--top75{
    top: 74.5%;
  }
  .vri_features__list__item--top34{
    top:34%;
  }
  .vri_features__list__item--top4{
    top: 4%;
  }
  .vri_features__list__item--shield {
    @include i-bkg-ctr('images-rs/shield.svg');
    bottom: 0;
    font-size: 1.2em;
    @include space('block','trlb','');
    background-color: inherit;
    text-align: center;
    line-height: 2;

  }
}
@include vri_features();