mixin MODULE-topFeatures()
	<!-- split modules/topFeatures -->
	.topFeatures__content(data-qcontent='module__topFeatures')
		span.topFeatures__element
			+I('housePin')
			span.topFeatures__title Пункты выдачи в 170 городах
		span.topFeatures__element
			+I('box','boxTop')
			span.topFeatures__title Оплачивайте заказы после проверки