mixin catalogItemsonCatPage()
	<!-- split modules/catalogItemsonCatPage -->
		-var i = 1
		+loop(11)
			.container
				.col-12-m
					.catalogItem.row
						.col-6-m
							.catalogItem__imgCtn
								a(href="#")
									img.catalogItem__img(src="images/catalog/" + i + ".jpg")
							.catalogItem__title
								a(href='/#') Набор разделочных досок Joseph Joseph Index Mini 60098 графит
						.col-6-m
							.catalogItem__quntCheck
								span.catalogItem__quntCheck__marker
								span.catalogItem__quntCheck__titl В наличии
							.catalogItem__priceAndBuy__price
								span 30 410Р
							.catalogItem__priceAndBuy__buy
								+B-toCart()
					-i++