doctype html
html(lang=''+head.lang)
    head
        include PAGESYSTEM/INCLUDES/_head
    body
        .pb-projectBoard
            section.pb-section.clearfix
                .pb-element.f-left
                    .pb-colorBox
                    .pb-colorBox
                        span.pb-elementHeader Base
                    .pb-colorBox
                        span.pb-elementHeader Darken
                    .pb-colorBox
                        span.pb-elementHeader light
                .pb-element.f-left
                    span.pb-elementHeader Primary
                    .pb-colorBox.pb-colorBox--primary
                    .pb-colorBox.pb-colorBox--primary-d
                    .pb-colorBox.pb-colorBox--primary-l
                .pb-element.f-left
                    span.pb-elementHeader Secondary
                    .pb-colorBox.pb-colorBox--secondary
                    .pb-colorBox.pb-colorBox--secondary-d
                    .pb-colorBox.pb-colorBox--secondary-l
                .pb-element.f-left
                    span.pb-elementHeader Accent
                    .pb-colorBox.pb-colorBox--accent
                    .pb-colorBox.pb-colorBox--accent-d
                    .pb-colorBox.pb-colorBox--accent-l
                .pb-element.f-left
                    span.pb-elementHeader Foreground
                    .pb-colorBox.pb-colorBox--fground
                    .pb-colorBox.pb-colorBox--fground-d
                    .pb-colorBox.pb-colorBox--fground-l
                .pb-element.f-left
                    span.pb-elementHeader Background
                    .pb-colorBox.pb-colorBox--bground
                    .pb-colorBox.pb-colorBox--bground-d
                    .pb-colorBox.pb-colorBox--bground-l
                .pb-element.f-left
                    span.pb-elementHeader Font Color
                    .pb-colorBox.pb-colorBox--font
                    .pb-colorBox.pb-colorBox--font-d
                    .pb-colorBox.pb-colorBox--font-l
            section.pb-section.clearfix
                .pb-colorMaket
                    .pb-colorMaket__ctn
                        section

                        section
                            .pb-colorMaket__header.clearfix
                                .pb-colorMaket__header__primary.f-left COLORMAKET
                                .pb-colorMaket__header__secondary.f-left
                                    .pb-colorMaket__header__accent.f-right
                        section
                            .pb-colorMarket__body.clearfix
                                +loop(6)
                                    .pb-colorMaket__body__sections_ctn.col-4-t
                                        .pb-colorMaket__body__section
                                            .pb-colorMaket__body__section__header
                                        .pb-colorMaket__body__section__accent
                        section
                            .pb-colorMaket__hero
                                h1 HERO
                                button ACTION
                                button ACTION
                        section
                            .pb-colorMaket__footer
            section.pb-section.clearfix
                .pb-element.f-left
                    h1 Header 1
                    h2 Header 2
                    h3 Header 3
                    h4 Header 4
                    h5 Header 5
                    h6 Header 6
                .pb-element.f-left.text
                    h1 Header 1
                    h2 Header 2
                    h3 Header 3
                    h4 Header 4
                    h5 Header 5
                    h6 Header 6
                .pb-element.f-left.text
                    p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            section.pb-section.clearfix.hierarchy
                .hl1 Level 1
                .hl2 Level 2
                .hl3 Level 3
                .hl4 Level 4
                .hl-1 Level -1
                .hl-2 Level -2
                ul
                    li sdfsd
                    li sdfsdf
                    li sdfsdf
                    li dsf
                    li sdfsdf

