/**
* layout styles
*/

@mixin layout(){
 
    
    .logo{
        color:cs('primary-l');
    }
    
    .mainInfo__logo h1{
        font-weight: bold;
        text-align: center;
        font-size: 2.4rem;
        
    }
    .mainHeader{
        margin-bottom: vr-block(.2); 
    }
    .mainFooter{
        background : cs('background-d2');
    }
    .productMain{
        background: cs('foreground');
    }
   
}


////////////////////////////////////////
@include layout();