/**
* layout styles
*/

@mixin layout(){
    .bx-crm-widget-wrapper{
        display: none;
    }
    .t-center{
        text-align: center;
    }
    .center {
        margin: 0 auto;
    }
    .accent {
        color: cs('accent');
    }
    .succes{
        color: cs('succes');
    }
    .succes--d{
         color: cs('succes');
    }
     .error--d{
         color: cs('erorr-d');
    }
    .error{
         color: cs('erorr');
    }
    
    h1.logo{
        color:cs('primary');
    }
    
    .mainInfo__logo h1{
        font-weight: bold;
        text-align: center;
        font-size: 2.2rem;
        
    }
    .ib{
        display: inline-block;
    }
    .vam{
        vertical-align: middle;
    }
    .mainHeader{
      z-index:1000;
      position:relative;
    }
    .mainFooter{
        background : darken(cs('primary'),9%);
        z-index: 0;   
    }
    .productMain{
        background: cs('foreground');
    }
    .mobileSearchRes__ctn{
        .productInline__content{
            font-size: .8em;
        }
        background: cs('background');
        text-align:left;
        padding-top:vr-block(.2);
        border-top: dashed 1px cs('background-d');
        z-index:10000;
    }
    .sure-or-not-wrap {
        background: cs('primary-l');  
        padding: 20px;
        position: absolute;
        z-index: 1000;
        color: #fff;
        width: 150%;
        border-radius: 6px;
    }
    
}


////////////////////////////////////////
@include layout();