$bkgColor__b1:cs('accent');
$bkgColor__b1-hover:cs('accent-l2');
$color__b1-hover:cs('accent-d');
$color__b1:cs('font-d2');   
 
.b1 {
    display: inline-block;
	position: relative;
	background-color: $bkgColor__b1;
	color: $color__b1;
	text-transform: uppercase;
	transition: background .2s linear;
	border: 2px solid cs('accent-d1');
	line-height: 1.7;
	border-radius: 5px; 
		&:hover, &:focus, &:active {      
		background-color: $bkgColor__b1-hover;
		border: 2px solid cs('accent-d1');
		}
		&:focus {
			outline: none;
		}
		&:hover, &:active {
			outline: none;
	}
}
$bkgColor__delete:#fff;
$bkgColor__delete-hover: cs('background-d');
$color__delete-hover: cs('font-d');
$color__delete: cs('font-');
.delete {
	position: relative;
	margin: 0;
	padding:vr-block(.15);
	border: solid 1px cs('background-d');
	border-bottom: solid 2px cs('background-d2');;
	border-radius: 3px;
	background-color: $bkgColor__delete;
	color: $color__delete;
		&:hover, &:focus, &:active {
		color: $color__delete-hover;
		background-color: $bkgColor__delete-hover;
		}
		&:focus {
			outline: none;
		}
		&:hover, &:active {
			outline: none;
			border-bottom-width:1px ;
			.icon{
	    fill: cs('erorr-l')
	}
	}
	.icon{
	    fill: cs('font-l2')
	}
}
.checkBox {
  margin-bottom: 0.34em;
  position: relative;
}
.checkBox__input {
    display: none;
  float: left;
  height: 1.7em;
  line-height: 1.7em;  
  margin: 0;
  margin-right: .8em;
}
.checkBox__input:checked + label {
  font-weight: bold;
  border-color: rgb(255, 149, 51);
  &:before{
      /* content:'';
      width: .5em;   
      height: .5em;
      display: inline-block; */
      background-color: cs('primary');
      background-image: url(source/images/catalog/correct.svg);
      /* position: absolute;
      left: .3em;
      top: .7em;
      border-radius: 50%; */
  }
}
.checkBox__label{
    vertical-align: top;
    position: relative;
    cursor: pointer;
    &:before{
        content:'';
        width: 1em;
        vertical-align: middle;
        height: 1em;
        margin-right: vr-block(.2);
        display: inline-block;
        border-radius: 3px;
        border: solid 1px cs('background-d');
        background-repeat: no-repeat;
        background-position:50%;  
        background-size: 80%;
        
    }
    &:hover {
    
      color: cs('primary-d2');
  &:before{
      background-color: cs('primary');
      background-image: url(source/images/catalog/correct.svg);
  }
}
}

.productBadge{
    
    padding: 0 vr-block(.4);   
    border: 1px solid ;
    line-height: 1.5;
    font-weight: bold;
    border-radius: 3px;
    color: #fff;
    text-shadow: 0px 0px 1px #000;
    
    &--new {
       
        background: cs('succes-l2');
        border-color: cs('succes-l');
        
    }
    &--sale {
       
        background: cs('erorr-l2');
        border-color: cs('erorr-l');
    }
    &--hit {
       
        background: cs('accent-l');
        border-color: cs('accent');
    }
    
}
$bkgColor__button:cs('primary');
$bkgColor__button-hover:cs('primary-d');
$color__button-hover:#fff;
$color__button:#fff;

.button {
    font-weight: bold;
    display: inline-block;
    margin-top: vr-block(.4);
    line-height: 1.4*$line-height-ratio#{em};
    border: none;
	position: relative;
	background-color: $bkgColor__button;
	color: $color__button;
		&:hover, &:focus,  {
		color: $color__button-hover;
		background-color: $bkgColor__button-hover;
		}
		&:active{
		    background-color: cs('primary');
		}
		&:focus {
			outline: none;
		}
		&:hover, &:active {
			outline: none;
	}
	
	
	
	&--default{
	    	background-color: darken(cs('background-d2'),25%);
	    	&:hover, &:focus,  {
		color: $color__button-hover;
		background-color: darken(cs('background-d2'),35%);
		}
		&:active{
		    background-color: cs('background-d2');
		}
		&:focus {
			outline: none;
		}
		&:hover, &:active {
			outline: none;
	}
	}
	
	
		&--fastBuy{
		    width: 100%;
	    color: cs('primary');
	    font-size: .9rem;
	    font-weight: normal;
	    border-bottom: dashed 1px ;
	    line-height: 1;
	    	background-color: #fff;
	    	&:hover, &:focus,  {
		color: cs('primary-d');
		background-color: #fff;
		}
		&:active{
		    background-color: cs('background-d2');
		}
		&:focus {
			outline: none;
		}
		&:hover, &:active {
			outline: none;
	}
	}
}
.radio {
  margin-bottom: 0.34em;
  position: relative;
  background-color: #fff;
}
.radio__input {
    display: none;
  float: left;
  height: 1.7em;
  line-height: 1.7em;  
  margin: 0;
  margin-right: .8em;
}
.radio__input:checked + label {
  font-weight: bold;
  border-color: rgb(255, 149, 51);
  &:before{
      /* content:'';
      width: .5em;
      height: .5em;
      display: inline-block; */
      background-color: cs('primary');
      background-image: url(source/images/catalog/circle.svg);
      /* position: absolute;
      left: .3em;
      top: .7em;
      border-radius: 50%; */
  }
}
.radio__label{
    vertical-align: top;
    position: relative;
    cursor: pointer;
    &:before{
        content:'';
        position:absolute;
          left: 0;
      top:20%;
        width: 1em;
        line-height: 1em;
        vertical-align: middle;
        height: 1em;
        margin-right: vr-block(.2);
        display: inline-block;
        border-radius: 50%;
        border: solid 1px cs('background-d');  
        background-repeat: no-repeat;
        background-position:50% 50%;  
        background-size: contain;   
        
    }
    &:hover {
    
  color: rgb(255, 149, 51);
  &:before{
      background-color: cs('primary');
      background-image: url(source/images/catalog/circle.svg);
  }
}
}

.switcher {
    display: inline-block;
    vertical-align:middle;
    height:100%;
    padding-top: .9em;
    float:right;
    
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 17px;
  //vertical-align: middle;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: cs('accent');
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.slider {

}

    .toOrder {
        color: #fff;
       // text-transform: uppercase;
        text-align: center;
       // font-size:12px;
       // line-height: 2rem;
        background: cs('primary');
        line-height: 1.8em;
        border: none;
        width: 100%;
        //border-radius: 3px;
        transition: background .2s ease;
        text-decoration: none;
        padding: 5px;
        display:inline-block;
        border-bottom: solid 4px darken(cs('primary'),3%);
        border-radius: 3px;
        svg {
            height: 12px;  
        }
        &:active{
            border:none;
        }
        &.succes {
            background: cs('succes');
            border-color: cs('succes-l');
            &:hover{
                background: cs('succes-l');
            }
        }
        &.makeOrder {
            font-weight: bold;
            font-size: 1.2rem;
            background: cs('accent');
            border-bottom: solid 4px darken(cs('accent'),3%);
            &:hover{
                background: cs('accent-l');
            }
        }
        
        &:hover{
            background: cs('accent-l');
            border-color: cs('accent');  
        
        }
    }
    .colList{
        width: 50%;
        float: right;
    }
    
    
    
    
    
.counter{
   text-align: center;
    width: 40%;
   
    border: none;
    border-top: solid 1px cs('background-d2');
    border-bottom: solid 1px cs('background-d2');
    outline: none;
    &__ctn{
        height: 1.8rem;
        text-align: center;
        letter-spacing: -.65em;
        & > input[type=text],& > button{
             height: 100%;
            font-size: 1.1rem;
            display: inline-block;
            padding:0;
            margin: 0;
            
            background: #fff;
        } 
    }
    &__btn{
        width: 25%;
        border: none;
        height:1.5em;
        border: solid 1px cs('background-d2');
        &:hover{
            border-color: cs('primary');
            background: cs('primary');
            color: #fff;
            
        }
        &--minus{
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            
        }
        &--plus{
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
           
        }
    }
}
.textInput__label{
    color: cs('primary-d');
    font-weight: bold;
}
input.textInput{
    border: solid 1px cs('background-d2');
    border-radius: 3px; 
    padding: vr-block(.2);
    line-height: 1.5rem;
    border-bottom: solid 2px cs('background-d2');
    font-size: 1.1rem;
}   
.dashBoardElement{
    vertical-align: top;
    font-size:16px;   
    //position: relative;
    padding: 0;
    border-bottom: 1px solid cs('font-d2');
    margin: 0;
    border-bottom: 1px solid cs('font-d2');
    cursor: pointer;
    transition: background .15s linear;
    display: inline-block;
     width:100%;
    @include for-size(tablet-l-up){
       max-width: 19.5%;
       margin-right:4px;
       border:none;
    }
    width: 100%;
    height: 4em;
    background: cs('font-d');
    color: #fff;
    display: inline-block;
    padding: .4em .7em;
    text-align:left;
    &:hover{
        background: cs('font-d2');
    }
    #test{
        
    }
  .iconWrapper{
      width:15%;
      height: 100%;
      margin-right: 3%;
      @include for-size(phone-only){
          margin-right: 10%;
      }
      display: inline-block;
      vertical-align:middle;
      text-align:center;
      //float:left;
      @include for-size(tablet-p-up){
            width:10%;
      }
            @include for-size(tablet-l-up){
            width:20%;
      }
      svg{
          fill: cs('accent');
          width:70%;
          height :100%;
          @include for-size(tablet-p-up){
              width:40%;
          }
          @include for-size(tablet-l-up){
            width:70%;
      }
          
      }
     &--orderList{
         //width:70%; 
         position: relative;
         margin-right: 0;
         svg{
             fill:cs('succes');
         }
         &:after{ 
            content: attr(data-order);
            position: absolute;
            top:0;
            right:-20px;
            display:inline-block;
            width: 21px;
            height: 21px;
            padding-top:1px;
           //text-shadow: 1px 1px 0 #000;
            line-height:21px;
            text-align: center;
            border-radius: 50%;
            background:cs('succes-d2');
        }
         &:before{ 
            content: attr(data-price);
            position: absolute;
            bottom:0;
            right:-160%;
            display:inline-block;
           //text-shadow: 1px 1px 0 #000;
            line-height:20px;
            border-radius: 50%;
           
        }
     }
  }
   &__title{  
       vertical-align: middle;
        display:inline-block;
        width:75%;
        line-height:3.2em;
        &--oreder{
             width:initial;
        }
        @include for-size(tablet-l-up){
            line-height:$line_height_ratio;
            text-align: center;
            &--oreder{
               
            }
          
        }
/*         line-height: 3.2em;
@include for-size(tablet-l-up){
    line-height:initial;
} */
      }
    &__switcher {
      text-align:left;
      width:65%;
      float:left;
      @include for-size(phone-only){
          text-align: center;
      }
    }
    &--notice{
        .iconWrapper{
            //position:absolute;
        }
        .iconWrapper:after{
            content: attr(data-notice);
            position: absolute;
            top:0;
            right:-5px;
            color:cs('accent-l');
        }
    }

   &__pricer{
       vertical-align:bottom;
   }
   &__arr{
       float:right;
       width:40%; 
      margin-top:.4em;
      display:inline-block;
       line-height:1.3;
       text-align: center;
       background: cs('succes-d2');
       padding: 2px 2px; 
       vertical-align:middle;
       border-radius: 5px;
       border:solid 1px cs('succes-l2');
       font-size:smaller;
       &:hover{
           background: cs('succes-l');     
       }
       &:active{
           background: darken(cs('succes-d2'),5%);
       } 
       @include for-size(phone-only){
           padding:.9em;  
           margin-top:.25em;  
       }
       @include a-set-frame(heart, 1.5s,  3s,infinity,linear,$frames:( 
            0:(transform:translate(0px,0px)),
            .3:(transform:translate(100px,50px)),
            .6:(transform:translateX(-100px)),
            1:(transform:translateX(0px)) 
    ));
   }

}
$color__actionLink:cs('primary');
$color__actionLink-visited:cs('primary');
$color__actionLink-hover:cs('primary-l');

a.actionLink {
    font-size: .9rem;
    font-weight: bold;
	color: $color__actionLink;
	text-decoration: none;
	&:visited {
		color: $color__actionLink-visited;
	}  
	&:hover,
	&:focus,
	&:active {
		color: $color__actionLink-hover;
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
	outline: none;  
	}
	&.login{
	    margin-right: vr-block(.8);

	}
	&.registration{
	    
	}
	&:before{
	    line-height: $line_height_ratio;
	    font-weight:bold;
	    vertical-align: middle;
	    padding-right: vr-block(.4);
	}
}
$color__material:cs('primary');
$color__material-visited:cs('primary');
$color__material-hover:cs('primary-l2');

a.material {    
	color: $color__material;  
	text-decoration: none;
	font-size: .9em; 

	&:visited {
		color: $color__material-visited;
	}
	&:hover,
	&:focus,  
	&:active {
		color: $color__material-hover; 
	     
	}
	&:focus {
		outline: none;
	}
	&:hover,
	&:active {
	outline: none;
	}
}
.icon{ 
  display: inline-block;
  vertical-align: middle;
  width:3em;
  height: 3em;
  fill: cs('primary');
  
      &--cart_Main{
         width:5em;
         height:5em;
      }
      &--cart_btn{
         width:2em;
         height:2em;
      }
      &--red {
          fill:red;
      }
      &--rocket { 
          fill:cs('succes-d2');
           @include space-i('element','=','','l');
      }
      &--productsLayout{
          fill: cs('font-l2');
          width: 1.7em;
          height: 1.7em;
          padding: 3px;
          cursor:pointer;
          &:hover{
              fill:cs('font-d');
          }
          &--selected {
            //  border: 1px solid cs('accent-l');
              fill: cs('primary');
               &:hover{
              fill:cs('primary');
          }
         
          }
          
      }
       &--map{
              width:1.4em;
              height: 1.4em; 
              fill:cs('accent');
          }
      &--mainSearch{
          height: 100%;
          width: .9em;
          fill: cs('font-l');
          &:hover {
              fill: cs('accent');
          }
      }
      &--topBar{
          width: 1.7em;
          height:2.5em;
      }
      &--asset{
         height: 2em;
         margin-right:.4em;  
      }
      &--catalog{
         width: .9em;
         
         fill:lighten(cs('font-l2'),30%);
         top: -2%;
         position:absolute;
         right:.5em;
      }
      &--close{
          height: 100%;
          width: 100%;
      }
      &--popup{
          transform: rotate(90deg);
          position: absolute;
          width:.4em;
          right:.3em;
          height: $line_height_ratio#{em};
          margin-top: -$line_height_ratio#{em};
      }
      &--categories{  
          width: .6em;
          height:100%;
          fill:#fff;   
          display:inline;     
          margin-right:0.7em;
          display:none;
           
          
      }
      &--feature__arrow{
          fill: cs('background-d2');
          position:absolute;
          width:10%;
          right: -8%;
          top:0;
      }
      &--feature{
          width:12%;
      }
      &--delete{
          height:1.5em;
          width: 1.5em;
      }
      
    
}
  


