
/* level STYLE */

.level {
    &__content {

    }
    &__title {

    }
}
/* level1 STYLE */

.level1 {
    &__content {

    }
    &__title {

    }
}
/* modalWindow STYLE */

.modalWindow {

    &__content {
        width:100%;
        top:30px; 
        @include for-size(tablet-l-up){
             width: 40%;
             top:126px; 
            left:50%;
            margin-left:-20%;
        }
        position: fixed;
        
        background: cs('foreground'); 
        padding: 2.4em; 
  
    }
    &--hide{
        display:none;
        opacity:0; 
        margin-top:-25px;
    }
    
    &--hidden{
        display:none;
        opacity:0;
    }
    
    
    &__close {
        cursor: pointer;
        position:absolute;
        top:1em;
        right:1em;
        width: 1.4em;
        height: 1.4em;
    }
}
/* level2 STYLE */

.level2 {
    &__content {

    }
    &__title {

    }
}
/* orderPage STYLE */

.orderPage__content {
  background-image: holder('200x200');
  background-color: cs('foreground');
  background-repeat: no-repeat;
  padding: 70px 30px;
  @include for-size(phone-only){ 
       padding: 30px 15px; 
  }  
  a {  
    color:#000;
   text-decoration: none; 
  }
  .order_confirmed, .tri{
         
     fill:cs('succes-d2');     
  }
}   
 
.orderPage__title { 
  text-align: center;         
  margin-bottom: 12px;      
  margin-left: auto; 
  margin-right: auto;
  width:50%;
  color: cs('secondary-d'); 
  @include for-size(phone-only){
      width:91%;   
  }
    
}

.orderPage__mainMessage {
  font-size: 24px;  
  text-transform: uppercase; 
  font-weight: bold;
  text-align: center;
  color: cs('succes-d2');
  @include for-size(phone-only){
      font-size: 18px;  
  }

}

.orderPage__subMess {
    @include for-size(phone-only){
        padding: 0 0 0 15px;
    }
    @include for-size(tablet-p-up){
        width: 70%;
    }
  color: cs('font-d');
  width: 50%;
  margin: 0 auto 15px;
  li {
    list-style: circle;      
  }
 @include for-size(phone-only){ 
      width: 100%;   
  }

  }
  .buttonWrapper {
      text-align: center;  
      margin-top: 17px;  
  }

.orderPage__actions {
  text-align: center;
}
.page__loader {
    vertical-align: top;
}
/* page STYLE */

.page {
    &__content {
        padding: 60px 80px; 
    }
    &__title {
        margin-bottom: 20px;
    }
}
/* outer STYLE */

.outer {
      
    &__content {
        width:100%;
        background:cs('foreground');
    }
   
} 
/* popup STYLE */

.popup {
    position:relative;
    display:none;
   &__trigger{
       position:relative;
       padding-right: 1em;
   }
   &__menuItem{
        border-bottom: solid 1px cs('foreground-d');
        line-height: 2em;
        
   }
    &__content { 
        z-index:20; 
        position:absolute;
        left:50%;
        width: 180px;
        margin-left: -90px;
        padding: 0.2em 0;
        
        &:before {
            content: '';
            position: absolute;
            width: 0px;
            height: 0px; 
            top:-11px;
            left:50%;
            margin-left: -0.5em; 
            border: solid 7px transparent;
            border-bottom-color: cs('foreground-d2');;

        }
        &:after {
            content: '';
            position: absolute;
            width: 0px;
            height: 0px; 
            top:-10px; 
            left:50%;
            margin-left: -0.5em; 
            border: solid 7px transparent;
            border-bottom-color: cs('foreground');

        }

    }
            &__body{
            padding: 1.2em;
            background: cs('foreground');
           // box-shadow: 0px 0px 1px 1px cs('foreground-d2');
            border-radius: 3px;
            border: 1px solid cs('foreground-d2');;
        }
        
}
/* productSection STYLE */

.productSection {
    
    &__content {
        background: cs('foreground-d');
    }
    &__header{
        background: cs('foreground');   
        padding: 15px 20px;
        margin-bottom: 10px;
        //box-shadow: 0px 2px 3px silver;
    }
    &__filter{
        
    }
    &__layoutChoiser{
        a{
            text-decoration:none;
        }
    }
    &__subTitle{ 
        padding-right:10px;
       // margin-right: 10px;
        color: cs('font-d');
        font-size: 1em;
        font-weight: bold;
    }
    &__sortBy{
        font-size:.95rem;
        color: cs('font-d');
        padding: 0 5px;
        color: cs('font-l');
        &:hover{
            color: cs('font-d');
        }
        &--selected {
           // border-bottom:solid 2px cs('accent-l');
            color: cs('accent');
             &:hover{
                color: cs('accent');
        }
        }
    }
    
}






/* showcase STYLE */

.showcase {
    &__content {
    background-color: cs('foreground');
    padding: 40px 22px;
    }
    &__title {
        color: cs('primary');
        text-align: center;
        line-height: $line-height-ratio*1.5;
        width:60%;
        margin: 0 auto 35px;
        border-bottom: solid 1px cs('foreground-d');
    }
    &__subtytle{
        color: cs('font-d');
    }
}
/* showCasePage STYLE */

.showCasePage {

    &__content {
        background-color: cs('foreground');
        padding: 30px 20px;
         p{
            color:cs('font-d');      
        }
    }
    &__title {         
        margin-bottom: 25px;  
        text-align: center;  
    }
    &__subtitle{         
        color: cs('succes-d2');   
        border-bottom: 5px solid;
        &--red{                       
            margin-top:21px;    
            margin-bottom:32px; 
            text-transform: uppercase;       
            text-align:center;
            line-height:2.7em;   
            color: darken(violet,20%);
        }
    }
}
/* starter STYLE */

.starter {
    &__content {
        padding-left:30px;
        padding-bottom: 45px;
    }
    &__title {
        color: darken(silver,18%);
        border-bottom: 1px solid silver;
    }
}

.l_ib__e {
    display:inline-block;
    font-size: 1rem;
    vertical-align:top;
  }
.l_ib__c{
    font-size:0;
}
/* testOfSergConnectingSupport STYLE */

.testOfSergConnectingSupport {
    &__content {

    }
    &__title {

    }
}
/* topdashBoard STYLE */
.topdashBoard {
    &__content {
        background: cs('font-d2');
        color: #fff;
    }
    &__title { 

    }
    &__list{
        font-size:0;
        padding: 0;
        margin: 0;
    }
}     