/* cartProduct STYLE */

.cartProduct {
    &__content {
        background: #fff;
    }
    &__title {

    }
}

/* level1 STYLE */

.level1 {
    &__content {

    }
    &__title {

    }
}
/* level STYLE */

.level {
    &__content {

    }
    &__title {

    }
}
/* mainPageSection STYLE */

.mainPageSection {
    &__content {
        margin-bottom: vr-block(.8);
    }
    &__title {
        padding-left:vr-block(.4);;
        margin-bottom: vr-block(.2);
    }
}
/* level2 STYLE */

.level2 {
    &__content {

    }
    &__title {

    }
}
/* modalWindow STYLE */

.modalWindow {
     .toOrder{
            margin-top: vr-block(.8);
        }
    &__content {
        width:100%;
        @include for-size(tablet-l-up){
             margin: 0 auto;
             width: 400px;
            left:0;
            right:0;
        }
        position: fixed;
        
        background: cs('foreground'); 
        padding: 2.4em; 
  
    }
    &__title{ 
        margin-bottom: vr-block(.4);
        border-bottom: dashed 1px cs('background-d2')
    }
    &--hide{
        display:none;
        opacity:0; 
        margin-top:-25px;
    }
    
    &--hidden{
        display:none;
        opacity:0;
    }
    &--login{
        .modalWindow__content{  

            
        }
          
            input{
           
                width: 100%;
        }
       
    }
        &--signUp{

            input{
           
                width: 90%;  
        }
       
    }
    
    
    &__close {
        cursor: pointer;
        position:absolute;
        top:1em;
        right:1em;
        width: 1.4em;
        height: 1.4em;
    }
}
/* orderPage STYLE */

.orderPage__content {
  background-image: holder('200x200');
  background-color: cs('foreground');
  background-repeat: no-repeat;
  padding: 70px 30px;
  @include for-size(phone-only){ 
       padding: 30px 15px; 
  }  
  a {  
    color:#000;
   text-decoration: none; 
  }
  .order_confirmed, .tri{
         
     fill:cs('succes-d2');     
  }
}   
 
.orderPage__title { 
  text-align: center;         
  margin-bottom: 12px;      
  margin-left: auto; 
  margin-right: auto;
  width:50%;
  color: cs('secondary-d'); 
  @include for-size(phone-only){
      width:91%;   
  }
    
}

.orderPage__mainMessage {
  font-size: 24px;  
  text-transform: uppercase; 
  font-weight: bold;
  text-align: center;
  color: cs('succes-d2');
  @include for-size(phone-only){
      font-size: 18px;  
  }

}

.orderPage__subMess {
    @include for-size(phone-only){
        padding: 0 0 0 15px;
    }
    @include for-size(tablet-p-up){
        width: 70%;
    }
  color: cs('font-d');
  width: 50%;
  margin: 0 auto 15px;
  li {
    list-style: circle;      
  }
 @include for-size(phone-only){ 
      width: 100%;   
  }

  }
  .buttonWrapper {
      text-align: center;  
      margin-top: 17px;  
  }

.orderPage__actions {
  text-align: center;
}
.page__loader {
    vertical-align: top;
}
/* newtest STYLE */

.newtest {
    &__content {

    }
    &__title {

    }
}
/* outer STYLE */

.outer {
      
    &__content {
        width:100%;
        background:cs('foreground');
    }
   
} 
/* popup STYLE */

.popup {
    position:relative;
    display:none;
   &__trigger{
       position:relative;
       padding-right: 1em;
   }
   &__menuItem{
        border-bottom: solid 1px cs('foreground-d');
        line-height: 2em;
        
   }
    &__content { 
        z-index:20; 
        position:absolute;
        left:50%;
        width: 180px;
        margin-left: -90px;
        padding: 0.2em 0;
        
        &:before {
            content: '';
            position: absolute;
            width: 0px;
            height: 0px; 
            top:-11px;
            left:50%;
            margin-left: -0.5em; 
            border: solid 7px transparent;
            border-bottom-color: cs('foreground-d2');;

        }
        &:after {
            content: '';
            position: absolute;
            width: 0px;
            height: 0px; 
            top:-10px; 
            left:50%;
            margin-left: -0.5em; 
            border: solid 7px transparent;
            border-bottom-color: cs('foreground');

        }

    }
            &__body{
            padding: 1.2em;
            background: cs('foreground');
           // box-shadow: 0px 0px 1px 1px cs('foreground-d2');
            border-radius: 3px;
            border: 1px solid cs('foreground-d2');;
        }
        
}
/* page STYLE */

.page {  

    &__content {

    } 
    &__title {
        font-size: 1.7rem;  
        margin-bottom: vr-block(.2);
       // padding-left: vr-block(.5);   
        //line-height: 1;
       // margin-top: vr-block(1);
       
        @include for-size(phone-only){   
            text-align: center;
        }
    }  
    
        &--product{
        .page__content {
  
        }
        .page__title {
            font-size: 1.7rem; 
            color:cs('primary');
            @include for-size(phone-only){
                   padding: 0;
                   text-align: left;
                   font-size: 1.4em;
                   margin-bottom: vr-block(1)
               }
            margin-bottom:vr-block(.8);
            //line-height: 1;
        }
    }
}
/* showcase STYLE */

.showcase {
    &__content {
    background-color: cs('foreground');
    padding: 40px 22px;
    }
    &__title {
        color: cs('primary');
        text-align: center;
        line-height: $line-height-ratio*1.5;
        width:60%;
        margin: 0 auto 35px;
        border-bottom: solid 1px cs('foreground-d');
    }
    &__subtytle{
        color: cs('font-d');
    }
}
/* productInfo STYLE */

.productInfo {
    .toOrder{
        margin-bottom: vr-block(.1);
    }
    &__content {
        .productCol__lock{
            text-align:left;
            width: 100%;
            display: inline-block;
            line-height: 1.7;
        }
        .productBadge{
            @include for-size(phone-only){
                position: absolute;
                top:0;
                
            }
        }
        background:#fff;
        position: relative;
        padding-bottom:1rem;
        margin-bottom:1rem;
        border-bottom: solid 2px cs('background-d');
        .productCol__price{
             display: inline-block;
             width: 100%;
             font-size: 2.8rem;
             text-align: left;
             @include for-size(phone-only){
                 text-align: center;
             }
        }
        .productCol__stock{
            width:100%;
            text-align:left;
            font-size: 1.1rem;
            @include for-size(phone-only){
                 text-align: center;
             }
        }
        
    }
    &__section{
        padding-top: vr-block(1);
    }
    &__title {

    }
    &__priceStock{
        padding-bottom: vr-block(.4);
        .priceAndStock{
            text-align: center;
        }
        
        
    }
      .productLogo {
      position:absolute;
      z-index: 1200;
      left:0;
      top:-2rem;  
      background: cs('foreground');
      width: 9rem;
      height: 4.5rem;  
      padding: vr-block(.4);
      border: solid 2px cs('background-d'); 
      box-shadow: 4px 4px silver;
        &>IMG{
            position: absolute;
            width: 85%;
            margin:auto;
            top:0;
            bottom:0;
            left:0;
            right:0;
            
        }
        
      
  } 
}
/* productSection STYLE */

.productSection {
    
    &__content {
        background: cs('background');
    }
    &__header{
        background: cs('foreground');   
        padding: 15px 20px;
        margin-bottom: 10px;
        border-bottom: solid 2px cs('background-d');
        //box-shadow: 0px 2px 3px silver;
    }
    &__filter{
        
    }
    &__layoutChoiser{
        display:none;
        @include for-size(tablet-p-up){
            display: block;
        }
        a{
            text-decoration:none;
        }
    }
    &__subTitle{ 
        padding-right:10px;
       // margin-right: 10px;
        color: cs('font-d');
        font-size: .9em;
        font-weight: bold;
    }
    &__sortBy{
        font-size:.95rem;
        color: cs('font-d');
        padding: 0 5px;
        color: cs('font-l');
        &:hover{
            color: cs('font-d');
        }
        &--selected {
           // border-bottom:solid 2px cs('accent-l');
            color: cs('primary-d');
            font-weight: bold;
             &:hover{
                color: cs('accent');
        }
        }
    }
    
}






/* showCasePage STYLE */

.showCasePage {

    &__content {
        background-color: cs('foreground');
        padding: 30px 20px;
         p{
            color:cs('font-d');      
        }
    }
    &__title {         
        margin-bottom: 25px;  
        text-align: center;  
    }
    &__subtitle{         
        color: cs('succes-d2');   
        border-bottom: 5px solid;
        &--red{                       
            margin-top:21px;    
            margin-bottom:32px; 
            text-transform: uppercase;       
            text-align:center;
            line-height:2.7em;   
            color: darken(violet,20%);
        }
    }
}
/* starter STYLE */

.starter {
    &__content {
        padding-left:30px;
        padding-bottom: 45px;
    }
    &__title {
        color: darken(silver,18%);
        border-bottom: 1px solid silver;
    }
}

.l_ib__e {
    display:inline-block;
    font-size: 1rem;
    vertical-align:top;
  }
.l_ib__c{
    font-size:0;
}
/* testOfSergConnectingSupport STYLE */

.testOfSergConnectingSupport {
    &__content {

    }
    &__title {

    }
}
/* subProductInfo STYLE */

.subProductInfo {
    &__content {
        background: cs('foreground');
        border-bottom: solid 2px cs('background-d');
    }
    &__title {  

    }
    &__tabber {
        &-list{
            border-bottom: solid 3px cs('primary');
        }
        &-item{
            text-align:center;
            position: relative;
            width: 14rem;
            padding: vr-block(.4);
            //padding-left: vr-block(1);
            display: inline-block;
            //height: 6rem;
            vertical-align: top;
            border-right: solid 1px cs('background-d');
            color: cs('font-l');
            text-decoration: underline;
            &:hover{
                color: cs('font-d2');
            }
          //  text-decoration-style: dashed;
            &--active{
                font-weight: bold;
                color: #fff;
                background: cs('primary');
                text-decoration: none;
               // border-top: solid 2px cs('primary');
                &:before {
            content: '';
            position: absolute;
            width: 0px;
            height: 0px; 
            bottom:-30px;
            left:50%;
            margin-left: -1em; 
            border: solid 15px transparent;
            border-top-color: cs('primary');    

        }
 
            }
            
        }
    }
    &__contents{
        background: #fff;
        min-height: 200px;
        padding: vr-block(.8);
    }
}
/* topdashBoard STYLE */
.topdashBoard {
    &__content {
        background: cs('font-d2');
        color: #fff;
    }
    &__title { 

    }
    &__list{
        font-size:0;
        padding: 0;
        margin: 0;
    }
}     