/**
* atest styles
*/

@mixin atest(){

  .atest {
    &__content {

    }
  }

}


////////////////////////////////////////
@include atest();
@mixin breadcrumbs(){
	.breadCrumb {
      text-transform: uppercase;
      font-size: .9rem;
      a:link {
        color: cs('font');
        text-decoration: none;
      }
      
      
    }
    .breadCrumb__content { 
          display: inline-block;
          margin-right: 40px;
      }
  .breadcrumb__section {
    display: inline-block;
       padding: 0px 8px;
       margin-right: 7px;
        color: cs('font-l');
        border-radius: 3px;
        &:hover{
        color: cs('font-d2');
      }
  }
  .breadCrumb__section--current {
     //border: solid 2px cs('accent');
      @include a-set-frame(dance,5s/*time*/,1s/*delay*/,1,linear,
        (   .2   :(left:200px),
            .5    :(top:200px),
             1    :(bottom:-300px)    )
             )
    font-weight: bold;
    background: cs('accent'); 
    color: #fff; 
    &:hover{
        color:#fff;
    }
    &:before{
      content: '';
      margin-right:0;

    }
  }
}
@include breadcrumbs()

/**
* confirmedOrderPage styles
*/

@mixin confirmedOrderPage(){

  .confirmedOrderPage__content{
        color: red;
  }
  .confirmedOrderPage{
        color:red;
  }

}


////////////////////////////////////////
@include confirmedOrderPage();
/**
* flyPageFragment styles
*/

@mixin flyPageFragment(){

  .flyPageFragment__content{
    font-family: arial, san-serif;
    table {
        text-align: center;
    }
  }
  .flyPageFragment{
    background:cs('foreground');
    padding-bottom: 2px;
    .stock_title, .stock {
        color: cs('succes-d');
        font-size: 25px;
    }
    .fragmentTitle {
        font-weight: 700;
    }
    .rrc_price{
        font-size: 22px;
    }
    .mop_price {
        font-size: 22px;
        color: cs('erorr-d'); 
        //font-weight: bold;
    }
    .toOrder {
        color: #000;
        text-transform: uppercase;
        font-size: 17px;
        text-align: center;
        font-weight:bold;
        background: cs('accent-d');   
        border: solid 2px cs('accent-l');
        height: 61px;
        line-height: 45px;
        width: 240px;
        border-radius: 5px;
        transition: background .2s ease;
        text-decoration: none;
        svg {
            margin-top: -2px;
        }
        
        &.succes {
            background: cs('succes');
            border-color: cs('succes-l');
            &:hover{
                background: cs('succes-d2');
            }
        }
        &:hover{
            background: cs('accent-d');
        
        }
    }
    .table_row{
        color: green;
    }
  }

}


////////////////////////////////////////
@include flyPageFragment();
/**
* productCol styles
*/

@mixin productCol(){

  .productCol {
    &__list{
        background:cs('foreground-d')
    }
    &__content {
         .productInline__quantityLabel {
            width: 40%;
            text-align: center;
            position: relative;
            display:inline-block;
              }
      
    }
    &__link{
        text-decoration: none;
        &:hover{
            color:cs('font-d2');
        }
    }
    &__card{
        background: cs('foreground');
        padding: .4em .8em 1em;
        margin-bottom: .5em;
        transition: box-shadow .15s linear;
         &:hover{
            //transform: scale(1.02);
            box-shadow: 0px 1px 8px 1px #ccc;
        }
    }
    &__sku{
        //padding-left: 11px;
        display: inline-block;
        margin-bottom:5px;
    }
    &__img{
        width:100%;
        height: 180px;
       // background-color: #ededed;
        background-image:url("https://www.santehsmart.ru/upload/iblock/2ee/2ee1ca5fa8df10ec7e75f80c1e7edc22.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        //border-bottom: 1px solid cs('foreground-d');
        margin-bottom: 5px;
    }
    &__name {
        height: 3*$line_height_ratio#{em};
        font-weight:normal;
        color:cs('font');
        overflow:hidden;
        margin-bottom: .5em;
    }
    &__priceStock{
        margin-bottom:.8em;
        
    }
    &__stock{
        color: cs('succes-d');
        width:50%;
        text-align: center;
        &--off{
            color:cs('erorr-d2'); 
        }
    }
    &__price{
        font-size:1.2em;
        font-weight: bold;
        position:relative;
        width:50%;
        text-align: center; 
          
    }
    
    
  }
  

}


////////////////////////////////////////
@include productCol();
/**
* productInline styles
*/

@mixin productInline(){

  .productInline {
    &__content {
       // padding:.1rem 0px;
        background-color:cs('foreground-l2');
        width: 100%;
        font-size:0;
        height: 3.45rem;
        margin-top: 3px;
        overflow:hidden;
        &:hover{
            background-color:lighten(cs('foreground-d'),5%);
        }
    }
    &__section {
        display: inline-block;
        font-size: 1rem;
        vertical-align:top;
        padding: 5px 10px;
        border-right: solid 1px cs('foreground-d');
        height:100%;
        line-height:2.8rem;
        &--sku{
            width:7%;
            text-align:center;
            font-size:.9rem;
        }
        &--name{
            width:40%;
            line-height:1.45rem;
            padding-left:15px;
            font-weight:normal;
        }
         &--price{
            width:12%;
            text-align: center;
            font-weight: bold;
            color: cs('font');
            font-size: 1.1rem;
            
        }
        &--stock{
            width:10%;
            color: cs('succes-d2'); 
            text-align: center;
            background: lighten(cs('succes-l2'),25%);
            font-size: .9rem;
            &.noStock{
                background: lighten(cs('erorr-l2'),15%);
                color: cs('erorr-d2');
            }
        }
        &--order{
            width:11%;
            text-align: center;
            border-right:none;
        }
        &--img{
            width:10%;
            background-color: cs(foreground-l2);
            background-image: url('https://www.santehsmart.ru/upload/iblock/2ee/2ee1ca5fa8df10ec7e75f80c1e7edc22.jpg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        &--quantity{
            width: 10%;
            text-align:center;
            //position: relative;
        }
    }
    &__link{
        color:cs('font-d');
    }
    &__quantitySelector {
        text-align:center;
        font-size: 16px;
        color:cs('font');
        padding: 4px 16px ;
        border:solid 1px cs('foreground-d2');
        border-radius: 3px;
        box-shadow: inset 0px 0px 9px silver; 
    }
    &__quantityLabel{
        position:relative;
    }
    &__quantityButton{
        position: absolute;
        top:50%;
        margin-top:-6px;
        border: solid 5px ;
        border-color: transparent;
        padding:0;
        background: none; 
        &--plus{
            right:-5px;
            border-left-color: cs('font-l');
        }
        &--minus{
            left:-5px;
            border-right-color: cs('font-l'); 
        }
    }
  }

}


////////////////////////////////////////
@include productInline();
/**
* reactTest styles
*/

@mixin reactTest(){

  .reactTest {
    &__content {
        h1{
            color: cs('link');
        }
        

    }
  }

}


////////////////////////////////////////
@include reactTest();