/**
* atest styles
*/

@mixin atest(){

  .atest {
    &__content {

    }
  }

}


////////////////////////////////////////
@include atest();
@mixin breadcrumbs(){
	.breadCrumb {
      text-transform: uppercase;
      font-size: .9rem;
      a:link {
        color: cs('font');
        text-decoration: none;
      }
      
      
    }
    .breadCrumb__content { 
          display: inline-block;
          margin-right: 40px;
      }
  .breadcrumb__section {
    display: inline-block;
       padding: 0px 8px;
       margin-right: 7px;
        color: cs('font-l');
        border-radius: 3px;
        &:hover{
        color: cs('font-d2');
      }
  }
  .breadCrumb__section--current {
     //border: solid 2px cs('accent');
    font-weight: bold;
    background: cs('accent');
    color: #fff;   
    &:hover{
        color:#fff;
    }
    &:before{
      content: '';
      margin-right:0;

    }
  }
}
@include breadcrumbs()

/**
* cart styles
*/

@mixin cart(){

  .cart {
    &__content {
        margin:0;
        padding:0;
        background: cs('foreground');
        width:60%;
        //margin: 0 auto;
        //max-height: 100%;  
        //line-height:40px;
        border-radius :3px; 
        box-shadow: inset 0px -2px lighten(cs('font-l2'),10%);
        &:hover{
            box-shadow:none;
        }
    }
    &__icon{
        margin-right: .4em;
        
    }
  }

}


////////////////////////////////////////
@include cart();
/**
* catalog styles
*/

@mixin catalog(){
  .catalog {
    &__content {
        //height: 100%;
        .icon--to-right{ 
             height: 100%;
             width: 1em;
             //height:59px;
             fill:#fff;
             float:right;
             vertical-align:top;
             //margin-left:.2em;
             transition: transform .2s ease;
        } 
    }
    &__by{
       
        display:inline-block;
        vertical-align:middle;
        color:#fff;
        height: 60px;
        text-transform: uppercase;
        text-align: center;
        //margin: -10px 0;
        padding: 0 .8em; 
        line-height: 60px;  
        cursor: pointer;
        width:50%;
        &--hovered{ 
            background:cs('primary-l');
            .icon--to-right{
            transform: rotate(90deg);
            }
        }
        &:hover{ 
            background:cs('primary-l');
            .icon--to-right{
            transform: rotate(90deg);
            }
        }
        &--category{
            
        }
        &:hover .icon-to-right{  
            transform: rotate('90deg');
        }
       
    }
  }

}


////////////////////////////////////////
@include catalog();
/**
* catalogList styles
*/

@mixin catalogList(){

  .catalogList {
    &__outerWrapper{
        position:relative;
        width:100%;
    }
    
    &__outer{
        display:none;
        opacity:0;
        transition: opacity 2s ease; 
        position:absolute;
        top:0;
        height: 1000px; 
        width:100%;
        background:rgba(0,0,0,0.4);
        //filter: blur(5px)
    }
    &__content {
        position:relative;
        height:0;
        width:100%; 
    }
    &__wrapper{
        display:none;
        opacity:0;  
        position:absolute;
        top:0;
        width:100%;  
       // border-top: solid 3px cs('primary-l2'); 
        min-height: 200px;
       
          
    }
    &__categoryNavigation{
        background: cs('foreground');
        width:100%;
        display: inline-block;
        @include for-size(tablet-l-up){
            width: 25%;
        }
    }
    &__categoryItem {
        cursor:pointer;
        position:relative;
        text-transform: uppercase;
        padding:.4em 0 .4em .4em;
        border-bottom:solid 1px lighten(cs('font-l2'),30%);
        &--hovered{
            background: lighten(cs('primary-l2'),50%);
            .icon--catalog {
            fill: cs('accent-l2');
        } 
        }
        &:hover{
            background: lighten(cs('primary-l2'),50%);
        }
        &:hover .icon--catalog {
            fill: cs('accent-l2');
        } 
    }
    &__categorySublist{
        
        display:inline-block;
        position:relative;
        width:75%;
        
    }
    &__SublistItem {
        border-left:2px solid cs('primary'); 
        display:none; 
        position: absolute;
        top:0;
        width:100%;
        min-height: 400px;
        background: cs('foreground');
         padding: 1.6em 2.4em;
    }
    &__brands {
         padding: 1.6em 2.4em;
        background: cs('foreground');
        
    }
  }

}


////////////////////////////////////////
@include catalogList();
/**
* confirmedOrderPage styles
*/

@mixin confirmedOrderPage(){

  .confirmedOrderPage__content{
        color: red;
  }
  .confirmedOrderPage{
        color:red;
  }

}


////////////////////////////////////////
@include confirmedOrderPage();
/**
* flyPageFragment styles
*/

@mixin flyPageFragment(){

  .flyPageFragment__content{
    font-family: arial, san-serif;
    table {
        text-align: center;
    }
  }
  .flyPageFragment{
    background:cs('foreground');
    padding-bottom: 2px;
    .stock_title, .stock {
        color: cs('succes-d');
        font-size: 25px;
    }
    .fragmentTitle {
        font-weight: 700;
    }
    .rrc_price{
        font-size: 22px;
    }
    .mop_price {
        font-size: 22px;
        color: cs('erorr-d'); 
        //font-weight: bold;
    }
    .toOrder {
        color: #000;
        text-transform: uppercase;
        font-size: 17px;
        text-align: center;
        font-weight:bold;
        background: cs('accent-d');   
        border: solid 2px cs('accent-l');
        height: 61px;
        line-height: 45px;
        width: 240px;
        border-radius: 5px;
        transition: background .2s ease;
        text-decoration: none;
        svg {
            margin-top: -2px;
        }
        
        &.succes {
            background: cs('succes');
            border-color: cs('succes-l');
            &:hover{
                background: cs('succes-d2');
            }
        }
        &:hover{
            background: cs('accent-d');
        
        }
    }
    .table_row{
        color: green;
    }
  }

}


////////////////////////////////////////
@include flyPageFragment();
/**
* geoTarget styles
*/

@mixin geoTarget(){

  .geoTarget {
    &__content {
        @include for-size(phone-only){
            float: left;
            display: block;
            
        }
    }  
    &__city{
        //@include icon('placeholder',before,true);
        font-weight: bold;
        .icon-placeholder{
            font-size: 1em;
            color: cs('accent');
             @include space-i('element','-','','r');
         
        }
    }
    
    &__link{
        color: cs('font-d');
        &:hover{
            text-decoration: underline;
        }
    }


    &__points{   
        border-bottom: solid 2px  cs('primary');
        @include for-size(phone-only){
            display:none;
        }
    }
    &__pointsCount {
        display:inline-block; 
        text-align: center;
        font-size:.8em;
        border-radius: 2px;
        //font-weight: bold;    
        //color: cs('accent');  
        color: #fff;  
        background: cs('primary');
        @include space-i('element','-','rl','r');
    }
    &__pointsDesc{
        text-decoration: none;
        color: cs('font-d2');
    } 
  }

}


////////////////////////////////////////
@include geoTarget();
/**
* layout styles
*/

@mixin layout(){

  .mainHeader{
        @include space-i('module','-','','b');
    }
    
    .logo{
        color:cs('primary');
    }
    .l_ib__ev{
        display: inline-block;
        font-size: 1rem;
        height: 100%;
        vertical-align: middle;
    }

}


////////////////////////////////////////
@include layout();
/**
* mainInfo styles
*/

@mixin mainInfo(){

  .mainInfo {
    &__content {
        @include space-i('component','-','','b')
    }
    &__block{
        @include space-i('module','=','','r')
    }
    &__geotarget{
    
    }
    &__logo{
            @include for-size(phone-only){
            display:none;
        }
        &--mobile{
                width:100%; 
                text-align: center;
                margin: 0;
                @include for-size('tablet-p-up'){   
                    display: none;
                }
            }
    }
    &__cart_search--mobile{
        @include for-size(tablet-p-up){
            display:none;
        }
    }
    
    &__phone {
        font-size: 23px;
        @include for-size(phone-only){
            display:none;
        }
    }
  }

}


////////////////////////////////////////
@include mainInfo();
/**
* mainSearch styles
*/

@mixin mainSearch(){

  .mainSearch {
    &__content {
        //height:100%;
        width:95%;
        margin:0 auto;
        position:relative;
        padding:5px; 
        border-radius: 3px;
        background: cs('foreground');
    }
    &__input[type=text]{
        display: inline-block;
        margin: 0;
        padding: 0;
        width:91%;
        border:none;
        outline: none;
        font-size:0.8em;
        color: darken(cs('font-l'),8%);
        border-right: solid 1px silver; 
    }  
    &__submit[type=submit]{
        display: inline-block;
        border:none;
        background:none;
        margin: 0;
        padding: 0;
        width:8%;
        height:$line_height_ratio; 
        border-left: solid 1px; 
        opacity:0;
    }
    &__icon{
        position: absolute;
        width:8%;
        text-align: center;  
        top:0;
        height:100%;
    }
  }

}


////////////////////////////////////////
@include mainSearch();
/**
* module styles
*/

@mixin module(){

  .module {
    &__content {

    }
  }

}


////////////////////////////////////////
@include module();
/**
* module1 styles
*/

@mixin module1(){

  .module1 {
    &__content {

    }
  }

}


////////////////////////////////////////
@include module1();
/**
* noticeList styles
*/

@mixin noticeList(){

  .noticeList {
      max-width:80%;
    &__content {
    
    }
    &__element{
        padding-left:35px;
        border-left: 3px solid transparent;
        margin-bottom: 20px;
       // border-bottom:1px solid #eee;
        &--unread{
            border-left-color: cs('succes');
        }
    }
    &__noticeContent {
        font-size:18px; 
    }
    &__publicTime{
        color:cs('font-d');
    }
    &__elementHeader{
        color:cs('secondary-d');
    }
  }

}


////////////////////////////////////////
@include noticeList();
/**
* productCol styles
*/

@mixin productCol(){

  .productCol {
    &__list{
        background:cs('foreground-d')
    }
    &__content {
         .productInline__quantityLabel {
            width: 40%;
            text-align: center;
            position: relative;
            display:inline-block;
              }
      
    }
    &__link{
        text-decoration: none;
        &:hover{
            color:cs('font-d2');
        }
    }
    &__card{
        background: cs('foreground');
        padding: .4em .8em 1em;
        margin-bottom: .5em;
        transition: box-shadow .15s linear;
         &:hover{
            //transform: scale(1.02);
            box-shadow: 0px 1px 8px 1px #ccc;
        }
    }
    &__sku{
        //padding-left: 11px;
        display: inline-block;
        margin-bottom:5px;
    }
    &__img{   
        width:100%;  
        height: 180px;
       // background-color: #ededed;
        background-image:url("https://www.santehsmart.ru/upload/iblock/2ee/2ee1ca5fa8df10ec7e75f80c1e7edc22.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        //border-bottom: 1px solid cs('foreground-d');
        margin-bottom: 5px;
    }
    &__name {
        height: 3*$line_height_ratio#{em};
        font-weight:normal;
        color:cs('font');
        overflow:hidden;
        margin-bottom: .5em;
    }
    &__priceStock{
        margin-bottom:.8em;
    }
    &__stock{
        color: cs('succes-d');
        width:50%;
        text-align: center;
        height: 1.8*$line_height_ratio#{em};
        display:inline-block;
        overflow:hidden;
        &--off{
            color:cs('erorr-d2'); 
        }
        &--last{
            font-size: .8em;
            color: cs('accent-l');
        }
    }
    &__price{
        display:inline-block;
        vertical-align: top;
        font-size:1.2em;
        font-weight: bold;
        width:50%;
        text-align: center;
        &--opt{
            color: cs('font-l');
            font-size:1rem;
            text-align: left;
            line-height: 1.5;
            &-moc{
                color: cs('font');
            }
        }
        
          
    }
    
    
  }
  

}


////////////////////////////////////////
@include productCol();
/**
* productInline styles
*/

@mixin productInline(){

  .productInline {
    &__content {
       // padding:.1rem 0px;
        background-color:cs('foreground-l2');
        width: 100%;
        font-size:0;
        height: 3.45rem;
        margin-top: 1px;
        overflow:hidden;
        &:hover{
            background-color:lighten(cs('foreground-d'),7%);
        }
    }
    &__section {
        display: inline-block;
        font-size: 1rem;
        vertical-align:top;
        padding: 5px 10px;
        border-right: solid 1px cs('foreground-d');
        height:100%;
        line-height:2.8rem;
        &--sku{
            width:7%;
            text-align:center;
            font-size:.9rem;
        }
        &--name{
            width:40%;
            line-height:1.45rem;
            padding-left:15px;
            font-weight:normal;
            color:cs('font');
        }
         &--price{
            width:12%;
            text-align: center;
            font-weight: bold;
            color: cs('font');
            font-size: 1.1rem;
            &-moc{
                font-size: .9rem; 
            }
            
        }
        &--stock{
            width:10%;
            color: cs('succes-d2'); 
            text-align: center;
            background: lighten(cs('succes-l2'),25%);
            font-size: .9rem;
            &.noStock{
                background: lighten(cs('erorr-l2'),15%);
                color: cs('erorr-d2');
            }
        }
        &--order{
            width:11%;
            text-align: center;
            border-right:none;
        }
        &--img{
            width:10%;
            background-color: cs(foreground-l2);
            background-image: url('https://www.santehsmart.ru/upload/iblock/2ee/2ee1ca5fa8df10ec7e75f80c1e7edc22.jpg');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
        &--quantity{
            width: 10%;
            text-align:center;
            //position: relative;
        }
    }
    &__link{
        color:cs('font-d');
    }
    &__quantitySelector {
        text-align:center;
        font-size: 16px;
        color:cs('font');
        padding: 4px 16px ;
        border:solid 1px cs('foreground-d2');
        border-radius: 3px;
        box-shadow: inset 0px 0px 9px silver; 
    }
    &__quantityLabel{
        position:relative;
    }
    &__quantityButton{
        position: absolute;
        top:50%;
        margin-top:-6px;
        border: solid 5px ;
        border-color: transparent;
        padding:0;
        background: none; 
        &--plus{
            right:-5px;
            border-left-color: cs('font-l');
        }
        &--minus{
            left:-5px;
            border-right-color: cs('font-l'); 
        }
    }
  }

}


////////////////////////////////////////
@include productInline();
/**
* reactTest styles
*/

@mixin reactTest(){

  .reactTest {
    &__content {
        h1{
            color: cs('link');
        }
        

    }
  }

}


////////////////////////////////////////
@include reactTest();
/**
* support styles
*/

@mixin support(){

  .support {
    &__content {
        width:100%;
        font-size:0;
    }
    &__section {
        font-size: 1rem;
        width: 33.3333%;
        display:inline-block;
        padding: 30px 20px;
        border-right: 1px solid lighten(silver,15%);
        min-height: 500px;
        &:last-child{ 
            border:none};
    }
    &__sectionTitle{
        text-align: center;
    }
  }

}


////////////////////////////////////////
@include support();
/**
* topBar styles
*/

@mixin topBar(){
    
  .topBar {
  
  
    &--fixed{
        z-index: 10;
        position:fixed; 
        top: 0;
        left:0;
        width:100%;
        //margin-bottom: 60px;
        box-shadow: 0px 2px 5px  5px rgba(0,0,0,0.5);
    }          
    &__wrapper {
        background: cs('primary');
        //border-bottom: solid 3px darken(cs('primary'),2%);
        //@include space-i('module','-','','b');
        //box-shadow: 0px 2px 8px 0px lighten(#000,60%);
        //@include space-i('element','-','','t')
       // height: 2.4*$line_height_ratio#{em};    
    }
    &__content {
       
        height: 60px;   
        
        
    }
    &__catalog{
        width:100%;
        @include for-size(desktop-up){
            width:25%;
        }
    }
    &__search{
        width:50%;
        display:none;
        @include for-size(desktop-up){
            display:inline-block; 
        }
    }
    &__cart{
        display:none;
        @include for-size(desktop-up){
            display:inline-block;
            width:25%;
        }
        
    }
  }

}


////////////////////////////////////////
@include topBar();
/**
* topMenu styles
*/

@mixin topMenu(){

  .topMenu {
    &__wrapper {
        background: cs('foreground-d');
       @include for-size(tablet-p-up){
            @include space-i('component','|','','b');
       }
      

    }
    &__content { 
       
        @include space-i('element','-','tb','');
        
        @include for-size(phone-only){
           display:none;
       }
    }
    &__element{
        display: inline-block;
        @include space-i('component','=','','r')  
        
    }
  }

}


////////////////////////////////////////
@include topMenu();