.headerSection .headerPhone, .headerSection .headerAddress {
  display: block;
  color: #fff;
}

.headerSection .headerPhone {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.952em;
}

.headerSection .headerPhone, .headerSection .headerAddress {
  display: block;
  color: #fff;
}

.headerSection .headerPhone {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.952em;
}

header.mainHeaderoooo {
  background-color: #3b68c9;
  height: 7.16812em;
  line-height: 7.16812em;
  border-bottom: 3px solid #284990;
}

header.mainHeaderoooo > .headerSectionDivider:first-child {
  border-left: 2px solid #284990;
}

.headerSection .headerPhone, .headerSection .headerAddress {
  display: block;
  color: #fff;
}

.headerSection .headerPhone {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.952em;
}

@mixin draft() {

}
