mixin MODULE-personalSection()
	<!-- split modules/personalSection -->
	.personalSection__content(data-qcontent='module__personalSection')
		.personalSection
			.group
				.col.col-2-tl
					a.personalSection__element
						span Текущие заказы
				.col.col-2-tl
					a.personalSection__element
						span Личный счет
				.col.col-2-tl
					a.personalSection__element 
						span Личные данные 
				.col.col-2-tl
					a.personalSection__element История заказов
				.col.col-2-tl
					a.personalSection__element Корзина
				.col.col-2-tl
					a.personalSection__element Обратная связь