mixin C-countDown(ids,header,time)
	.countDown
		h6.countDown__header=header+':'
		.countDown__ctn(id=''+'countDown'+ids class=' '+'countDown--'+ids data-qcontent='component__countDown')
		script.
			// $(Document).ready(function(){
			// $('#{'#countDown'+ids}')
			// .countdown("2018/03/25", function(event) {
			// $(this).text(
			// event.strftime('%D Дня %Hч: %Mм: %Sс')
			// );
			// });
			// });
	
 
