.icon__Wrapper {
  width: 2em;
  height: 2em;
}
.icon{ 
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 100%;
  max-width: 100%;
  fill: cs('primary');
     
      &--red {
          fill:red;
      }
    
}
  


