mixin LEVEL-testOfSergConnectingSupport(title,className)
	-if (!className) className =''
	.testOfSergConnectingSupport__content(class = 'testOfSergConnectingSupport__content'+ className data-qcontent="level__testOfSergConnectingSupport")
		h2.testOfSergConnectingSupport__title=title
		block testOfSergConnectingSupport