.menu-hamburger{
  height: 100%;
  .menu-hamburger__part{
    @include space('element','','b');
    border-radius: 3px;
    display: block;
    width: 80%;
    height: .5rem;
    background-color: cs('fground');
  }
}

.heroTitle-ctn {
  width: 100%;
  display: table;
  text-align: center;
  height: 100%;
  h1.heroTitle {
    display: table-cell;
    vertical-align: middle;
    font-family: fs('HERO');
  }
}

.logo__link{
  display: block;
  text-align: center;
  img{
      width: 100%;
    vertical-align: bottom;
  }
}

.logo__link{
  display: block;
  .logo__container{
    text-align: center;
    overflow: hidden;
  }
  svg{

  }
}

.img_container--align_v{
  position: relative;
}
.img_container--align_v img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}