.heroTitle-ctn {
  width: 100%;
  display: table;
  text-align: center;
  height: 100%;
  h1.heroTitle {
    display: table-cell;
    vertical-align: middle;
    font-family: fs('HERO');
  }
}

.logo__link{
  display: block;
  text-align: center;
  img{
      width: 100%;
    vertical-align: bottom;
  }
}

.logo__link{
  display: block;
  .logo__container{
    text-align: center;
    overflow: hidden;
  }
  svg{

  }
}

.img_container--align_v{
  position: relative;
}
.img_container--align_v img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.menu-hamburger{
  display: table;
position: relative;
  margin: 0 auto;
  height: s-height(1,'module');
  cursor: pointer;
  .menu-hamburger__part{
    position: relative;
    vertical-align: middle;
    margin-bottom: 6px;
    border-radius: 1px;
    display: block;
    width: 2rem;
    height: .2rem;
    background-color: cs('fground');
    &:last-child{
      margin-bottom: 0;
    }
  }

}
.menu-hamburger__partsWrap{
  display: table-cell;
  vertical-align: middle;
}
