//- index.pug
extends ../LAYOUT/layout.pug
block title
    title Главная
    -var page={slug:"index",title:"Главная"};
block main
    .container
        .row
            .col-12-m
                +module('owlSlider')
            .col-12-m
                h2
                    span.ove-markedHeader
                        +I('star')
                    | Лучшие товары
                +module('owlGoodsSlider')
                h2 Лучшие товары
                +module('owlGoodsSlider')
            .col-12-tp
                +module('oveFeatures')

