//- index.pug
extends ../LAYOUT/layout.pug
block title
    title Главная
    -var page={slug:"index",title:"Главная"};
block main

                    ul
                    +loop(25)
                        li.col-product
                            .product
                                header.container-fluid
                                    .row
                                        .percentMark.col-3
                                            +I('fire')
                                            span 22%
                                        .info.col-9
                                            span 2434322
                                            p Смеситель для кухни Milardo Nelson NELSB00M05
                                .product-image-container
                                    img(src='images/catalog/4.jpg')
                                footer
                                    .oldPrice
                                        span 32 000Р
                                    .price
                                        span 21 500Р

