//- index.pug
extends ../LAYOUT/layout.pug
block title
    title Главная
    -var page='index'
block main
    +module('collection_slider')
    .row
        .col-12-l
            +module('vri_features')
        .col-12-l
            +module('info')

