//- item.pug
extends ../LAYOUT/layout.pug
block title
    -var page={slug:'item',title:'item'};
    title item
block main
    section.catalogItem-page
        span 2434322
        .itemTitle Vidima Смеситель для биде Сириус B3181AA
        .itemInfo
            .row
                .col-6
                    .itemImageCtn
                        img(src='images/77.jpg')
                .col-6
                    .oldPrice
                        span 32 000Р
                    .price
                        span 21 500Р
                    ul.itemProps
                        +loop( 3 )
                            li
                                span Производитель:
                                span Vidima
                            li
                                span Страна:
                                span Болгария
                            li
                                span Заводской Артикул:
                                span R234-3Fs
                .col-12.itemAbout
                    p.text Vidima (Видима) - локальный бренд Ideal Standard International, поставляемый в Россию и страны Восточной Европы. Сантехника ТМ Vidima производится в Болгарии.
        +I('close','itemPage-closer')
