//- product.pug
extends ../LAYOUT/layout.pug
block title
	title Продукт
	-var page='product'
block main
	h1.pageTitle Baciano Смеситель для ванны HG900333
	.product
		.row
			.col-7-m
				.product__image_ctn.holderjs
			.col-5-m
				.product__info
					dl
						+loop(6)
							.product__info__list_line.clearfix
								dt.f-left Категория :
								dd.f-right Держатель мыльницы