mixin MODULE-geoTarget()
	<!-- split modules/geoTarget -->
	.geoTarget__content(data-qcontent='module__geoTarget')
		.geoTarget__city
			span.icon-placeholder
			a(href='df').geoTarget__link.js_modal_trigger(id = 'js_modal_trigger__geo') Воронеж
		.geoTarget__points
			span.geoTarget__pointsCount 3 
			a(href='fdgg').geoTarget__pointsDesc Пункта выдачи 