mixin MODULE-geoTarget()
	<!-- split modules/geoTarget -->
	.geoTarget__content(data-qcontent='module__geoTarget')
		.geoTarget__city
			+I('placeholder','map')
			span Воронеж
		.geoTarget__points
			span.geoTarget__pointsCount 3 
			span.geoTarget__pointsDesc Пункта выдачи