/**
* geoTarget styles
*/

@mixin geoTarget(){
    
    // in bitrix
    .custom-popup-2014 .current-list{
        @include for-size(phone-only){
            width:100%;
            li {
                width:33%;
                height: 50px;
                margin-bottom: 10px;
            }
        }
    }
    .custom-popup-2014{
        @include for-size(phone-only){
            width: 100%;
            height:auto;
            left: 0;
            right: 0;
            top: 0;
            margin: 0;
        }
    }
    
    
  .geoTarget {
    &__content {
        @include for-size(phone-only){
            float: left;
            display: block;
            
        }
    }  
    &__city{
        //@include icon('placeholder',before,true);
        font-weight: bold;
        .icon-placeholder{
            font-size: 1em;
            color: cs('accent');
             @include space-i('element','-','','r');
         
        }
    }
    
    &__link{
        color: cs('font-d');
        &:hover{
            text-decoration: underline;
        }
    }


    &__points{ 
        
        
        @include for-size(phone-only){
            display:none;
        }
    }
    &__pointsCount {
        display:inline-block;
        text-align: center;
        font-size:.8em;
        border-radius: 2px;
        //font-weight: bold;    
        //color: cs('accent');   
        color: #fff;  
        background: cs('primary');
        @include space-i('element','-','rl','r');
    }
    &__pointsDesc{
        text-decoration: none;
        color: cs('font-d2');
        border-bottom: solid 2px  cs('primary'); 
    } 
  }

}


////////////////////////////////////////
@include geoTarget();