mixin category()
            .category
                .row
                    +loop(2)
                        each cat in category
                            .col-4-m
                                .category__product
                                    .category__product__image_ctn
                                    .category__product__title
                                        h3=cat.title