@mixin category(){
  .category{
    background-color: #aaaaaa;
    @include space('block',"trlb","")
  }
  .category__product__image_ctn{
    @include i-bkg-ctr("?holder.js/355x260");
    height:260px;
  }
  .category__product{
    @include space('component','trlb','')
  }
  .category__product__title{
    line-height: 1.75;
    @include space('element','trlb','');
    @include media('tablet'){
      text-align: center;
    }
  }
}