mixin MODULE-starter()
	<!-- split modules/starter -->
	.starter__content(data-qcontent='module__starter')
		.starter Hellos1wesd[[]s
mixin LEVEL-page(title,className)
	-if(!className) className =''
	.page__content(class = 'page__content'+ className)
		h6.page__title=title
		block LEVEL-page




mixin LEVEL-mainPageSection(title,className)
	-if (!className) className =''
	.mainPageSection__content(class = 'page__content'+ className)
		h2.mainPageSection__title=title
		block mainPageSection
mixin LEVEL-saleSection(title,className)
	-if (!className) className =''
	.saleSection__content(class = 'page__content'+ className)
		h2.saleSection__title=title