mixin pagination()
	<!-- split modules/pagination.html -->
	.pagination
		.row
			.col-12-m
				ul.pagination__ctn
					li.pagination__ctn__button.pagination__ctn__button--current 1
					li.pagination__ctn__button 2
					li.pagination__ctn__button 3a


