mixin MODULE-vipChallenge()
	<!-- split modules/vipChallenge -->
	.vipChallenge__content(data-qcontent='module__vipChallenge')
		.vipChallenge
			.vip-logo
			.vip-title DESIGN BATTLE
			p dsddfsdfdsfd
			h1 Регистрация участника
			form
				label Фамилия:
					input(type='text')
				label Имя:
					input(type='text')
				label Отчество:
					input(type='text')
				label Номер телефона:
					input(type='text')
				label Эл. почта: 
					input(type='text')
				input(type='submit')