/**
* productImageSlider styles
*/

@mixin productImageSlider(){
    .owl-nav{
       position: absolute;
        top: 50%;
        width: 100%;
        margin-top: -1.35rem;
        &>div{
            font-size: 2rem;
            position: absolute;
            color:darken(cs('background-d2'),10%);
            &.disabled{
                color:cs('background-d');
            }
        }
    }
    .owl-next{
        right: -1.5rem;
        @include for-size(phone-only){
            right:-2.5rem;
        }
    }
        .owl-prev{
       left: -1.5rem;
          @include for-size(phone-only){
              left: -2.5rem;
          }
    }

  .productImageSlider {  
    &__content {
        padding: vr-block(1) vr-block(1.6);
        text-align: center;
        position:relative;
        background: cs('foreground');
        
    }
   .productImageSlider__mainCarousel .productImageSlider__imageList.owl-carousel .owl-item{
        display: inline-block;
        vertical-align: middle;  
        float:none;
        height:100%; 
    }
   .productImageSlider__imageList.owl-carousel &__image{
        cursor: zoom-in; 
        display: inline;
        width:auto;
        max-width: 100%;
        max-height: 370px; 
        //   
    }
    .productImageSlider__imageListFull.owl-carousel &__image{
        cursor: pointer;
        width:auto;
       margin: 0 auto;
        //   
    }
    &__dots{
        text-align:center;
    }
    &__dot{
        @include for-size(phone-only){
            display:none;
        }
        border: solid 1px cs('background-d2');
        width: 3rem;
        height: 3rem;
        display:inline-block;
        margin-right: vr-block(.4);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50%;
            &.active{
                border-color: cs('accent');
            }
        
    }
    &__fullWindow{    
        display:none;
        position: fixed;
        background: cs('foreground');  
        overflow:scroll;
        left:0;
        right:0;
        top:0;     
        bottom:0;
        z-index: 1000000;
       @include for-size(tablet-l-up){
            padding: vr-block(2) vr-block(4);
       }
       padding: vr-block(2) vr-block(2);
        .productImageSlider__imageListFull.owl-carousel .productImageSlider__image{
           @include for-size(tablet-l-up){
                width:auto;
               height:auto;
           } 
                width:100%;
               height:auto;
        }
        .icon--slider-close{
            position:absolute;
            right:10%;
            top:5px;
        }
    }
   
  }

}


////////////////////////////////////////
@include productImageSlider();