section.block {
  @include space-i('block','=','t','');
  @include space-i('block','-','b','');
  h2.block_title {
    text-align: center;
    width: 100%;
    border-bottom: 3px solid cs('hl');
    @include space-i('component','=','b','');
    @include space-i('module','=','','b');
  }
}