.gipperLoader {

  -webkit-animation: gipperLoader 1.0s infinite ease-in-out;
  animation: anim-gipperLoader 1.0s infinite ease-in-out;
}

@-webkit-keyframes anim-gipperLoader {
  0% { -webkit-transform: scale(0) }
  100% {
  -webkit-transform: scale(1.0);
  opacity: .4;
    }
}

@keyframes anim-gipperLoader {
  0% {
  -webkit-transform: scale(0);
  transform: scale(0);
} 100% {
  -webkit-transform: scale(1.0);
  transform: scale(1.0);
  opacity: 0;
  }
}