@mixin vri_features(){
  .vri_features{
    background-color: cs('primary-d');
    @include space('block',"trbl","");
  }
  .vri_features__title{
    text-align: center;
    font-size: 2em;
    line-height: 1.7;
    @include space('component','b','t');
    color: #fff;
  }
  .vri_features__list{
    @include space('component','','t');
    @include i-bkg-ctr('images-rs/smsh.png','cover');
    height: 600px;
    position: relative;
    @include media('tablet'){
      background-image: none;
      height: auto;
    }
  }
  .vri_features__list__item {
    position: absolute;
    list-style: none;
    @include space('element','trbl','');
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background-color: cs('primary-l');
    color: #fff;
    @include media('tablet'){
      position: initial;
      margin:0 auto;
      text-align: center;
      @include space('element','','b');
      display: block;
      width: 90%;

    }
  }
  .vri_features__list__item--left{
    left: 0%;
  }
  .vri_features__list__item--right {
    right: 0;
  }
  .vri_features__list__item--top15{
    top:15.4%
  }
  .vri_features__list__item--top41{
    top:41.8%
  }
  .vri_features__list__item--top75{
    top: 74.5%;
  }
  .vri_features__list__item--top34{
    top:34%;
  }
  .vri_features__list__item--top4{
    top: 4%;
  }
  .vri_features__list__item--shield {
    @include i-bkg-ctr('images-rs/shield.svg');
    bottom: 0;
    font-size: 1.2em;
    @include space('block','trlb','');
    background-color: inherit;
    text-align: center;
    line-height: 2;

  }
}