mixin vri_features()
    .vri_features
        h2.vri_features__title Технические Параметры Смесителей
        ul.vri_features__list
            li.vri_features__list__item.vri_features__list__item--left.vri_features__list__item--top15 Рукоять из цинкового сплава
            li.vri_features__list__item.vri_features__list__item--left.vri_features__list__item--top41 Катридж с керамическими дисками
            li.vri_features__list__item.vri_features__list__item--left.vri_features__list__item--top75 Корпус из латуни
            li.vri_features__list__item.vri_features__list__item--right.vri_features__list__item--top4 Максимальное давление 10 Бар
            li.vri_features__list__item.vri_features__list__item--right.vri_features__list__item--top34 Минимальный расход 2,5 литра
            li.vri_features__list__item.vri_features__list__item--right.vri_features__list__item--shield Гарантия <br /> 5 лет