$bkgColor__dwqqwedqwqw111:#fff;
$bkgColor__dwqqwedqwqw111-hover:#fff;
$color__dwqqwedqwqw111-hover:#fff;
$color__dwqqwedqwqw111:#fff;

.dwqqwedqwqw111 {
	position: relative;
	background-color: $bkgColor__dwqqwedqwqw111;
	color: $color__dwqqwedqwqw111;
		&:hover, &:focus, &:active {
		color: $color__dwqqwedqwqw111-hover;
		background-color: $bkgColor__dwqqwedqwqw111-hover;
		}
		&:focus {
			outline: none;
		}
		&:hover, &:active {
			outline: none;
	}
}