/**
* catalogList styles
*/

@mixin catalogList(){

  .catalogList {
    &__outerWrapper{
        position:relative;
        width:100%;
    }
    
    &__outer{
        display:none;
        opacity:0;
        transition: opacity 2s ease; 
        position:absolute;
        top:0;
        height: 1000px; 
        width:100%;
        background:rgba(0,0,0,0.4);
        //filter: blur(5px)
    }
    &__content {
        position:relative;
        height:0;
        width:100%; 
    }
    &__wrapper{
        display:none;
        opacity:0;  
        position:absolute;
        top:0;
        width:100%;  
       // border-top: solid 3px cs('primary-l2'); 
        min-height: 200px;
       
          
    }
    &__categoryNavigation{
        background: cs('foreground');
        width:100%;
        display: inline-block;
        @include for-size(tablet-l-up){
            width: 25%;
        }
    }
    &__categoryItem {
        cursor:pointer;
        position:relative;
        text-transform: uppercase;
        padding:.4em 0 .4em .4em;
        border-bottom:solid 1px lighten(cs('font-l2'),30%);
        &--hovered{
            background: lighten(cs('primary-l2'),50%);
            .icon--catalog {
            fill: cs('accent-l2');
        } 
        }
        &:hover{
            background: lighten(cs('primary-l2'),50%);
        }
        &:hover .icon--catalog {
            fill: cs('accent-l2');
        } 
    }
    &__categorySublist{
        
        display:inline-block;
        position:relative;
        width:75%;
        
    }
    &__SublistItem {
        border-left:2px solid cs('primary'); 
        display:none; 
        position: absolute;
        top:0;
        width:100%;
        min-height: 400px;
        background: cs('foreground');
         padding: 1.6em 2.4em;
    }
    &__brands {
         padding: 1.6em 2.4em;
        background: cs('foreground');
        
    }
  }

}


////////////////////////////////////////
@include catalogList();