/**
* testOfParent styles
*/

@mixin testOfParent(){

  .testOfParent {
      color: red;
    &__content {
       // padding-top: 1px;
        color:yellow;
        text-align: center;
    }
    &__--clicked{
        color: cs('accent');
    }
  }

}


////////////////////////////////////////
@include testOfParent();