/**
* testOfParent styles
*/

@mixin testOfParent(){

  .testOfParent {
      color: green;
    &__content {
       // padding-top: 1px;
        color:tomato;
        text-align: center;
    }
    &--clicked{
        color: cs('link-d');
    }
  }

}


////////////////////////////////////////
@include testOfParent();