mixin MODULE-testOfParent()
	<!-- split modules/testOfParent -->
	.testOfParent__content(data-qcontent='module__testOfParent')
		span.testOfParent Hurray!!! Levels are BACK!!!
		span.testOfParent--clicked Its real good NewsSadw22