mixin oveFeatures()
	<!-- split modules/oveFeatures -->
	.oveFeatures
			.oveFeatures__feature.oveFeatures__feature--delivery
				.row
					.col-6-m.col-6-tp
						.oveFeatures__feature__desc
							h3 Бесплатная доставка при заказе от 4000Р
			.oveFeatures__feature.oveFeatures__feature--service
				.row
					.col-6-m.col-6-tp
						.oveFeatures__feature__desc
							h3 Собственная сервисная служба
