$bkgColor__gipperButtonsa:#fff;
$bkgColor__gipperButtonsa-hover:#fff;
$color__gipperButtonsa-hover:#fff;
$color__gipperButtonsa:#fff;

.gipperButtonsa {
	position: relative;
	background-color: $bkgColor__gipperButtonsa;
	color: $color__gipperButtonsa;
		&:hover, &:focus, &:active {
		color: $color__gipperButtonsa-hover;
		background-color: $bkgColor__gipperButtonsa-hover;
		}
		&:focus {
			outline: none;
		}
		&:hover, &:active {
			outline: none;
	}
}