section.pb-section.clearfix#ball.hidden
        span.lh Line height
        .spacer.element-i
            span Element i
        .spacer.element-o
            span Element o
        .spacer.component-i
            span Component i
        .spacer.component-o
            span Component o
        .spacer.module-i
            span Module ii
        .spacer.module-o
            span Module o
        .spacer.block-i
            span block i
        .spacer.block-o
            span block o
section.pb-section.clearfix.grid.grid--debug.hidden#grid
    .container
        .row
            .col-1-m.col-1-tp 1
            .col-1-m.col-1-tp 2
            .col-1-m.col-1-tp 3
            .col-1-m.col-1-tp 4
            .col-1-m.col-1-tp 5
            .col-1-m.col-1-tp 6
            .col-1-m.col-1-tp 7
            .col-1-m.col-1-tp 8
            .col-1-m.col-1-tp 9
            .col-1-m.col-1-tp 10
            .col-1-m.col-1-tp 11
            .col-1-m.col-1-tp 12