//FOR MAKE COLLOR PALETE [ https://coolors.co ]
// COLLOR PALETE [ https://colordrop.io/ ]
//GRADIENTS  [https://uigradients.com]

// FOREGROUND -> MAIN -> SECONDARY
$colors: (
        'primary':#3b68c9,
        'secondary': #ebebeb,
        'accent': #00aab5,
        'fground': #ebebeb,
        'bground': #ffffff,
        'font': #000000,
        'hl': #e32a8e
);
$color-step: .15;


$colors-map:(

);
@each $role,$value in $colors {

        $colors-map1:(
                '#{$role}':  map-get($colors, $role),
                '#{$role}-l': lighten(map-get($colors, $role),percentage($color-step)),
                '#{$role}-d':darken(map-get($colors, $role),percentage($color-step)),
                '#{$role}-t':transparentize(map-get($colors, $role), 0.5)
        );
        $colors-map:map-merge($colors-map,$colors-map1);

}
@function cs($key: 'primary',$inc:$colors-map) {
        @return map-get($inc, $key);

}