$colors: (
        'primary':#f4f7f6,
        'accent': #42AB9E,
        'secondary': #202121,
        'fground': #fefff9,
        'bground': #9c9fa2,
        'font': #454F60
);
$color-step: .1;


$colors-map:(

);
@each $role,$value in $colors {

        $colors-map1:(
                '#{$role}':  map-get($colors, $role),
                '#{$role}-l': lighten(map-get($colors, $role),percentage($color-step)),
                '#{$role}-d':darken(map-get($colors, $role),percentage($color-step)),
        );
        $colors-map:map-merge($colors-map,$colors-map1);

}
@function cs($key: 'primary',$inc:$colors-map) {
        @return map-get($inc, $key);

}