$color__link : lighten(#3a155a,5%);
$colors: (
	primary:#3a155a,
	secondary:#474747,
	foreground:#fff,
	background:#C5C5C5,
	accent:orangered,
	font:#474747,
	succes:#46bb90,
	erorr:#DD403A,
	link:$color__link,
);
$color-step:.1;