@mixin FORM(){
	
.FORM{
  background-color: #fff;
  @include space('element','trlb','');
  input[type='text']{
    @include space('element','tbrl','');
    font-size: .8rem;
    width: 100%;
    border:solid 1px black;
  }
  input[type='submit']{
    border: none;
    font-size: 1rem;
  }
}
.form__validateMessage {
  color: #ff7c8b;
  float: right;
  display: inline-block;
  @include for-size(desktop-up){
    color: #00A000;
    font-size: 50px;
  }
}
.form__line {
  @include space('element','tb','bt');
  &:last-child{
    padding-bottom: 0;
  }
}
.form_img_ctn{
  height:500px;
}
}