input[type='text'].ove-cardRegInput {
  outline: none;
  color: #000000;
  width: 100%;
  border: solid 2px cs('accent');
  background-color: transparent;
  @include space-i('component','=','tbr','');
  @include space-i('module','=','l','b');
}