mixin catalogMenu()
	<!-- split modules/catalogMenu -->
	.catalogMenu
		a.catalogMenu__button Каталог товаров
		ul.catalogMenu__list
			li.catalogMenu__list__item Сантехника
			li.catalogMenu__list__item Мебель для ванной
			li.catalogMenu__list__item Водоснабжение
			li.catalogMenu__list__item Строительная химия
			li.catalogMenu__list__item Люстры/Светильники
			li.catalogMenu__list__item Электрика
			li.catalogMenu__list__item Аксессуары
			li.catalogMenu__list__item Отопление
			li.catalogMenu__list__item Отопление Сток-товары