mixin catalogMenu()
	<!-- split modules/catalogMenu -->
	.catalogMenu
		.catalogMenu__wrapper
			ul.catalogMenu__list
				li.catalogMenu__list__item.catalogMenu__list__item--active#catalogMenu__list__item--1--1
					span Сантехника
					span.angleR
						+I('right','icon--angle')
				li.catalogMenu__list__item#catalogMenu__list__item--1--
					span Мебель для ванной
					span.angleR
						+I('right','icon--angle')
				li.catalogMenu__list__item#catalogMenu__list__item--1--3
					span Водоснабжение
					span.angleR
						+I('right','icon--angle')
				li.catalogMenu__list__item#catalogMenu__list__item--1--4
					span Строительная химия
					span.angleR
						+I('right','icon--angle')
				li.catalogMenu__list__item#catalogMenu__list__item--1--5
					span Люстры/Светильники
					span.angleR
						+I('right','icon--angle')
				li.catalogMenu__list__item#catalogMenu__list__item--1--6
					span Электрика
					span.angleR
						+I('right','icon--angle')
				li.catalogMenu__list__item#catalogMenu__list__item--1--7
					span Аксессуары
					span.angleR
						+I('right','icon--angle')
				li.catalogMenu__list__item#catalogMenu__list__item--1--8
					span Отопление
					span.angleR
						+I('right','icon--angle')
				li.catalogMenu__list__item#catalogMenu__list__item--1--9
					span Сток-товары
					span.angleR
						+I('right','icon--angle')


