mixin info()
        section.info
            .row
                each infos in info
                        .col-4-l
                            .info__section( class='' + infos.dopClass )
                                h2.info__section__title= infos.title
                                p.info__section__body= infos.content
                                a.info__section__more Подробнее!!lklk11tytytyr
