script(src="scripts/jquery.min.js" type="text/javascript")
script(src="scripts/sass-to-js.min.js" type="text/javascript")
script(src="scripts/script.js" type="text/javascript")
script(src="scripts/holder.js")
//.sassTojs-data
if(head.debug)
    script(src="../dev/SCRIPTS/debug_layout.js" type="text/javascript")
script(src='scripts/libs/validator.min.js' type='text/javascript')