section.pb-section.clearfix#ball.hidden
        span.lh Line height
        .spacer.element-i
            span Element i
        .spacer.element-o
            span Element o
        .spacer.component-i
            span Component i
        .spacer.component-o
            span Component o
        .spacer.module-i
            span Module ii
        .spacer.module-o
            span Module o
        .spacer.block-i
            span block i
        .spacer.block-o
            span block o
section.pb-section.clearfix.grid.grid--debug.hidden#grid
    .container
        .group.group--md.debug
            -var i
            +loop(colums,i)
                .col-1-m.col-1-tp #{i}