.switcherLoaderButton.clearfix
    .f-left
        button#loadByQuant.on Quant
    .f-left
        button#loadByPhpStorm PhpS
    .f-left
        button#throwToProject ToPjt
.fs
    div(style="color: #fa9429; text-align: center; font-size: 14px;") PROJECT FILES
    h3 OPTIONS
    div.fs__options
        ul
    h3 DATA
    div.fs__data
        ul
    h3 PAGES
    div.fs__pages
        ul
    h3 LEVELS
    div.fs__levels
        ul
    h3 LAYOUT
    div.fs__layout
        ul
    h3 ELEMENTS
    div.fs__p_elements
        ul
    h3 COMPONENTS
    div.fs__p_components
        ul
    h3 MODULES
    div.fs__p_modules
        ul
    hr
    div(style="color: #fa9429; text-align: center; font-size: 14px;") CONTENT LIBRARIES
    h3 LIb of Modules
    div.fs__modules
        ul
    h3 LIb of Elements
    div.fs__elements
        ul
    h3 LIb of Mixes
    div.fs__mixes
        ul
    hr


