.contentNavigator.debug
    div.clearfix
        #contentNavigator__type.f-left
            input
        #contentNavigator__stype.f-left
            input
        #contentNavigator__name.f-left
            input
.debug-Dialog.notEdit.debug
    .debug-Dialog-content
        .row
            .debug-subtitle.col-5-tp
                .createTitle.active
                    +I('cube')
                    span Element
                .createTitle
                    +I('cube')
                    span Component
                .createTitle
                    +I('cube')
                    span Module
                .createTitle
                    +I('cube')
                    span Level
                .createTitle
                    +I('cube')
                    span Page
                .createTitle
                    +I('cube')
                    span Animation
                .createTitle
                    +I('cube')
                    span Class
                .createTitle
                    +I('cube')
                    span Script
            .debug-registrator.col-7-tp.debug-registrator-active
                input#contentType(type='hidden' value='element')
                label NAME:
                    input#elname(type='text')
                label TYPE:
                    select#eltype(name='elemType')
                        option(value='button') button
                        option(value='icon') Icon
                        option(value='icon-title-text') Icon Tytle-Text
                        option(value='link') Link
                        option(value='link-button') LinkButton
                        option(value='preloader') Preloader
                label(style='display:none') Slug:
                    input#slug(type='text')
                label(style='display:none') Layout:
                    input#layout(type='text', value='default')
                label(style='display:none') Main menu:
                    select#mainMenu(name='mainMenu')
                        option(value='false') false
                        option(value='true') true
                label(style='display:none') Group:
                    input#group(type='text',value='default')
                label(style='display:none') Additional Class:
                    input#dop_class(type='text')
                label EXTENDS:
                    select#elementExtends(name='vextends')
                        option(value='false') No extends
                        option(value='button') Icon
                        option Link
                        option LinkButton
                        option Icon
                        option Button
                        option Icon
                        option Link
                        option LinkButton
                        option Icon
                label PARENT
                    select#elementParent(type='text' name='parent' )
                        option(value='div') Div
                            option(value='section') Section
                            option(value='article') Article
                            option(value='aside') Aside
                            option(value='main') Main
                            option(value='header') Header
                            option(value='footer') Footer
                            option(value='nav') Nav
                            option(value='figcaption') Figcaption
                            option(value='figure') Figure
                label Save to Global library:
                    label No
                        input(type='radio' name='saveto' checked value="false")
                    label Yes
                        input(type='radio' name='saveto' value="true")
                label
                    button.creator Create
//STARTER
.debug-Dialog-start.notEdit.debug
    .quant Quant
        span THEME ENGINE
        span.ver Version: Pre Alpha 0.0.96
    .debug-Dialog-content
        .row
            .debug-subtitle.col-4-tp
                .createTitle.active.starterTabTrigger__1
                    +I('export')
                    | Load Project
                .createTitle.starterTabTrigger__2
                    +I('plus')
                    | Create Project
                .createTitle.starterTabTrigger__3
                    +I('plus')
                    | Create Content
                .createTitle.starterTabTrigger__4
                    +I('export')
                    | Load Content
            .debug-creator.col-8-tp
                .projectLoad.starterTab_1.starterTab
                    h6.quant
                        span Load Project
                    .row#projectsCtn
                .newProject.starterTab_2.starterTab.hidden
                    h6.quant
                        span Create Project
                        span.CreateProject.createButton Create
                    include includes/_createProjectPage
                .contentLoad.starterTab_3.starterTab.hidden
                    h6.quant
                        span Load Content
                .newElement.starterTab_4.starterTab.hidden
                    h6.quant
                        span Create Content
//STARTER
.debug-changeProp.notEdit.debug
    include includes/_changeOpt.pug
//Color Manager
.debug-colorManager
    include includes/_colorManager