.ElemMenu
    .ElemMenu__header
    .ElemMenu__section
        +I('trash')
    .ElemMenu__section
        +I('locked')
    .ElemMenu__section
        +I('unlocked')
    .ElemMenu__section
        +I('target')
div.clearfix.mediaChoiser.clearfix
            .hud-Button.f-left.on#css
                +I('css')
            .hud-Button.f-left#font
                +I('font')
            .iconMediachoiser.f-left.mediaTabletP.col-2-tp
                +I('computer2')
            .iconMediachoiser.f-left.mediaTabletL.col-2-tp
                +I('computer1')
            .iconMediachoiser.f-left.mediaDesctop.col-2-tp
                +I('computer')
            .iconMediachoiser.f-left.mediaDesctopLarge.col-2-tp
                +I('arrow')
.classMaker.rightPlTab
    section#context
    section#classSelector
    .combinedSelector
        section#selfProperties
        section#extendsSelectors
.showFonts.rightPlTab.hidden
    section.fontFilter
        span.filterButton.filterButton--cat handwriting
        span.filterButton.filterButton--cat Serif
        span.filterButton.filterButton--cat Sans-serif
        span.filterButton.filterButton--cat Display
        span.filterButton.filterButton--lan Latin
        span.filterButton.filterButton--lan Cyrillic
    section.fontList
        ul
section.row.hidden
    div.clearfix
        .col-6-tp
            label Block
                input(type='text' name='block').classChoser
            label Element
                input(type='text' name="element").classChoser
            label Modifier
                input(type='text' name="modifier").classChoser
            label Optional
                input(type='text' mame="optionalClass").classChoser
        .col-6-tp
            label Vendor classes
                select(multiple='multiple',size='5' name="vendorName")
                    option hide
                    option show
                    option clearfix
                    option mode
                    option active
                    option platform
                    option selected
                    option additional
                    option support
            label Project classes
                select(multiple='multiple',size='4')
                    option hide
                    option show
                    option clearfix
                    option mode
                    option active
.contentNavigator.debug.clearfix
    #contentNavigator__type.f-left.cntNav
        input
    #contentNavigator__stype.f-left.cntNav
        input
    #contentNavigator__name.f-left.cntNav
        input
section.row.hidden
    button#saveClass save



//.debug-Pannel-Right.notEdit
//    .debug-Pannel-Right__section.debugPannel__section
//        .debug-Pannel-Right-content
//            h6
//                +I('target')
//                | Classes
//            div.clearfix
//                .col-6-tp
//                    label Block
//                        input(type='text' name='block').classChoser
//                    label Element
//                        input(type='text' name="element").classChoser
//                    label Modifier
//                        input(type='text' name="modifier").classChoser
//                    label Optional
//                        input(type='text' mame="optionalClass").classChoser
//                .col-6-tp
//                    label Vendor classes
//                        select(multiple='multiple',size='5' name="vendorName")
//                            option hide
//                            option show
//                            option clearfix
//                            option mode
//                            option active
//                            option platform
//                            option selected
//                            option additional
//                            option support
//                    label Project classes
//                        select(multiple='multiple',size='4')
//                            option hide
//                            option show
//                            option clearfix
//                            option mode
//                            option active
//            h6
//                +I('text')
//                | Text & Font
//            div
//                button.propChangerButton center
//                button.propChangerButton left
//                button.propChangerButton right
//                input(type='hidden',value='text-align:').propChanger__propertyName
//                input(type='hidden' value='').propChanger__propertyDelimetr
//                hr
//                hr
//            h6
//                +I('column4')
//                | Grids
//            div.clearfix
//                .col-2-tp
//                    +I('computer3')
//                    +I('computer2')
//                    +I('computer1')
//                    +I('computer')
//                    +I('arrow')
//                .col-2-tp
//                    input( type="text" value=0 name="mobileGridder")
//                    input( type="text" value=0 name="tpGridder")
//                    input( type="text" value=0 name="tlGridder")
//                    input( type="text" value=0 name="desctopGridder")
//                    input( type="text" value=0 name="bigDesctopGridder")
//                .col-8-tp
//                    input( type="range" min="0" max="12" step="1" list="tickmarks" onchange="gridder('mobileGridder',this.value)" value="0")
//                    input( type="range" min="0" max="12" step="1" list="tickmarks" onchange="gridder('tpGridder',this.value)" value="0")
//                    input( type="range" min="0" max="12" step="1" list="tickmarks" onchange="gridder('tlGridder',this.value)" value="0")
//                    input( type="range" min="0" max="12" step="1" list="tickmarks" onchange="gridder('desctopGridder',this.value)" value="0")
//                    input( type="range" min="0" max="12" step="1" list="tickmarks" onchange="gridder('bigDesctopGridder',this.value)" value="0")
//                hr
//            h6 MediaChoser
//            div.clearfix
//                .mediaChoser
//                    +I('computer3')
//                .mediaChoser
//                    +I('computer2')
//                .mediaChoser
//                    +I('computer1')
//                .mediaChoser
//                    +I('computer')
//                .mediaChoser
//                    +I('arrow')
//
//            h6
//                +I('ruler')
//                | Size
//            div
//                button#100p 100%
//                hr
//            h6
//                +I('mp')
//                | Paddings & Margins
//            div
//                input( type="range" min=".1" max="2" step=".2" list="tickmarks" onchange="padder(this.value)")
//                input( type="range" min=".1" max="2" step=".2" list="tickmarks" onchange="padderrl(this.value)")
//                input( type="range" min=".1" max="2" step=".1" list="tickmarks" onchange="paddertb(this.value)")
//                hr
//                input( type="range" min=".1" max="2" step=".2" list="tickmarks" onchange="marginer(this.value)")
//                input( type="range" min=".1" max="2" step=".2" list="tickmarks" onchange="marginerrl(this.value)")
//                input( type="range" min=".1" max="2" step=".2" list="tickmarks" onchange="marginertb(this.value)")
//            h6
//                +I('boxborder')
//                | Border & Box
//            div
//            h6
//                +I('image')
//                | Background
//            div

