script(src='scripts/quant-debug-JsonCss.js')
script.
    var frameEl = function (el) {
       return $('iframe#index').contents().find(el)
    },
    frameContent = $('iframe#index').contents().find('body')

script
    include ../node_modules/ace-builds/src-min/ace.js
script
    include ../node_modules/ace-builds/src-min/theme-tomorrow_night_eighties.js
script
    include ../node_modules/ace-builds/src-min/mode-scss.js
script
    include ../node_modules/ace-builds/src-min/mode-jade.js
script
    include ../node_modules/ace-builds/src-min/mode-javascript.js
script
    include ../node_modules/ace-builds/src-min/ext-language_tools.js
script
    include quant-debug.js
script
    include viewpr.min.js
script
    include classMaker.js
script(src='maps/main.css.map' type='text')
script(role='scss').
    var editor = ace.edit("editorScss");
    ace.require("ace/ext/language_tools");
    ace.require('ace/multi_select');
    editor.setTheme("ace/theme/tomorrow_night_eighties");
    var scssMode = ace.require("ace/mode/scss").Mode;
    editor.session.setMode(new scssMode());

    var staticWordCompleter = {
        getCompletions: function(editor, session, pos, prefix, callback) {
            var wordList = ["foo", "bar", "baz"];
            callback(null, wordList.map(function(word) {
                return {
                    caption: word,
                    value: word,
                    meta: "static"
                };
            }));
        }
    }
    editor.resize()
    editor.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });
script(role='pug').
    var editorPug = ace.edit("editorPug");
    editorPug.setTheme("ace/theme/tomorrow_night_eighties");
    var PugMode = ace.require("ace/mode/jade").Mode;
    editorPug.session.setMode(new PugMode());

    var staticWordCompleter = {
        getCompletions: function(editorPug, session, pos, prefix, callback) {
            var wordList = ["foo", "bar", "baz"];
            callback(null, wordList.map(function(word) {
                return {
                    caption: word,
                    value: word,
                    meta: "static"
                };
            }));
        }
    }
    editorPug.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });
script(role='js').
    var editorJs = ace.edit("editorJs");
    ace.require("ace/ext/language_tools");
    ace.require('ace/multi_select');
    editorJs.setTheme("ace/theme/tomorrow_night_eighties");
    var JavaScriptMode = ace.require("ace/mode/javascript").Mode;
    editorJs.session.setMode(new JavaScriptMode());

    var staticWordCompleter = {
        getCompletions: function(editorJs, session, pos, prefix, callback) {
            var wordList = ["foo", "bar", "baz"];
            callback(null, wordList.map(function(word) {
                return {
                    caption: word,
                    value: word,
                    meta: "static"
                };
            }));
        }
    }
    editorJs.setOptions({
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true
    });
