include ../dev/templates/PAGESYSTEM/INCLUDES/_includes
include ../dev/templates/mixins/_mixins
script
	include jquery-ui.min.js
.top-panel-content.clearfix
	.quant.hud Q
	.projecttitleCtn.f-left
		span.projectTitle= head.title
		include _currentPage
		span.projectPage=currentPage
	.buttonsSection.f-left.clearfix
		a(href='/'+currentPage target="_blank").tabAnchr#playhref
			.hud-Button.f-left
				+I('play','playButston')
		.viewportButton.f-left
			.hud-Button.f-left.viewportSwitch(data-viewport='mobile')
				+I('computer3')
			.hud-Button.f-left.viewportSwitch(data-viewport='tablet')
				+I('computer2')
			.hud-Button.f-left.viewportSwitch(data-viewport='tabletL')
				+I('computer1')
			.hud-Button.f-left.viewportSwitch(data-viewport='laptop')
				+I('computer')
			.hud-Button.f-left.viewportSwitch(data-viewport='desktop')
				+I('arrow')
		.hud-Button.f-left#debugViewSwitcher
			+I('allocation')
		.hud-Button.f-left#colorSystem
			+I('pantone')
		.hud-Button.f-left#gridb
			+I('grid')
		.hud-Button.f-left#editorSwitcher
			+I('html')
		.hud-Button.f-left#optionSwitcher
			+I('settings')
		.hud-Button.f-left#spacerSwitcher
			+I('compass')
			.Qnt__dropMenu__TRIGGER
			.Qnt__dropMenu
				ul
					li.Qnt__dropMenu__spacer(data-content='element-i') Element i
					li.Qnt__dropMenu__spacer(data-content='element-o') Element o
					li.Qnt__dropMenu__spacer(data-content='component-i') Component i
					li.Qnt__dropMenu__spacer(data-content='component-o') Component o
					li.Qnt__dropMenu__spacer(data-content='module-i') Module i
					li.Qnt__dropMenu__spacer(data-content='module-o') Module o
					li.Qnt__dropMenu__spacer(data-content='block-i') Block i
					li.Qnt__dropMenu__spacer(data-content='block-o') Block o
					li.Qnt__dropMenu__Lock#lockSpacer(data-content='Block-o') LOCK
		.hud-Button.f-left#rulerSwitcher
			+I('timeline')
		.hud-Button.f-left#layers
			+I('four-layers')
		.hud-Button.f-left#testing
			+I('testing')
			.Qnt__dropMenu__TRIGGER
			.Qnt__dropMenu.clearfix
				.f-left(style='width:50%')
					.testLabel#violations Violations: |
						span
							| - 0
					.testLabel#inapplicable Inapplicable: |
						span
							| - 0
					.testLabel#incomplete Incomplete: |
						span
							| - 0
					.testLabel#passes Succes: |
						span
							| - 0
				.f-left(style='width:50%')
					.testButton#grayscale Grayscale
					.testButton#rotate Rotate
					.testButton#lighthouse LIGHTHOUSE CHECKING
				.testDesc(style='clear:both')
					ul

		.hud-Button.f-left#addContent
			+I('addContent','addContent')
		.hud-Button.f-left#resizer
			input#scaller(type = "range" min = ".3" max = "2" step = ".1"  onchange = "qscale(this.value)",value='1')
			span#scallerLabel(style="line-height:0; color:#006eb7 !important") 1
		.contentbuttons.f-left.clearfix
			.hud-Button.f-left#openInternet
				+I('internet')
				.Qnt__dropMenu__TRIGGER
				.Qnt__dropMenu
					ul
						li.Qnt__dropMenu__item(data-content='https://www.flaticon.com') ICONS: FlatIcons
						li.Qnt__dropMenu__item(data-content='http://allthefreestock.com/') SOURCE: FreeStocks
						li.Qnt__dropMenu__item(data-content='https://codemyui.com/') EXAMPLES: CodeMyUI
						li.Qnt__dropMenu__item(data-content='http://animista.net/') ANIMATE: Animista
						li.Qnt__dropMenu__item(data-content='https://tympanus.net/Development/ModalWindowEffects/') ANIMATE: MODAL
						li.Qnt__dropMenu__item(data-content='http://frontendchecklist.com/') Check List
			.hud-Button.f-left#openDownload
				+I('dock')
			.hud-Button.f-left#openSVGforSrite
				+I('svg')
			.contentNavigator.debug.clearfix
				#contentNavigator__type.f-left.cntNav
					input
				#contentNavigator__stype.f-left.cntNav
					input
				#contentNavigator__name.f-left.cntNav
					input
	.apiTester.f-right
		span#apitest
	.saveToServer.f-right
		button#savecode
			+I('save','saveMainButton')
			| save as code

