include ../dev/templates/PAGESYSTEM/INCLUDES/_includes
include ../dev/templates/mixins/_mixins
link(href='main.css',rel='stylesheet',type='text/css')
script(src='scripts/jquery.min.js')
script(src='scripts/jquery-ui.min.js')
script(src='scripts/quant-lib.js')
.top-panel-content
    span=head.title
