include ../dev/templates/PAGESYSTEM/INCLUDES/_includes
include ../dev/templates/mixins/_mixins
script
    include jquery-ui.min.js
.top-panel-content
    .quant.hud Q
    span.projectTitle= head.title
    .buttonsSection.f-left.clearfix
        .hud-Button.f-left#debugViewSwitcher
            +I('allocation')
        .hud-Button.f-left
            +I('pantone')
        .hud-Button.f-left#gridb
            +I('grid')
        .hud-Button.f-left#editorSwitcher
            +I('html')
        .hud-Button.f-left#optionSwitcher
            +I('settings')
        .hud-Button.f-left#spacerSwitcher
            +I('compass')
        .hud-Button.f-left#rulerSwitcher
            +I('timeline')
        .hud-Button.f-left
            +I('four-layers')
        .hud-Button.f-left
            +I('testing')
        .hud-Button.f-left#addContent
            +I('addContent','addContent')
        .hud-Button.f-left#savecode
            +I('savecode','savecode')
    .apiTester
        span#apitest
