doctype html
html(lang=''+head.lang)
    head
    body
        .hidden
        include _scripts
        .hud-wrapper
            .hud-topPanel
                include _top_panel
            .hud-leftPanel
                include _left_panel
            .hud-rightPanel
                include _right_panel
            .hud-bottomPanel
                include _bottom_panel
