/* topdashBoard STYLE */
.topdashBoard {
    &__content {
        background: cs('font-d2');
        color: #fff;
    }
    &__title { 

    }
    &__list{  
        font-size:0;
        padding: 0;
        margin: 0;
    }
}     