$bkgColor__sadsfff:#fff;
$bkgColor__sadsfff-hover:#fff;
$color__sadsfff-hover:#fff;
$color__sadsfff:#fff;

.sadsfff {
	position: relative;
	background-color: $bkgColor__sadsfff;
	color: $color__sadsfff;
		&:hover, &:focus, &:active {
		color: $color__sadsfff-hover;
		background-color: $bkgColor__sadsfff-hover;
		}
		&:focus {
			outline: none;
		}
		&:hover, &:active {
			outline: none;
	}
}