@mixin categories(){
	.categories{
      text-align: center;
      @include space('block','trbl','');
      background-color: #fff;
    }
  .categories__item {
    @include space('component','','tb');

  }
  .categories__item__title{
    line-height: 1.5;
    text-align: left;
    @include space('element','b','');
    font-size:2em;
    @include media('tablet'){
      text-align: center;
    }
  }
}