mixin categories()
    .categories.clearfix
        .row
        +loop(6)
            .col-4-m
                .categories__item
                    h2.categories__item__title Baciano
                    img(src="holder.js/355x260").categoryImage