@mixin sideBar(){

.sideBar{
  position: fixed;
  overflow: auto;
  width: 100%;
  bottom: 0;
  left: -100%;
  z-index: 91000;
  top: 0;
  height: 100%;
  @include space('block','a','');
  background-color: #fff;
}
  .sideBar__menu--personal,.sideBar__menu--catalog {
    @include space('component','','b')
  }
  .sideBar__menu--personal {
    .sideBar__menu--catalog__item {
      background-color: cs('bground');
    }
  }
  .sideBar__closer {
    text-align: right;
    @include space('block','','b')
  }
  .sideBar__menu {
    height: 100%;
    font-size: 1.4em;
  }
  .sideBar__menu--catalog__item {
    @include space('element','a','');
    border-bottom: solid 1px cs('bground-d');
  }
}