*{
  box-sizing: border-box;
}
.wrapper{
  width: 100%;
}
.container {
  display: block;
  margin: 0 auto;
}
.col-1-l,
.col-1-m,
.col-1-s {
  width: 8.33333%;
}
.col-2-l,
.col-2-m,
.col-2-s {
  width: 16.66666%;
}
.col-3-l,
.col-3-m,
.col-3-s {
  width: 25%;
}
.col-4-l,
.col-4-m,
.col-4-s {
  width: 33.33333%;
}
.col-5-l,
.col-5-m,
.col-5-s {
  width: 41.66666%;
}
.col-6-l,
.col-6-m,
.col-6-s {
  width: 50%;
}
.col-7-l,
.col-7-m,
.col-7-s {
 width: 58.33333%;
}
.col-8-l,
.col-8-m,
.col-8-s {
  width: 66.66666%;
}
.col-9-l,
.col-9-m,
.col-9-s {
  width: 75%;
}
.col-10-l,
.col-10-m,
.col-10-s {
  width: 83.33333%;
}
.col-11-l,
.col-11-m,
.col-11-s {
  width: 91.66666%;
}
.col-12-l,
.col-12-m,
.col-12-s {
  width: 100%;
}
.col-1-l,
.col-1-m,
.col-1-s {
  width: 8.33333%;
}
.col-2-l,
.col-2-m,
.col-2-s,
.col-3-l,
.col-3-m,
.col-3-s,
.col-4-l,
.col-4-m,
.col-4-s,
.col-5-l,
.col-5-m,
.col-5-s,
.col-6-l,
.col-6-m,
.col-6-s,
.col-7-l,
.col-7-m,
.col-7-s,
.col-8-l,
.col-8-m,
.col-8-s,
.col-9-l,
.col-9-m,
.col-9-s,
.col-10-l,
.col-10-m,
.col-10-s,
.col-11-l,
.col-11-m,
.col-11-s,
.col-12-l,
.col-12-m,
.col-12-s {
  float: left;
}
