/**
* pageBreadcrumbs styles
*/

@mixin pageBreadcrumbs(){

  .pageBreadcrumbs {
     
    &__content {
        z-index:0;
        width: 100%;
        background: cs('background');
        margin-bottom: vr-block(.5);  
        @include for-size(tablet-l-up){
            margin-top: 20px;
        }
    //display: none;
    }
    &__list{
        // padding-top: vr-block(.4);
         //background: #fff;
       // border-bottom-left-radius:3px;
        //border-bottom-right-radius:3px;
    }
    &__item{
        position:relative;
        display: inline-block;
        margin: 0 vr-block(.1);
        font-size: .9rem;
        font-weight:bold;
        //padding-right:vr-block(.2);
        &:first-child{
            &:before{
                content:'';
                margin:0;
            }
        }
      @include for-size(phone-only){
          display: none;
      }
        color:cs('primary');
        &:before{
            font-size: .6em;
            margin-right: (vr-block(.6));
        }
        
        &:nth-last-child(2){
            @include for-size(phone-only){
                     padding:vr-block(.4);
                  //font-weight:normal;
                    font-size: 1.2rem;
                    margin-right:-.8em;
                    margin-left:-.8em;
                    display: block;
                    background: #fff;
                    a{
                        vertical-align:middle;
                    }
            }
           

            &.icon-to-right:before{
                @include for-size(phone-only){
               content:'';
                font-size: 1rem;
                margin-right: .4em;
                vertical-align: middle;
                vertical-align:middle;
                }

               // font-weight: bold;
            }
        }
       /*  &:after{
           content: "\2192";
           
       } */

        &:last-child{
            //color: cs('background-d2');
           color: darken(cs('background-d2'),35%);
            &:after{
                
                  content: "\2193";
                  color: cs('background-d2');
                  vertical-align:middle;

            }
        }
       
    }
  }

}


////////////////////////////////////////
@include pageBreadcrumbs();