mixin MODULE-pageBreadcrumbs()
	-if(page.slug!='main')
		<!-- split modules/pageBreadcrumbs -->
		.pageBreadcrumbs__content(data-qcontent='module__pageBreadcrumbs')
			.container
				nav.pageBreadcrumbs
					ul.pageBreadcrumbs__list
						li.pageBreadcrumbs__item
							a Главная 
						li.pageBreadcrumbs__item.icon-to-right
							a Каталог
						li.pageBreadcrumbs__item.icon-to-right
							a Сантехника
						li.pageBreadcrumbs__item.icon-to-right
							a Душевые кабины