mixin MODULE-IBGrid()
	<!-- split modules/IBGrid -->
	.IBGrid__content(data-qcontent='module__IBGrid')
		.group.group--el.group--v-el
			+loop(12) 
				.col.col-6-tp.hideFrom-tl   
					.testgrid 1      
