$bkgColor__toCart:cs('accent');
$bkgColor__toCart-hover:cs('accent-d');
$color__toCart-hover:#fff;
$color__toCart:#fff;

.toCart {
	background-color: $bkgColor__toCart;
	color: $color__toCart;
	border: none;
	@include space('element','a','');
	height: 4em;
	width:100%;
	margin: 0;
		&:hover, &:focus, &:active {
		background-color: $bkgColor__toCart-hover;
		}
		&:focus {
			outline: none;
		}
		&:hover, &:active {
			outline: none;
	}
}