mixin LEVEL-mainPageSection(title,className)
	-if (!className) className =''
	.mainPageSection__content(class = 'page__content'+ className data-qcontent='level__mainPageSection')
		h2.mainPageSection__title=title
		block mainPageSection