mixin hamburger()
    .menu-hamburger
        .menu-hamburger__partsWrap
            span.menu-hamburger__part.menu-hamburger--top
            span.menu-hamburger__part.menu-hamburger--middle
            span.menu-hamburger__part.menu-hamburger--bottom


