.menu-hamburger{
  height: 100%;
  .menu-hamburger__part{
    @include space('element','','b');
    border-radius: 3px;
    display: block;
    width: 80%;
    height: .5rem;
    background-color: cs('fground');
  }
}
