.menu-hamburger{
position: relative;
  top:0;
  bottom: 0;
  .menu-hamburger__part{
    position: relative;
    margin: 0 auto 6px auto;
    vertical-align: middle;
    margin-bottom: 6px;
    border-radius: 2px;
    display: block;
    width: 36px;
    height: .4rem;
    background-color: cs('fground');
  }
}
