.menu-hamburger{
  display: table;
position: relative;
  margin: 0 auto;
  height: s-height(1,'module');
  cursor: pointer;
  .menu-hamburger__part{
    position: relative;
    vertical-align: middle;
    margin-bottom: 8px;
    border-radius: 1px;
    display: block;
    width: 2rem;
    height: .2rem;
    background-color: cs('fground');
    &:last-child{
      margin-bottom: 0;
    }
  }

}
.menu-hamburger__partsWrap{
  display: table-cell;
  vertical-align: middle;
}
