$bkgColor__learnMoreButton:transparent;
$bkgColor__learnMoreButton-hover:cs('accent');
$color__learnMoreButton-hover:#fff;
$color__learnMoreButton:#000000;
$color__learnMoreButton-visited: #232323;

.learnMoreButton {
	display: inline-block;
	background-color: $bkgColor__learnMoreButton;
	color: $color__learnMoreButton;
	border: 2px solid cs('accent');
	@include space-i('component','=','tb','b');
	@include space-i('block','-','rl','');

		&:hover, &:focus{
		color: $color__learnMoreButton-hover;
		background-color: $bkgColor__learnMoreButton-hover;
		}
	&:active {
		background-color: darken($bkgColor__learnMoreButton-hover,5%);
		border-color: darken($bkgColor__learnMoreButton-hover,5%);;
	}
	&:visited {
		color: $color__learnMoreButton-visited;
		}
		&:hover,
		&:focus,
		&:active {
		color: $color__learnMoreButton-hover;
		}
		&:focus {
		outline: none;
		}
		&:hover,
		&:active {
		outline: none;
		}
	&.learnMoreButton--onImage{
		color: #fff;
	}
}