@mixin catalogMenu(){
	
.catalogMenu{
  position: relative;
  .catalogMenu__button {
    display: block;
    background-color: cs('accent');
    position: relative;
    color: #fff;
    text-transform: uppercase;
    height: 70px;
    line-height: 70px;
    text-align: center;
    cursor: pointer;
    @include a-hover('background-color',(from:0,to:cs('accent-l')),1s,ease);
    &:after{
      content: '';
      position: absolute;
      bottom: -3px;
      width: 100%;
      height: 3px;
      left:0;
      background-color: cs('accent-d');

    }
  }
  .catalogMenu__list {
    width: 100%;
    background-color: #fff;
    position: absolute;
    z-index: 6000;
    box-shadow: 3px 0px 3px silver;
  }
  .catalogMenu__list__item {
    position: relative;
    @include space('element','tb','');
    @include space('component','l','');
    cursor: pointer;
    font-weight: bold;
    @include a-hover('background-color',(from:0,to:0),.13s,linear);
    .angleR {
      position: absolute;
      right: 5%;
    }

  }
  .catalogMenu__wrapper {
    position: relative;
    background-color: #fff;
  }
  .catalogMenu__list--L1{
    width: 99.8%;
  }
  .catalogMenu__list--L2{
    width: 150%;
    right: -149.8%;
    display: none;
    z-index: 5999;
  }
  .catalogMenu__list--L3{
    width: 150%;
    right: -299.8%;
    display: none;
    z-index: 5998;
  }
  .catalogMenu__list__item--active {
    background-color: darken(cs('bground'),4%);


  }
}

}