/**
* catalog styles
*/

@mixin catalog(){
     .catalog__mobile{
           background: darken(cs('primary-l'),4%);    
     }
  .catalog {
    &__content {
        font-size:0;
        .icon--to-right{ 
             height: 100%;
             width:.8em;  
             //height:59px;
             fill:#fff;
             float:right;   
             margin-right: vr-block(.6);
             vertical-align:top;
             //margin-left:.2em;
             transition: transform .2s ease;
        } 
    }
    &__by--brand {
        background: cs('primary');   
    }
    &__by-m{
        font-size: 1rem;
        font-weight: bold;
        display:inline-block; 
        vertical-align:middle;
        
        color:#fff;
        
        height: 60px;
        text-transform: uppercase;
        text-align: center;
        //padding:0 .8em;
        line-height: 60px;  
        cursor: pointer;
        width:50%;      
    }
    &__by,&__mobile{
        font-size: 1rem;
        font-weight: bold;
        display:inline-block; 
        vertical-align:middle;
        
        color:#fff;
        
        height: 60px;
        text-transform: uppercase;
        text-align: center;
        //padding:0 .8em;
        line-height: 60px;  
        cursor: pointer;
        width:50%;  
        &--hovered{
            background:cs('primary-l');
            .icon--to-right{  
            transform: rotate(90deg);      
            }
        }
        &--category, .catalog__mobile{
             background: darken(cs('primary-l'),4%);  
                    &--onMain{ 
                         
                        .icon--to-right{
                        transform: rotate(90deg) !important;   
            }
        }

        }   
        &:hover{      
            background:cs('primary-l');      
            .icon--to-right{
            transform: rotate(90deg); 
            }
        }
        &--category{      
            
        }
        &:hover .icon-to-right{  
            transform: rotate('90deg');
        }
       
    }
  }

}


////////////////////////////////////////
@include catalog();