mixin MODULE-catalog()
	<!-- split modules/catalog -->
	.catalog__content(data-qcontent='module__catalog')
		span.catalog__by.catalog__by--category Категории 
			+I('to-right','to-right')
		span.catalog__by.catalog__by--brand Бренды 
			+I('to-right','to-right')