/**
* catalog styles
*/

@mixin catalog(){
  .catalog {
    &__content {
        //height: 100%;
        .icon--to-right{ 
             height: 100%;
             width: 1em;
             //height:59px;
             fill:#fff;
             float:right;
             vertical-align:top;
             //margin-left:.2em;
             transition: transform .2s ease;
        } 
    }
    &__by{
       
        display:inline-block;
        vertical-align:middle;
        color:#fff;
        height: 60px;
        text-transform: uppercase;
        text-align: center;
        //margin: -10px 0;
        padding: 0 .8em; 
        line-height: 60px;  
        cursor: pointer;
        width:50%;
        &--hovered{ 
            background:cs('primary-l');
            .icon--to-right{
            transform: rotate(90deg);
            }
        }
        &:hover{ 
            background:cs('primary-l');
            .icon--to-right{
            transform: rotate(90deg);
            }
        }
        &--category{
            
        }
        &:hover .icon-to-right{  
            transform: rotate('90deg');
        }
       
    }
  }

}


////////////////////////////////////////
@include catalog();