mixin MODULE-catalog()
	if(page.slug == 'main')
		-var classN = 'catalog__by--hovered'
	else 
		-var classN = ''
		
	<!-- split modules/catalog -->  
	ul.catalog__content(data-qcontent='module__catalog')    
		li.catalog__by.catalog__by--category.clearfix.col.showFrom-tl#js-CatChoiser(class=' ' + classN)
			+I('menu','categories') 
			span.catalog__elemTitle Кaталог  
			+I('to-right','to-right f-right')
		li.catalog__mobile.col.hideFrom-tl#mm-button
			+I('menu','categories')  
			span.catalog__elemTitle Кaталог        
		li.catalog__by.catalog__by--brand.col.showFrom-tl.clearfix#js-BrandChoiser
			+I('star1','categories ')
			span.catalog__elemTitle Бренды    
			+I('to-right','to-right f-right')
		li.catalog__by-m.clearfix.col.hideFrom-tl#js-BrandChoiser-m
			+I('star1','categories ')
			span.catalog__elemTitle Бренды
			+I('to-right','to-right f-right')
  